Repository elastic/apm-agent-java, pull requests merged in 2020-12, with the labels that each got.

#1541 [load test] build test app with recent JDK
  .ci/load/Jenkinsfile
  .ci/load/scripts/fetch_sdk.sh
Labels: agent-java, ci

#1550 Fix load testing build with multiple JDKs
  .ci/load/Jenkinsfile
  .ci/load/scripts/java_major.sh
Labels: agent-java

#1553 [load testing] simplify, rince and repeat
  .ci/load/Jenkinsfile
  .ci/load/scripts/app.sh
Labels: agent-java

#1557 [load testing] fix test app & agent paths
  .ci/load/Jenkinsfile
Labels: agent-java

#1558 [load testing] Simplify form input
  .ci/load/Jenkinsfile
  .ci/load/README.md
  .ci/load/scripts/param_gen/gen_params.py
  .ci/load/scripts/param_gen/requirements.txt
Labels: agent-java

#1556 [CI] Download maven dependencies firstly
  .ci/packer_cache.sh
  Jenkinsfile
Labels: agent-java, automation, ci

#1559 Fix handling of some more invalid Micrometer metric values
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializer.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerMetricsReporterTest.java
Labels: agent-java, type: bug

#1560 [load testing] make it work with all JDK catalog
  .ci/load/Jenkinsfile
  .ci/load/scripts/fetch_sdk.sh
  .ci/load/scripts/java_major.sh
Labels: agent-java

#1564 [JJBB] Load testing MBP
  .ci/jobs/apm-agent-java-load-mbp.yml
  .ci/load/Jenkinsfile
Labels: agent-java, automation, ci

#1569 Mark async_profiler_safe_mode as dynamic
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/ProfilingConfiguration.java
Labels: agent-java

#1571 Fix serializing all stack trace frames
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
Labels: agent-java

#1572 Clarify attach docs
  docs/setup-attach-cli.asciidoc
Labels: agent-java

#1565 Improve load testing PR
  .ci/load/Jenkinsfile
  .ci/load/scripts/app.sh
  .ci/load/scripts/fetch_sdk.sh
  .ci/load/scripts/load_agent.sh
  .ci/load/scripts/locustfile.py
Labels: agent-java

#1585 Restore Oracle DB test
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/JdbcDbIT.java
Labels: agent-java

#1576 properly handle exception on ServletContext.getClassLoader()
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletApiAdvice.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/helper/ServletTransactionCreationHelper.java
Labels: agent-java

#1328 Add RabbitMQ support
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/resources/log4j2-test.xml
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-base-plugin/src/main/java/co/elastic/apm/agent/kafka/KafkaProducerInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/pom.xml
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/src/main/java/co/elastic/apm/agent/rabbitmq/BaseInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/src/main/java/co/elastic/apm/agent/rabbitmq/ChannelInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/src/main/java/co/elastic/apm/agent/rabbitmq/ConsumerInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/src/main/java/co/elastic/apm/agent/rabbitmq/header/RabbitMQTextHeaderGetter.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/src/main/java/co/elastic/apm/agent/rabbitmq/header/RabbitMQTextHeaderSetter.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/src/main/java/co/elastic/apm/agent/rabbitmq/header/package-info.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/src/main/java/co/elastic/apm/agent/rabbitmq/package-info.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/src/test/java/co/elastic/apm/agent/rabbitmq/RabbitMQTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/src/test/java/co/elastic/apm/agent/rabbitmq/header/RabbitMQTextHeaderGetterTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-plugin/src/test/java/co/elastic/apm/agent/rabbitmq/header/RabbitMQTextHeaderSetterTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-test-3/pom.xml
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-test-3/src/test/java/co/elastic/apm/agent/rabbitmq/RabbitMQ3xPluginIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-test-4/pom.xml
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-test-4/src/test/java/co/elastic/apm/agent/rabbitmq/RabbitMQ4xPluginIT.java
  apm-agent-plugins/apm-rabbitmq/pom.xml
  apm-agent-plugins/pom.xml
  docs/configuration.asciidoc
  docs/supported-technologies.asciidoc
  elastic-apm-agent/pom.xml
Labels: [zube]: In Review, agent-java

#1587 [load-testing] fix java7 detection for azul JVM
  .ci/load/Jenkinsfile
Labels: agent-java

#1586 remove non-Multi-Branch-Pipeline load testing job
  .ci/jobs/apm-agent-java-load.yml
Labels: agent-java

#1588 ci: disable TLS verify
  .ci/load/Jenkinsfile
Labels: agent-java, automation, ci

#1579 Using body buffer only if writing to it is finished
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/Request.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/TransactionUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/BodyProcessorTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/TransactionContextTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-core/src/test/java/org/example/stacktrace/ErrorCaptureTest.java
Labels: agent-java, type: bug
