Repository elastic/apm-agent-java, pull requests merged in 2021-12, with the labels that each got.

#2301 test: synchronizing gherkin spec
  apm-agent-core/src/test/resources/specs/user_agent.feature
Labels: automation, agent-java

#2304 Execute runtime attach in verify phase
  integration-tests/runtime-attach/runtime-attach-test/src/test/java/co/elastic/apm/testapp/RuntimeAttachTestIT.java
Labels: agent-java

#2298 ci: move the benchmark env variables
  Jenkinsfile
Labels: automation, bug, agent-java, Team:Automation

#2302 [release] fix+refactor major branch update
  .ci/release/Jenkinsfile
  .ci/release/update_cloudfoundry.sh
  .ci/release/update_major_branch.sh
  .ci/release/util.sh
  .ci/release/wait_maven_artifact_published.sh
  .ci/release/wait_release_notes_published.sh
  scripts/jenkins/update_cloudfoundry.sh
Labels: agent-java

#2307 test: synchronizing json spec
  apm-agent-core/src/test/resources/json-specs/span_types.json
Labels: automation, agent-java

#2300 Switching to SpanConcurrentHashMap in HttpUrlConnection instr
  apm-agent-plugins/apm-urlconnection-plugin/src/main/java/co/elastic/apm/agent/urlconnection/HttpUrlConnectionInstrumentation.java
Labels: agent-java

#2299 Support tomcat10
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  docs/configuration.asciidoc
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractServletContainerIntegrationTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/JakartaeeTomcatIT.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/CdiJakartaeeApplicationServerTestApp.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/CdiJakartaeeServletContainerTestApp.java
  integration-tests/cdi-jakartaee-app/cdi-jakartaee-app-dependent/pom.xml
  integration-tests/cdi-jakartaee-app/cdi-jakartaee-app-dependent/src/main/java/co/elastic/apm/test/GreeterEE9Manager.java
  integration-tests/cdi-jakartaee-app/cdi-jakartaee-app-dependent/src/main/java/co/elastic/apm/test/GreeterEE9ManagerImpl.java
  integration-tests/cdi-jakartaee-app/cdi-jakartaee-app-dependent/src/main/java/co/elastic/apm/test/GreeterEE9Servlet.java
  integration-tests/cdi-jakartaee-app/cdi-jakartaee-app-dependent/src/main/webapp/WEB-INF/beans.xml
  integration-tests/cdi-jakartaee-app/cdi-jakartaee-app-dependent/src/main/webapp/WEB-INF/web.xml
  integration-tests/cdi-jakartaee-app/cdi-jakartaee-app-dependent/src/main/webapp/status.html
  integration-tests/cdi-jakartaee-app/cdi-jakartaee-app-standalone/pom.xml
  integration-tests/cdi-jakartaee-app/pom.xml
  integration-tests/pom.xml
Labels: agent-java

#2309 add tomcat10 support to changelog
  CHANGELOG.asciidoc
Labels: agent-java

#2184 Compatibility test JDK 17
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  Jenkinsfile
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/bytebuddy/ErrorLoggingListener.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testinstr/OptionConverterInstrumentation.java
  apm-agent-plugins/apm-log-correlation-plugin/src/test/java/co/elastic/apm/agent/mdc/MdcActivationListenerIT.java
  apm-agent-plugins/apm-log-correlation-plugin/src/test/java/co/elastic/apm/agent/mdc/MdcActivationListenerTest.java
  apm-agent-plugins/apm-log-correlation-plugin/src/test/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-log-shader-plugin/apm-log-shader-plugin-common/src/test/java/co/elastic/apm/agent/log/shader/LogShadingInstrumentationTest.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log4j1-plugin/src/test/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-urlconnection-plugin/src/test/java/co/elastic/apm/agent/urlconnection/SSLContextInstrumentationTest.java
  mvnw
  mvnw.cmd
  pom.xml
Labels: agent-java, chore

#2313 Fix APM Server version parsing
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerHealthChecker.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/Version.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerHealthCheckerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/VersionTest.java
Labels: agent-java

#2316 Linking to official Lambda extension documentation
  docs/setup-aws-lambda.asciidoc
Labels: agent-java

#2320 Using path for Spring MVC transactions only as fallback
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-spring-webmvc-plugin/src/main/java/co/elastic/apm/agent/springwebmvc/SpringTransactionNameInstrumentation.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/test/java/co/elastic/apm/agent/springwebmvc/SpringTransactionNameInstrumentationTest.java
Labels: agent-java

#2312 ci: use Google Storage to speed up stash/unstash
  Jenkinsfile
Labels: automation, agent-java

#2308 opentelemetry: use io.opentelemetry.contrib
  pom.xml
Labels: agent-java

#2322 Switch to using Span concurrent weak map in Vert.x 3
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/WebHelper.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http1/HttpServerRequestImplEndInstrumentation.java
Labels: agent-java

#2323 Switching to use Span concurrent map in Scala plugin
  apm-agent-plugins/apm-scala-concurrent-plugin/src/main/java/co/elastic/apm/agent/scalaconcurrent/FutureInstrumentation.java
Labels: agent-java

#2324 Try to fix flaky test
  apm-agent-plugins/apm-quartz-job-plugin/apm-quartz-1-plugin/src/test/java/co/elastic/apm/agent/quartzjob/Quartz1JobTransactionNameInstrumentationTest.java
  apm-agent-plugins/apm-quartz-job-plugin/apm-quartz-2-plugin/src/test/java/co/elastic/apm/agent/quartzjob/Quartz2JobTransactionNameInstrumentationTest.java
Labels: agent-java, community, triage

#2292 Support to selectively enable instrumentations
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/InstrumentationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/CoreConfigurationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/MockitoMatchers.java
  apm-agent-plugins/apm-servlet-jakarta-test/src/test/java/co/elastic/apm/agent/servlet/JakartaServletInstrumentationTest.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletApiAdvice.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/ServletInstrumentationTest.java
  docs/configuration.asciidoc
Labels: agent-java, community, triage

#2332 Disable log4j lookups
  apm-agent-attach-cli/src/test/resources/log4j2.xml
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/Log4j2ConfigurationFactory.java
  apm-agent-core/src/test/resources/log4j2-test.xml
  apm-agent/pom.xml
Labels: agent-java

#2335 Remove JndiLookup from attach-cli
  apm-agent-attach-cli/pom.xml
  apm-agent/pom.xml
Labels: agent-java

#2342 Update to log4j 2.12.2
  CHANGELOG.asciidoc
  pom.xml
Labels: agent-java

#2341 Fix J9 Module
  CHANGELOG.asciidoc
  apm-agent-bootstrap/pom.xml
  apm-agent-bootstrap/src/main/java/bootstrap/dispatcher/IndyBootstrapDispatcher.java
  apm-agent-bootstrap/src/main/java/bootstrap/modulesetter/ModuleSetter.java
  apm-agent-bootstrap/src/main/resources/bootstrap/co/elastic/apm/agent/modulesetter/ModuleSetter.esclazz
  apm-agent-bootstrap/src/main/resources/bootstrap/java/lang/IndyBootstrapDispatcher.esclazz
  apm-agent-core/pom.xml
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/IndyBootstrap.java
  apm-agent-core/src/main/resources/bootstrap/IndyBootstrapDispatcher.clazz
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/IndyBootstrapTest.java
  apm-agent/pom.xml
  apm-indy-bootstrap-module/pom.xml
  elastic-apm-agent/pom.xml
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/TomcatIT.java
  pom.xml
Labels: agent-java, await-release

#2347 fix duplicated classes in bootstrap jar
  apm-agent-bootstrap/pom.xml
  apm-agent-bootstrap/src/main/resources/bootstrap/co/elastic/apm/agent/modulesetter/ModuleSetter.esclazz
  apm-agent-bootstrap/src/main/resources/bootstrap/java/lang/IndyBootstrapDispatcher.esclazz
  pom.xml
Labels: agent-java, await-release

#2343 Fixing log4j configuration initialization
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log4j2-plugin/src/test/java/co/elastic/apm/agent/log4j2/LegacyLog4j2ShadingTest.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log4j2-plugin/src/test/java/co/elastic/apm/agent/log4j2/Log4j2ShadingTest.java
Labels: bug, agent-java, await-release

#2351 ci: update opbeans branch to main
  Jenkinsfile
Labels: agent-java

#2325 Use `unknown-${service.agent.name}-service` instead of `my-service`
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/ServiceNameUtil.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/ServiceNameUtilTest.java
Labels: agent-java, community, triage

#2339 Restore "known old version of byte-buddy" in runtime-attach-app
  integration-tests/runtime-attach/runtime-attach-app/pom.xml
Labels: agent-java, community

#2340 Only use `Connection#getCatalog` if it is supported by the JDBC driver
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/helper/JdbcGlobalState.java
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/helper/JdbcHelper.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/AbstractJdbcInstrumentationTest.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/TestConnection.java
Labels: agent-java, community, triage

#2310 Attacher CLI docs and logging changes
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentAttacher.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/AgentAttacherTest.java
  docs/setup-attach-cli.asciidoc
Labels: agent-java

#2360 Upgrading Byte Buddy version to 1.12.6
  .github/dependabot.yml
  pom.xml
Labels: agent-java

#2362 Fix keystore for APM-server communication
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ssl/SslUtils.java
Labels: agent-java, await-release

#2354 Update ITs main
  Jenkinsfile
Labels: agent-java

#2364 Upgrading log4j to 2.12.3
  CHANGELOG.asciidoc
  pom.xml
Labels: agent-java

#2365 Upgrading ECS logging to 1.3.0
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/generated/HelloGrpc.java
  apm-agent-plugins/apm-log-shader-plugin/pom.xml
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/PayaraIT.java
  pom.xml
Labels: agent-java

#2370 Fix @Traced annotation outcome
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/TracedInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/test/java/co/elastic/apm/api/AnnotationApiTest.java
Labels: agent-java, community, triage

#2361 Try to fix flaky VertxServerTest
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/VertxTestHttpServer.java
Labels: agent-java, community, triage

#2372 Restore Payara tests
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/PayaraIT.java
Labels: agent-java

#2378 Upgrading log4j to 2.12.4
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-log-shader-plugin/pom.xml
  pom.xml
Labels: agent-java
