Repository elastic/apm-agent-java, pull requests merged in 2021-09, with the labels that each got.

#2095 Migrate Kafka to indy plugin
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/bytebuddy/postprocessor/AssignToPostProcessorFactory.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/advice/AssignTo.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-base-plugin/src/main/java/co/elastic/apm/agent/kafka/BaseKafkaInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-base-plugin/src/main/java/co/elastic/apm/agent/kafka/KafkaConsumerInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-base-plugin/src/main/java/co/elastic/apm/agent/kafka/KafkaProducerInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-base-plugin/src/main/java/co/elastic/apm/agent/kafka/helper/CallbackWrapper.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-base-plugin/src/main/java/co/elastic/apm/agent/kafka/helper/KafkaInstrumentationHelper.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-base-plugin/src/main/java/co/elastic/apm/agent/kafka/helper/KafkaInstrumentationHelperImpl.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/BaseKafkaHeadersInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/ConsumerRecordsIteratorInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/ConsumerRecordsRecordListInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/ConsumerRecordsRecordsInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/KafkaConsumerRecordsInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/KafkaProducerHeadersInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/helper/ConsumerRecordsIterableWrapper.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/helper/ConsumerRecordsIteratorWrapper.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/helper/ConsumerRecordsListWrapper.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/helper/KafkaInstrumentationHeadersHelper.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/helper/KafkaInstrumentationHeadersHelperImpl.java
Labels: agent-java, chore

#2094 Migrate trace_methods to indy plugin
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/methodmatching/package-info.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/matcher/MethodMatcher.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/matcher/MethodMatcherValueConverter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/tracemethods/TraceMethodInstrumentation.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/tracemethods/package-info.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/matcher/MethodMatcherInstrumentationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/matcher/MethodMatcherTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/matcher/MethodMatcherValueConverterTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/tracemethods/TraceMethodInstrumentationTest.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/test/java/co/elastic/apm/agent/concurrent/AsyncTraceMethodInstrumentationTest.java
Labels: agent-java, chore

#2100 Remove helper class manager
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/HelperClassManager.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/HelperHolder.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/HelperClassManagerTest.java
  apm-agent-plugins/apm-process-plugin/src/main/java/co/elastic/apm/agent/process/ProcessHelper.java
Labels: agent-java

#2085 Enforce server schema validation
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerClient.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/Version.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/context.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/errors/error.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/errors/payload.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/process.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/request.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/service.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/sourcemaps/payload.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/stacktrace_frame.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/system.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/transactions/mark.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/transactions/payload.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/transactions/span.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/transactions/transaction.json
  apm-agent-core/src/test/resources/apm-server-schema/v6_5/user.json
Labels: technical-debt, agent-java

#2099 use request URI when servlet path is not available
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/helper/ServletTransactionCreationHelper.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/ApmFilterTest.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/VertxTestHttpServer.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractServletContainerIntegrationTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/TomcatIT.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/TestApp.java
Labels: agent-java

#2098 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/error.json
  apm-agent-core/src/test/resources/apm-server-schema/current/span.json
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: automation, agent-java

#2107 Dubbo indy migration part II
  apm-agent-plugins/apm-dubbo-plugin/src/main/java/co/elastic/apm/agent/dubbo/AlibabaResponseCallbackInstrumentation.java
  apm-agent-plugins/apm-dubbo-plugin/src/main/java/co/elastic/apm/agent/dubbo/AlibabaResponseFutureInstrumentation.java
  apm-agent-plugins/apm-dubbo-plugin/src/main/java/co/elastic/apm/agent/dubbo/AlibabaRpcContextInstrumentation.java
Labels: agent-java

#2106 test: synchronizing json spec
  apm-agent-core/src/test/resources/json-specs/span_types.json
Labels: automation, agent-java

#2110 Fix docs about plugin package scanning
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/ElasticApmInstrumentation.java
Labels: agent-java

#2103 CI: use maven OTEL extension in the CI
  Jenkinsfile
  pom.xml
Labels: automation, agent-java

#2081 Replace WeakConcurrentMaps with SpanConcurrentHashMaps in gRPC plugin
  apm-agent-core/src/test/java/co/elastic/apm/agent/AbstractInstrumentationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/ChannelInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/ClientCallImplInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/GrpcHelper.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/AbstractGrpcServerInstrumentationTest.java
Labels: agent-java, chore

#2093 Replace WeakConcurrentMaps with SpanConcurrentHashMaps in simple plugins
  apm-agent-plugins/apm-asynchttpclient-plugin/src/main/java/co/elastic/apm/agent/asynchttpclient/AbstractAsyncHttpClientInstrumentation.java
  apm-agent-plugins/apm-dubbo-plugin/src/main/java/co/elastic/apm/agent/dubbo/AlibabaCallbackHolder.java
  apm-agent-plugins/apm-process-plugin/src/main/java/co/elastic/apm/agent/process/ProcessHelper.java
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-plugin/src/main/java/co/elastic/apm/agent/lettuce/Lettuce34Instrumentation.java
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-plugin/src/main/java/co/elastic/apm/agent/lettuce/Lettuce5StartSpanInstrumentation.java
Labels: agent-java, chore

#2112 Align span subtype for SqlServer
  CHANGELOG.asciidoc
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/resources/json-specs/span_types.json
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/helper/ConnectionMetaData.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/JdbcDbIT.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/helper/ConnectionMetaDataTest.java
Labels: agent-java, chore

#1965 Adding debug messages to service name auto discovery
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletTransactionHelper.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/main/java/co/elastic/apm/agent/springwebmvc/SpringServiceNameInstrumentation.java
Labels: agent-java

#2118 Fixing GlobalThreadLocal to use per-thread default values
  CHANGELOG.asciidoc
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/state/GlobalThreadLocal.java
  apm-agent-plugin-sdk/src/test/java/co/elastic/apm/agent/sdk/state/GlobalThreadLocalTest.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttpClientHelper.java
Labels: agent-java

#2123 Use stable branch for release
  .ci/release/Jenkinsfile
Labels: agent-java

#2124 [release] fix variable name
  .ci/release/Jenkinsfile
Labels: agent-java

#2125 [release] disable executed stages for the timebeing
  .ci/release/Jenkinsfile
Labels: agent-java

#2127 Release: nexus step manually for the time being
  .ci/release/Jenkinsfile
Labels: agent-java

#2128 [release] fix branch creation step
  .ci/release/Jenkinsfile
  scripts/jenkins/branch_creation.sh
  scripts/jenkins/is_major.sh
Labels: automation, agent-java

#2129 [release] another fix in the build
  .ci/release/Jenkinsfile
Labels: agent-java

#2131 [release] Fetch before checking out
  .ci/release/Jenkinsfile
Labels: agent-java

#2132 [release] use labels with docker and ubuntu
  .ci/release/Jenkinsfile
  scripts/jenkins/update_cloudfoundry.sh
Labels: agent-java

#2133 [release] fix & simplify docs publication check
  .ci/release/Jenkinsfile
  scripts/jenkins/docs_check.sh
  scripts/jenkins/docs_release_check/Dockerfile
  scripts/jenkins/docs_release_check/README.md
  scripts/jenkins/docs_release_check/check.py
  scripts/jenkins/docs_release_check/conftest.py
  scripts/jenkins/docs_release_check/lib/__init__.py
  scripts/jenkins/docs_release_check/requirements.txt
  scripts/jenkins/docs_release_check/tests/test_check.py
Labels: agent-java

#2122 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/error.json
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: automation, agent-java

#2130 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/error.json
  apm-agent-core/src/test/resources/apm-server-schema/current/metadata.json
  apm-agent-core/src/test/resources/apm-server-schema/current/span.json
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: automation, agent-java

#2136 deleted encrypted from Socket.
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/Socket.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/TransactionUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/TransactionContextTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/HttpHandlerAdvice.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/test/java/co/elastic/apm/agent/httpserver/HttpHandlerTest.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletTransactionHelper.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/WebfluxHelper.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/AbstractHttpTransactionHelper.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/AbstractVertxWebHelper.java
Labels: agent-java, community, triage

#2134 [release] use the vault secret/role credentials explicitly
  .ci/release/Jenkinsfile
Labels: agent-java

#2139 Improved capturing of logged exceptions when using Log4j2
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-error-logging-plugin/pom.xml
  apm-agent-plugins/apm-error-logging-plugin/src/main/java/co/elastic/apm/agent/errorlogging/AbstractLoggerErrorCapturingInstrumentation.java
  apm-agent-plugins/apm-error-logging-plugin/src/test/java/co/elastic/apm/agent/errorlogging/Log4j2LoggerErrorCapturingInstrumentationTest.java
Labels: agent-java, community, triage

#2143 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/error.json
  apm-agent-core/src/test/resources/apm-server-schema/current/span.json
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: automation, agent-java

#2145 [CI] use obltGitHubComments
  Jenkinsfile
Labels: automation, agent-java

#2146 Fix ignore on request path
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/helper/ServletTransactionCreationHelper.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/ApmFilterTest.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/ServletTransactionHelperTest.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/helper/ServletTransactionCreationHelperTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractServletContainerIntegrationTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/CdiApplicationServerTestApp.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/CdiServletContainerTestApp.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/ExternalPluginTestApp.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/JsfApplicationServerTestApp.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/JsfServletContainerTestApp.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/ServletApiTestApp.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/SoapTestApp.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/TestApp.java
Labels: agent-java

#2150 Fix concurrency issues with ensureInstrumented
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/InstrumentationTest.java
Labels: agent-java
