Repository elastic/apm-agent-java, pull requests merged in 2021-11, with the labels that each got.

#1716 added support to spring amqp batch
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/AmqpConstants.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/MessageBatchHelper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/MessageBatchIteratorWrapper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/MessageBatchListWrapper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/SpringAmqpBatchMessageListenerInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/SpringAmqpMessageListenerInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/SpringAmqpTransactionHelper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/SpringAmqpTransactionNameUtil.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/SpringBaseInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/SpringAmqpBatchTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/config/BatchConfiguration.java
Labels: new-feature, agent-java

#2234 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/error.json
Labels: automation, agent-java

#2242 [CI] Stabilize flaky tests
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/MetaData.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/ApmServerConfigurationSourceTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/metadata/MetaDataMock.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/metadata/MetaDataTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TransactionTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ReporterFactoryTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-plugins/apm-log-shipper-plugin/src/test/java/co/elastic/apm/agent/log/shipper/ApmServerLogShipperTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/AbstractAsyncRabbitMqTest.java
Labels: agent-java

#2228 Improve flush
  apm-agent-benchmarks/src/main/java/co/elastic/apm/agent/benchmark/AbstractMockApmServerBenchmark.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/AbstractIntakeApiHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/Reporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReportingEvent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReportingEventHandler.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerReporterIntegrationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerReporterTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ReporterFactoryTest.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/test/java/co/elastic/apm/agent/esrestclient/v6_4/ElasticsearchRestClientInstrumentationIT_RealReporter.java
Labels: agent-java

#2235 Add the (current) transaction name to the error object
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/error/ErrorCapture.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
Labels: agent-java, community, triage

#2221 Replaced emdedded RedisServer with testcontainers.
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-redis-plugin/apm-jedis-2-tests/src/test/java/co/elastic/apm/agent/jedis/Jedis2InstrumentationIT.java
  apm-agent-plugins/apm-redis-plugin/apm-jedis-3-tests/src/test/java/co/elastic/apm/agent/jedis/Jedis3InstrumentationIT.java
  apm-agent-plugins/apm-redis-plugin/apm-jedis-plugin/src/test/java/co/elastic/apm/agent/jedis/Jedis1InstrumentationIT.java
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-3-tests/src/test/java/co/elastic/apm/agent/lettuce/Lettuce3InstrumentationIT.java
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-3-tests/src/test/java/co/elastic/apm/agent/lettuce/Lettuce3VersionsIT.java
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-plugin/src/test/java/co/elastic/apm/agent/lettuce/Lettuce4InstrumentationIT.java
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-plugin/src/test/java/co/elastic/apm/agent/lettuce/Lettuce4VersionsIT.java
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-plugin/src/test/java/co/elastic/apm/agent/lettuce/Lettuce5InstrumentationIT.java
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-plugin/src/test/java/co/elastic/apm/agent/lettuce/Lettuce5VersionsIT.java
  apm-agent-plugins/apm-redis-plugin/apm-redis-common/src/test/java/co/elastic/apm/agent/redis/AbstractRedisInstrumentationTest.java
  apm-agent-plugins/apm-redis-plugin/apm-redisson-plugin/src/test/java/co/elastic/apm/agent/redisson/RedissonInstrumentationIT.java
  apm-agent-plugins/apm-redis-plugin/pom.xml
Labels: agent-java, community, triage

#2233 Report the JVM/JMX metrics for each service name
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/MetricRegistryReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/MetricRegistrySerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/MetricRegistryReporterTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/MetricSetSerializationTest.java
  apm-agent-plugins/apm-jmx-plugin/src/test/java/co/elastic/apm/agent/jmx/JmxMetricTrackerTest.java
Labels: agent-java, community, triage

#2238 No Content-Encoding when disabling compression for localhost
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/AbstractIntakeApiHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/CountingOutputStream.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerReporterIntegrationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandlerTest.java
  apm-agent-plugins/apm-log-shipper-plugin/src/test/java/co/elastic/apm/agent/log/shipper/ApmServerLogShipperTest.java
Labels: agent-java

#2240 Refactor ResourceExtractionUtil to use NIO
  apm-agent-attach/src/main/java/co/elastic/apm/attach/ElasticApmAttacher.java
  apm-agent-common/src/main/java/co/elastic/apm/agent/common/util/ResourceExtractionUtil.java
  apm-agent-common/src/test/java/co/elastic/apm/agent/common/util/ResourceExtractionUtilTest.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/asyncprofiler/AsyncProfiler.java
Labels: agent-java

#2220 renamed span_frames_min_duration to span_stack_trace_min_duration. Ch…
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/stacktrace/StacktraceConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/stacktrace/StacktraceConfigurationTest.java
  apm-agent-core/src/test/java/org/example/stacktrace/StacktraceSerializationTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/AmqpConstants.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/MessageBatchHelper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/MessageBatchIteratorWrapper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/MessageBatchListWrapper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/SpringAmqpBatchMessageListenerInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/SpringAmqpTransactionHelper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/SpringAmqpBatchTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/config/BatchConfiguration.java
  docs/configuration.asciidoc
  docs/tuning-and-overhead.asciidoc
Labels: agent-java, community, triage

#2246 Fix error transaction name serialization check and add tests
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
Labels: agent-java

#2251 Upgrade ByteBuddy to version 1.12.1
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/generated/HelloGrpc.java
  integration-tests/runtime-attach/runtime-attach-app/pom.xml
  pom.xml
Labels: agent-java

#2253 Test APM Server client with configured proxy server_url
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientTest.java
Labels: agent-java

#2252 Ignoring a deliberately old version of Byte Buddy in dependabot.yml
  .github/dependabot.yml
Labels: agent-java

#2258 [release] disable the stable branch
  .ci/release/Jenkinsfile
Labels: agent-java

#2259 [release] fetch tags before checking out
  .ci/release/Jenkinsfile
Labels: agent-java

#2261 [release] skip executed stages (temporarily)
  .ci/release/Jenkinsfile
Labels: agent-java

#2263 [release] enable stage to set the version
  .ci/release/Jenkinsfile
Labels: agent-java

#2265 [release] enable stage temporarily for bypassing input parameter
  .ci/release/Jenkinsfile
Labels: agent-java

#2264 [release] split git commands in sh steps with some labels
  .ci/release/Jenkinsfile
Labels: agent-java

#2267 [release] disable stage
  .ci/release/Jenkinsfile
Labels: agent-java

#2266 [release] force the checkokut
  .ci/release/Jenkinsfile
Labels: agent-java

#2268 [release] branch and checkout
  .ci/release/Jenkinsfile
Labels: agent-java

#2269 [release] use git checkout and reset
  .ci/release/Jenkinsfile
Labels: agent-java

#2271 [release] enable back the stages
  .ci/release/Jenkinsfile
Labels: agent-java

#2272 [jjbb] reduce the branch indexing schedule
  .ci/jobs/apm-agent-java-mbp.yml
Labels: agent-java

#2274 Fixed changelog for Jakarta JSF
  CHANGELOG.asciidoc
Labels: agent-java, community, triage

#2255 Register and schedule Micrometer MeterRegistry when Meters are registered
  .github/dependabot.yml
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/generated/HelloGrpc.java
  apm-agent-plugins/apm-micrometer-plugin/pom.xml
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerInstrumentation.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerInstrumentationTest.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerInstrumentationVersionsIT.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerMetricsReporterTest.java
Labels: agent-java, await-release

#2286 Only remove domain when FQDN is expected
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/SystemInfo.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/metadata/SystemInfoTest.java
Labels: bug, agent-java, await-release

#2289 Fix reading agent version
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/StartupInfo.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/VersionUtils.java
  apm-agent/pom.xml
  elastic-apm-agent/pom.xml
  elastic-apm-agent/src/test/java/co/elastic/apm/agent/premain/AgentPackagingIT.java
Labels: agent-java, await-release

#2283 Improve runtime attach configuration
  CHANGELOG.asciidoc
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/ElasticApmAttacherTest.java
  apm-agent-attach/src/main/java/co/elastic/apm/attach/ElasticApmAttacher.java
  apm-agent-attach/src/test/java/co/elastic/apm/attach/ElasticApmAttacherTest.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/source/ConfigSources.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/source/PropertyFileConfigurationSource.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracerBuilder.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/SpyConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/source/ConfigSourcesTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerBuilderTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientTest.java
  apm-agent/pom.xml
  elastic-apm-agent/src/main/java/co/elastic/apm/agent/premain/AgentMain.java
  elastic-apm-agent/src/test/java/co/elastic/apm/agent/premain/AgentPackagingIT.java
  integration-tests/runtime-attach/runtime-attach-app/src/main/java/co/elastic/apm/testapp/AppMain.java
  integration-tests/runtime-attach/runtime-attach-app/src/main/resources/elasticapm.properties
  integration-tests/runtime-attach/runtime-attach-test/src/test/java/co/elastic/apm/testapp/RuntimeAttachTest.java
Labels: agent-java, await-release
