Repository elastic/apm-agent-java, pull requests merged in 2021-01, with the labels that each got.

#1563 [ci][flaky] reporting
  Jenkinsfile
Labels: agent-java, automation, ci

#1575 [CI] Use JCenter
  .ci/settings.xml
  Jenkinsfile
Labels: agent-java

#1600 Cosmetic typo in the README.md
  .ci/load/README.md
Labels: Docs, agent-java

#1601 Null check return advices
  CHANGELOG.asciidoc
  CONTRIBUTING.md
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/AbstractSpanInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/LegacySpanInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/TransactionInstrumentation.java
  apm-agent-plugins/apm-dubbo-plugin/src/main/java/co/elastic/apm/agent/dubbo/advice/AlibabaMonitorFilterAdvice.java
  apm-agent-plugins/apm-dubbo-plugin/src/main/java/co/elastic/apm/agent/dubbo/advice/ApacheMonitorFilterAdvice.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/ServerCallHandlerInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-1.6.1/src/test/java/co/elastic/apm/agent/grpc/v1_6_1/testapp/generated/HelloGrpc.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-1.6.1/src/test/java/co/elastic/apm/agent/grpc/v1_6_1/testapp/generated/HelloReply.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-1.6.1/src/test/java/co/elastic/apm/agent/grpc/v1_6_1/testapp/generated/HelloReplyOrBuilder.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-1.6.1/src/test/java/co/elastic/apm/agent/grpc/v1_6_1/testapp/generated/HelloRequest.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-1.6.1/src/test/java/co/elastic/apm/agent/grpc/v1_6_1/testapp/generated/HelloRequestOrBuilder.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-1.6.1/src/test/java/co/elastic/apm/agent/grpc/v1_6_1/testapp/generated/Rpc.java
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/ConnectionInstrumentation.java
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/StatementInstrumentation.java
  apm-agent-plugins/apm-jdk-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/HttpClientAsyncInstrumentation.java
  apm-agent-plugins/apm-jdk-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/HttpRequestHeadersInstrumentation.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/main/java/co/elastic/apm/agent/jms/JmsMessageConsumerInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/ConsumerRecordsIteratorInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/ConsumerRecordsRecordListInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/main/java/co/elastic/apm/agent/kafka/ConsumerRecordsRecordsInstrumentation.java
  apm-agent-plugins/apm-process-plugin/src/main/java/co/elastic/apm/agent/process/ProcessStartInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/AsyncInstrumentation.java
Labels: agent-java

#1602 Update async-profiler 1.8.3
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/asyncprofiler/AsyncProfiler.java
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-aarch64.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-arm.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-x64.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-x86.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-macos-x64.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-macos.so
  apm-agent-plugins/apm-profiling-plugin/update-binaries.sh
Labels: agent-java

#1597 null-safe weak set/map + detached thread local
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/HelperClassManager.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/bytebuddy/SoftlyReferencingTypePoolCache.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/state/GlobalThreadLocal.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/weakmap/NullCheck.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/weakmap/NullSafeWeakConcurrentMap.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/weakmap/NullSafeWeakConcurrentSet.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/weakmap/WeakMapSupplier.java
  apm-agent-plugin-sdk/src/test/java/co/elastic/apm/agent/sdk/state/GlobalThreadLocalTest.java
  apm-agent-plugin-sdk/src/test/java/co/elastic/apm/agent/sdk/weakmap/NullSafeWeakConcurrentMapTest.java
  apm-agent-plugin-sdk/src/test/java/co/elastic/apm/agent/sdk/weakmap/NullSafeWeakConcurrentSetTest.java
Labels: agent-java

#1592 CallTree recycling
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/CallTree.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/SamplingProfiler.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeSpanifyTest.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeTest.java
Labels: agent-java

#1608 Upgrade OkHttp3 test version to 4.3.0
  apm-agent-plugins/apm-okhttp-plugin/pom.xml
  pom.xml
Labels: agent-java

#1611 [CI] Archive long app-logs to Google Storage
  .ci/load/Jenkinsfile
Labels: agent-java, automation, ci

#1607 [CI] Run hourly to look for head changes
  .ci/jobs/apm-agent-java-mbp.yml
Labels: agent-java, automation, ci

#1628 Add GitHub action to add milestoned issues to project
  .github/workflows/addToProject.yml
Labels: agent-java

#1627 try to get crash report back
  .ci/load/Jenkinsfile
  .ci/load/scripts/app.sh
Labels: agent-java

#1594 Adding ability to delay agent initialization on startup
  CHANGELOG.asciidoc
  apm-agent-core/pom.xml
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/IndyBootstrap.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/ExecutorUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/ThreadUtilsTest.java
  apm-agent-plugins/apm-jdk-httpclient-plugin/pom.xml
  apm-agent-plugins/apm-jdk-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/HttpClientInstrumentation.java
  apm-agent-plugins/apm-log-shipper-plugin/src/main/java/co/elastic/apm/agent/log/shipper/LogShipperFactory.java
  apm-agent-plugins/apm-urlconnection-plugin/src/main/java/co/elastic/apm/agent/urlconnection/SSLContextInstrumentation.java
  apm-agent-premain/pom.xml
  apm-agent-premain/src/main/java/co/elastic/apm/agent/premain/AgentMain.java
  apm-agent-premain/src/main/java/co/elastic/apm/agent/premain/JvmRuntimeInfo.java
  apm-agent-premain/src/main/java/co/elastic/apm/agent/premain/ThreadUtils.java
  apm-agent-premain/src/main/java/co/elastic/apm/agent/premain/package-info.java
  apm-agent-premain/src/test/java/co/elastic/apm/agent/premain/JvmRuntimeInfoTest.java
  docs/troubleshooting.asciidoc
  elastic-apm-agent/pom.xml
  pom.xml
Labels: agent-java

#1634 [CI] Disable GH issue creation if flaky tests
  Jenkinsfile
Labels: agent-java, automation
