Repository elastic/apm-agent-java, pull requests merged in 2021-05, with the labels that each got.

#1761 test: synchronizing json spec
  apm-agent-core/src/test/resources/json-specs/sql_token_examples.json
Labels: agent-java, automation

#1799 Prevent profiler flaky test
  apm-agent-core/src/test/java/co/elastic/apm/agent/objectpool/TestObjectPoolFactory.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/SamplingProfiler.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeTest.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/SamplingProfilerQueueTest.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/SamplingProfilerTest.java
Labels: agent-java

#1795 Es client scenario cancellable query
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/test/java/co/elastic/apm/agent/es/restclient/v6_4/AbstractEs6_4ClientInstrumentationTest.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-7_x/pom.xml
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-7_x/src/test/java/co/elastic/apm/agent/es/restclient/v7_x/ElasticsearchRestClientInstrumentationIT.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/main/java/co/elastic/apm/agent/es/restclient/ElasticsearchRestClientInstrumentationHelperImpl.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/test/java/co/elastic/apm/agent/es/restclient/AbstractEsClientInstrumentationTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/main/java/co/elastic/apm/agent/rabbitmq/SpringAmqpMessageListenerInstrumentation.java
Labels: agent-java

#1697 Vert.x Web instrumentation
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerClient.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ssl/SslUtils.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/IOUtils.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/ExecutorInstrumentation.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/JavaConcurrent.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/pom.xml
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/AbstractHttpTransactionHelper.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/AbstractVertxWebHelper.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/GenericHandlerWrapper.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/MultiMapHeadersGetterSetter.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/NettyByteTransfer.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/package-info.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/AbstractVertxWebTest.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/CommonVertxWebTest.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/HandlerWithCustomNamedSpan.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/OkHttpTestClient.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/VertxTestHttpServer.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/resources/tls/server-cert.pem
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/resources/tls/server-key.pem
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/pom.xml
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/EventLoopInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/TaskQueueInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/Vertx3Instrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/package-info.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/ResponseEndHandlerWrapper.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/WebHelper.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/WebInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http1/HttpServerRequestImplEndInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http1/HttpServerRequestImplStartInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http1/HttpServerRequestWrapperInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http1/HttpServerResponseImplInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http1/package-info.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http2/Http2Instrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http2/package-info.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/package-info.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/test/java/co/elastic/apm/agent/vertx/v3/VertxHttp2ServerTest.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/test/java/co/elastic/apm/agent/vertx/v3/VertxServerTest.java
  apm-agent-plugins/apm-vertx/apm-vertx3-test-latest/pom.xml
  apm-agent-plugins/apm-vertx/apm-vertx3-test-latest/src/test/java/co/elastic/apm/agent/vertx/v3/VertxHttp2ServerTest.java
  apm-agent-plugins/apm-vertx/apm-vertx3-test-latest/src/test/java/co/elastic/apm/agent/vertx/v3/VertxServerTest.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/pom.xml
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/main/java/co/elastic/apm/agent/vertx/v4/EventLoopInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/main/java/co/elastic/apm/agent/vertx/v4/TaskQueueInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/main/java/co/elastic/apm/agent/vertx/v4/Vertx4Instrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/main/java/co/elastic/apm/agent/vertx/v4/package-info.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/main/java/co/elastic/apm/agent/vertx/v4/web/NoopVertxTracer.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/main/java/co/elastic/apm/agent/vertx/v4/web/WebHelper.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/main/java/co/elastic/apm/agent/vertx/v4/web/WebInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/main/java/co/elastic/apm/agent/vertx/v4/web/package-info.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/test/java/co/elastic/apm/agent/vertx/v4/VertxHttp2ServerTest.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/test/java/co/elastic/apm/agent/vertx/v4/VertxServerTest.java
  apm-agent-plugins/apm-vertx/pom.xml
  apm-agent-plugins/pom.xml
  docs/configuration.asciidoc
  elastic-apm-agent/pom.xml
Labels: agent-java, focus

#1539 docs: updates to micrometer docs
  docs/metrics.asciidoc
Labels: docs

#1811 Fix vertx test for 4.x
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/CommonVertxWebTest.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/test/java/co/elastic/apm/agent/vertx/v3/VertxServerTest.java
  apm-agent-plugins/apm-vertx/apm-vertx3-test-latest/src/test/java/co/elastic/apm/agent/vertx/v3/VertxServerTest.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/test/java/co/elastic/apm/agent/vertx/v4/VertxServerTest.java
Labels: agent-java

#1808 Avoid tracestate error with sample rate provided through headers
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/TraceState.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TraceContextTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TraceStateTest.java
Labels: agent-java

#1659 ci: use the releaseNotification step
  .ci/release/Jenkinsfile
Labels: agent-java, automation

#1819 Fix runtime attach for current user
  CHANGELOG.asciidoc
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/UserRegistry.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/UserRegistryTest.java
Labels: agent-java

#1821 Give precedence to w3c traceparent header
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/TraceContext.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TraceContextTest.java
Labels: agent-java

#1826 Avoid serializing metric-sets with no samples
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/MetricRegistryReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/MetricRegistrySerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/MetricSetSerializationTest.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/generated/HelloGrpc.java
  apm-agent-plugins/apm-jmx-plugin/src/test/java/co/elastic/apm/agent/jmx/JmxMetricTrackerTest.java
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializer.java
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMetricsReporter.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerMetricsReporterTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/ServletApiTestApp.java
Labels: agent-java

#1827 Check minimal JFR size before parsing
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/ProfilingConfiguration.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/asyncprofiler/AsyncProfiler.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/asyncprofiler/JfrParser.java
  docs/configuration.asciidoc
  docs/method-monitoring.asciidoc
  docs/supported-technologies.asciidoc
Labels: agent-java

#1829 Update troubleshooting.asciidoc
  docs/troubleshooting.asciidoc
Labels: agent-java

#1830 [CI] fix release job version prompt
  .ci/release/Jenkinsfile
Labels: agent-java, automation

#1828 Fix type-pool cache
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/bytebuddy/SoftlyReferencingTypePoolCache.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/bytebuddy/SoftlyReferencingTypePoolCacheTest.java
Labels: agent-java

#1836 [1.x][DOCS] Fixes broken links
  docs/metrics.asciidoc
Labels: agent-java, docs

#1834 add 'update agent' to troubleshooting docs
  docs/troubleshooting.asciidoc
Labels: agent-java
