Repository elastic/apm-agent-java, pull requests merged in 2021-03, with the labels that each got.

#1668 [load-testing] silence tomcat to avoid verbose logs
  .ci/load/Jenkinsfile
Labels: agent-java

#1666 [CI] Retry dependencies download
  .ci/packer_cache.sh
  Jenkinsfile
Labels: agent-java, automation, bug

#1678 update async-profiler to 1.8.4
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-aarch64.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-arm.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-x64.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-x86.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-macos-x64.so
Labels: agent-java

#1681 ci: delete workspace before checkout
  .ci/load/Jenkinsfile
Labels: agent-java, automation

#1680 ci: fix JJBB configuration
  .ci/jobs/apm-agent-java-load-mbp.yml
  .ci/jobs/apm-agent-java-mbp.yml
Labels: agent-java, automation

#1683 Upgrading tested Elasticsearch version to 7.11
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/test/java/co/elastic/apm/agent/es/restclient/v6_4/AbstractEs6_4ClientInstrumentationTest.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-7_1/src/test/java/co/elastic/apm/agent/es/restclient/v7_1/ElasticsearchRestClientInstrumentationIT.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-7_x/pom.xml
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-7_x/src/test/java/co/elastic/apm/agent/es/restclient/v7_x/ElasticsearchRestClientInstrumentationIT.java
  apm-agent-plugins/apm-es-restclient-plugin/pom.xml
  apm-agent-plugins/apm-okhttp-test/src/test/java/co/elastic/apm/agent/okhttp/OkHttp3ClientVersionIT.java
Labels: agent-java

#1679 chore: enable stale bot for pull requests
  .github/stale.yml
Labels: agent-java, automation

#1684 fix doc
  docs/supported-technologies.asciidoc
Labels: agent-java

#1682 [load-testing] fix app clean build
  .ci/load/Jenkinsfile
Labels: agent-java

#1692 Adding a note about log_level OFF
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#1691 Adding documentation about using agent only for metrics
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerInstrumentationTest.java
  docs/configuration.asciidoc
  docs/metrics.asciidoc
Labels: agent-java

#1693 Fixing the deploy-snapshot job
  integration-tests/application-server-integration-tests/pom.xml
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractServletContainerIntegrationTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/ExternalPluginTestApp.java
Labels: agent-java

#1694 Remove MetaData test flakiness
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/MetaDataTest.java
Labels: agent-java

#1700 De-dot Micrometer metric names
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/MetricsConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/main/resources/META-INF/services/org.stagemonitor.configuration.ConfigurationOptionProvider
  apm-agent-plugins/apm-micrometer-plugin/pom.xml
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializer.java
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMetricsReporter.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerMetricsReporterTest.java
  docs/configuration.asciidoc
Labels: agent-java

#1689 Add InteliJ debugger work-around
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/ExecutorInstrumentation.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/ForkJoinTaskInstrumentation.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/RunnableCallableForkJoinTaskInstrumentation.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/test/java/co/elastic/apm/agent/concurrent/AsyncTraceMethodInstrumentationTest.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/test/java/co/elastic/apm/agent/concurrent/CurrentThreadExecutor.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/test/java/co/elastic/apm/agent/concurrent/ExecutorServiceInstrumentationTest.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/test/java/co/elastic/apm/agent/concurrent/ForkJoinPoolTest.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/test/java/co/elastic/apm/agent/concurrent/ScheduledExecutorServiceTest.java
Labels: agent-java

#1709 Micrometer tests flakiness - replace Mockito's when with doReturn
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerInstrumentationTest.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerMetricsReporterTest.java
Labels: agent-java

#1708 Add OpenTracing Tracer resolving through ServiceLoader
  CHANGELOG.asciidoc
  apm-opentracing/pom.xml
  apm-opentracing/src/main/resources/META-INF/services/io.opentracing.Tracer
  apm-opentracing/src/test/java/co/elastic/apm/opentracing/TracerResolverTest.java
  docs/opentracing.asciidoc
Labels: agent-java

#1713 Upgrading Async Profiler to 1.8.5
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-aarch64.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-arm.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-x64.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-x86.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-macos-x64.so
Labels: agent-java

#1704 Avoid runtime attach user conflicts
  CHANGELOG.asciidoc
  apm-agent-attach/src/main/java/co/elastic/apm/attach/ElasticApmAttacher.java
Labels: agent-java

#1593 Add bootstrap checks
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/IndyBootstrap.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/VerifyNoneBootstrapCheckTest.java
  apm-agent-plugins/apm-jdk-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/HttpClientInstrumentation.java
  apm-agent-premain/src/main/java/co/elastic/apm/agent/premain/AgentMain.java
  apm-agent-premain/src/main/java/co/elastic/apm/agent/premain/BootstrapCheck.java
  apm-agent-premain/src/main/java/co/elastic/apm/agent/premain/BootstrapChecks.java
  apm-agent-premain/src/main/java/co/elastic/apm/agent/premain/JavaVersionBootstrapCheck.java
  apm-agent-premain/src/main/java/co/elastic/apm/agent/premain/JvmRuntimeInfo.java
  apm-agent-premain/src/main/java/co/elastic/apm/agent/premain/VerifyNoneBootstrapCheck.java
  apm-agent-premain/src/test/java/co/elastic/apm/agent/premain/BootstrapChecksTest.java
  apm-agent-premain/src/test/java/co/elastic/apm/agent/premain/JavaVersionBootstrapCheckTest.java
Labels: agent-java, enhancement

#1667 Attacher improvements
  CHANGELOG.asciidoc
  apm-agent-attach-cli/pom.xml
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentAttacher.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/DiscoveryRules.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/GetAgentProperties.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/JvmDiscoverer.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/JvmInfo.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/UserRegistry.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/AgentAttacherTest.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/DiscoveryRulesTest.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/ElasticApmAttacherTest.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/GetAgentPropertiesTest.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/JvmDiscovererTest.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/JvmInfoTest.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/UserRegistryTest.java
  apm-agent-attach-cli/src/test/resources/log4j2.xml
  apm-agent-attach/pom.xml
  apm-agent-attach/src/main/java/co/elastic/apm/attach/ElasticApmAttacher.java
  apm-agent-attach/src/main/java/co/elastic/apm/attach/ElasticAttachmentProvider.java
  apm-agent-attach/src/main/java/co/elastic/apm/attach/JvmDiscoverer.java
  apm-agent-attach/src/main/java/co/elastic/apm/attach/JvmInfo.java
  apm-agent-attach/src/main/java/co/elastic/apm/attach/RemoteAttacher.java
  apm-agent-attach/src/test/java/co/elastic/apm/attach/JvmDiscovererTest.java
  apm-agent-attach/src/test/java/co/elastic/apm/attach/RemoteAttacherTest.java
  apm-agent-core/pom.xml
  docs/setup-attach-cli.asciidoc
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractServletContainerIntegrationTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AgentFileIT.java
  pom.xml
Labels: agent-java, enhancement

#1720 Fix log correlation for log4j2
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-log-correlation-plugin/src/main/java/co/elastic/apm/agent/mdc/MdcActivationListener.java
Labels: agent-java

#1723 Eliminate log4j shaders dependency in slf4j
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/generated/HelloGrpc.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log-shader-plugin-common/src/main/java/co/elastic/apm/agent/log/shader/AbstractLogShadingHelper.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log4j1-plugin/src/main/java/co/elastic/apm/agent/log4j1/Log4j1LogShadingHelper.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log4j2-plugin/src/main/java/co/elastic/apm/agent/log4j2/Log4j2LogShadingHelper.java
Labels: agent-java

#1718 feat: use metricbeat to grab host metrics
  .ci/load/Jenkinsfile
Labels: agent-java, automation, enhancement

#1715 log readonly msg errors only in debug
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/main/java/co/elastic/apm/agent/jms/JmsMessagePropertyAccessor.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/test/java/co/elastic/apm/agent/jms/JmsMessagePropertyAccessorTest.java
Labels: agent-java

#1724 feat: grab locust metrics on load tests
  .ci/load/Jenkinsfile
Labels: agent-java, automation, enhancement

#1728 Always use English locale when formatting doubles (#1727)
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/converter/RoundedDoubleConverter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/converter/RoundedDoubleConverterTest.java
Labels: agent-java

#1717 Fix thread pool method matchers
  apm-agent-plugins/apm-dubbo-plugin/src/main/java/co/elastic/apm/agent/dubbo/ApacheMonitorFilterInstrumentation.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/ExecutorInstrumentation.java
  apm-agent-plugins/apm-jdk-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/HttpClientAsyncInstrumentation.java
  apm-agent-plugins/apm-jdk-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/HttpClientInstrumentation.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttp3ClientInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/AsyncInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/RequestStreamRecordingInstrumentation.java
Labels: agent-java

#1729 Build apm-agent-attach-cli before application-server-integration-tests
  integration-tests/application-server-integration-tests/pom.xml
Labels: agent-java
