Repository elastic/apm-agent-java, pull requests merged in 2021-07, with the labels that each got.

#1858 Instrument javax.servlet.Filter the same way as javax.servlet.FilterChain (#1857)
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/generated/HelloGrpc.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/FilterInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletApiAdvice.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/helper/ServletTransactionCreationHelper.java
  apm-agent-plugins/apm-servlet-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/ApmFilterTest.java
  integration-tests/simple-webapp/src/main/java/co/elastic/webapp/TestFilter.java
  integration-tests/simple-webapp/src/main/webapp/WEB-INF/web.xml
Labels: agent-java

#1883 Propagating trace context in HTTP requests without spans
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-apache-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/ApacheHttpAsyncClientInstrumentation.java
  apm-agent-plugins/apm-apache-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/helper/ApacheHttpAsyncClientHelper.java
  apm-agent-plugins/apm-apache-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/helper/HttpAsyncRequestProducerWrapper.java
  apm-agent-plugins/apm-asynchttpclient-plugin/src/main/java/co/elastic/apm/agent/asynchttpclient/AbstractAsyncHttpClientInstrumentation.java
  apm-agent-plugins/apm-httpclient-core/src/test/java/co/elastic/apm/agent/httpclient/AbstractHttpClientInstrumentationTest.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttp3ClientAsyncInstrumentation.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttp3ClientInstrumentation.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttpClientAsyncInstrumentation.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttpClientInstrumentation.java
  apm-agent-plugins/apm-spring-resttemplate/apm-spring-resttemplate-plugin/src/main/java/co/elastic/apm/agent/resttemplate/SpringRestTemplateAdvice.java
  apm-agent-plugins/apm-urlconnection-plugin/src/main/java/co/elastic/apm/agent/urlconnection/HttpUrlConnectionInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/AbstractVertxWebClientHelper.java
Labels: agent-java

#1896 Upgrade Byte Buddy to 1.11.6
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  pom.xml
Labels: agent-java

#1895 JBoss JMX notification work-around
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jmx-plugin/src/main/java/co/elastic/apm/agent/jmx/JmxMetricTracker.java
  apm-agent-plugins/apm-jmx-plugin/src/test/java/co/elastic/apm/agent/jmx/JmxMetricTrackerTest.java
Labels: agent-java

#1894 Added support for naming spark transactions (#1893)
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-sparkjava-plugin/pom.xml
  apm-agent-plugins/apm-sparkjava-plugin/src/main/java/co/elastic/apm/agent/sparkjava/RoutesAdvice.java
  apm-agent-plugins/apm-sparkjava-plugin/src/main/java/co/elastic/apm/agent/sparkjava/RoutesInstrumentation.java
  apm-agent-plugins/apm-sparkjava-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-sparkjava-plugin/src/test/java/co/elastic/apm/agent/sparkjava/RoutesAdviceTest.java
  apm-agent-plugins/pom.xml
  docs/configuration.asciidoc
  docs/supported-technologies.asciidoc
  elastic-apm-agent/pom.xml
Labels: agent-java

#1892 Clarify attacher cli discovery rule docs
  docs/setup-attach-cli.asciidoc
Labels: agent-java

#1903 test: synchronizing json spec
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TraceContextW3CTest.java
  apm-agent-core/src/test/java/specs/TestJsonSpec.java
  apm-agent-core/src/test/resources/json-specs/w3c_distributed_tracing.json
  apm-agent-core/src/test/resources/w3c_test_data.json
Labels: agent-java, automation

#1898 Auto-inference of destination.service.resource
  CHANGELOG.asciidoc
  apm-agent-api/src/main/java/co/elastic/apm/api/AbstractSpanImpl.java
  apm-agent-api/src/main/java/co/elastic/apm/api/NoopSpan.java
  apm-agent-api/src/main/java/co/elastic/apm/api/NoopTransaction.java
  apm-agent-api/src/main/java/co/elastic/apm/api/Span.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/Destination.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Span.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/ServiceResourceTest.java
  apm-agent-core/src/test/resources/json-specs/service_resource_inference.json
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/AbstractSpanInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-api-plugin/src/test/java/co/elastic/apm/agent/pluginapi/SpanInstrumentationTest.java
  docs/public-api.asciidoc
Labels: agent-java

#1854 Added basic support for com.sun.net.httpserver.HttpServer (#1853)
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jdk-httpserver-plugin/pom.xml
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/CookieHelper.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/HeadersHeaderGetter.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/HttpContextInstrumentation.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/HttpHandlerAdvice.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/HttpHandlerHelper.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/HttpHandlerInstrumentation.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/HttpServerInstrumentation.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/JdkHttpServerInstrumentation.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/package-info.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/test/java/co/elastic/apm/agent/httpserver/CookieHelperTest.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/test/java/co/elastic/apm/agent/httpserver/HttpHandlerTest.java
  apm-agent-plugins/pom.xml
  docs/configuration.asciidoc
  docs/supported-technologies.asciidoc
  elastic-apm-agent/pom.xml
Labels: agent-java

#1907 update async-profiler to 1.8.6
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-aarch64.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-arm.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-x64.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-x86.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-macos-x64.so
Labels: agent-java

#1822 Add Javalin plugin
  CHANGELOG.asciidoc
  apm-agent-core/src/test/resources/json-specs/span_types.json
  apm-agent-plugins/apm-javalin-plugin/README.asciidoc
  apm-agent-plugins/apm-javalin-plugin/pom.xml
  apm-agent-plugins/apm-javalin-plugin/src/main/java/co/elastic/apm/agent/javalin/JavalinHandlerLambdaInstrumentation.java
  apm-agent-plugins/apm-javalin-plugin/src/main/java/co/elastic/apm/agent/javalin/JavalinInstrumentation.java
  apm-agent-plugins/apm-javalin-plugin/src/main/java/co/elastic/apm/agent/javalin/package-info.java
  apm-agent-plugins/apm-javalin-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-javalin-plugin/src/test/java/co/elastic/apm/agent/javalin/JavalinInstrumentationTest.java
  apm-agent-plugins/apm-javalin-plugin/src/test/java/co/elastic/apm/agent/javalin/MyController.java
  apm-agent-plugins/apm-javalin-plugin/src/test/java/co/elastic/apm/agent/javalin/MyHandler.java
  apm-agent-plugins/pom.xml
  docs/configuration.asciidoc
  docs/supported-technologies.asciidoc
  elastic-apm-agent/pom.xml
Labels: agent-java

#1909 Added support for setting the framework using the public api (#1908)
  CHANGELOG.asciidoc
  apm-agent-api/src/main/java/co/elastic/apm/api/NoopTransaction.java
  apm-agent-api/src/main/java/co/elastic/apm/api/Transaction.java
  apm-agent-api/src/main/java/co/elastic/apm/api/TransactionImpl.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/TransactionInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-api-plugin/src/test/java/co/elastic/apm/agent/pluginapi/TransactionInstrumentationTest.java
  apm-agent-plugins/apm-api-plugin/src/test/java/co/elastic/apm/api/AbstractSpanImplAccessor.java
  docs/public-api.asciidoc
Labels: agent-java

#1923 Upgrade Byte Buddy to 1.11.8
  pom.xml
Labels: agent-java

#1926 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/span.json
Labels: agent-java, automation

#1929 Correct release notes regarding enable_experimental_instrumentations
  CHANGELOG.asciidoc
Labels: agent-java, community

#1925 Add description about memory pool metrics to docs
  docs/metrics.asciidoc
Labels: agent-java

#1931 Semver parsing enhancement
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/Version.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/VersionTest.java
Labels: agent-java

#1906 Use path when high-level framework method is unknown
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/web/WebConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/TransactionNameUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/TransactionNameUtilsTest.java
  apm-agent-plugins/apm-grails-plugin/src/main/java/co/elastic/apm/agent/grails/GrailsTransactionNameInstrumentation.java
  apm-agent-plugins/apm-javalin-plugin/src/main/java/co/elastic/apm/agent/javalin/JavalinInstrumentation.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/HttpHandlerAdvice.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/test/java/co/elastic/apm/agent/httpserver/HttpHandlerTest.java
  apm-agent-plugins/apm-jsf-plugin/src/main/java/co/elastic/apm/agent/jsf/JsfLifecycleInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletTransactionHelper.java
  apm-agent-plugins/apm-sparkjava-plugin/src/main/java/co/elastic/apm/agent/sparkjava/RoutesAdvice.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/HandlerAdapterInstrumentation.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/TransactionAwareSubscriber.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/WebfluxServletHelper.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/AbstractServerInstrumentationTest.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/main/java/co/elastic/apm/agent/springwebmvc/SpringTransactionNameInstrumentation.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/test/java/co/elastic/apm/agent/springwebmvc/SpringTransactionNameInstrumentationTest.java
  apm-agent-plugins/apm-struts-plugin/src/main/java/co/elastic/apm/agent/struts/Struts2TransactionNameAdvice.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/AbstractHttpTransactionHelper.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/CommonVertxWebTest.java
  docs/configuration.asciidoc
Labels: agent-java

#1910 Ecs reformatting more fields
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log-shader-plugin-common/src/main/java/co/elastic/apm/agent/log/shader/AbstractEcsReformattingHelper.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log-shader-plugin-common/src/test/java/co/elastic/apm/agent/log/shader/LogShadingInstrumentationTest.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log-shader-plugin-common/src/test/java/co/elastic/apm/agent/log/shader/LoggerFacade.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log4j1-plugin/src/main/java/co/elastic/apm/agent/log4j1/Log4J1EcsReformattingHelper.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log4j2-plugin/src/main/java/co/elastic/apm/agent/log4j2/Log4J2EcsReformattingHelper.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log4j2-plugin/src/test/java/co/elastic/apm/agent/log4j2/LegacyLog4j2ShadingTest.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log4j2-plugin/src/test/java/co/elastic/apm/agent/log4j2/LegacyLog4j2ShadingTestRunner.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log4j2-plugin/src/test/java/co/elastic/apm/agent/log4j2/Log4j2ShadingTest.java
  apm-agent-plugins/apm-log-shader-plugin/apm-logback-plugin/apm-logback-plugin-impl/src/main/java/co/elastic/apm/agent/logback/LogbackEcsReformattingHelper.java
  apm-agent-plugins/apm-log-shader-plugin/apm-logback-plugin/apm-logback-plugin-impl/src/test/java/co/elastic/apm/agent/logback/LogbackShadingTest.java
  apm-agent-plugins/apm-log-shader-plugin/pom.xml
  docs/configuration.asciidoc
Labels: agent-java

#1946 ensure that the socket is closed even if there is an exception from t…
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/CommonVertxServerClientTest.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/webclient/AbstractVertxWebClientTest.java
Labels: agent-java
