Repository elastic/apm-agent-java, pull requests merged in 2021-08, with the labels that each got.

#1915 [CI] Enable compatibility test matrix for unit tests
  .ci/jobs/apm-agent-java-schedule-weekly.yml
  .ci/schedule-weekly.groovy
  Jenkinsfile
Labels: Team:Automation, agent-java, automation

#1954 [CI] Disable compatibility test matrix for unit tests on a PR basis
  Jenkinsfile
Labels: agent-java

#1961 changed File.separator* to System.getProperty("file.separator") so that the runtime uses the correct character
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/UserRegistry.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/payload/ProcessFactory.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/builtin/CGroupMetrics.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/PackageScanner.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log-shader-plugin-common/src/test/java/co/elastic/apm/agent/log/shader/UtilsTest.java
  apm-agent-plugins/apm-process-plugin/src/main/java/co/elastic/apm/agent/process/ProcessHelper.java
Labels: agent-java

#2068 test: synchronizing json spec
  apm-agent-core/src/test/resources/json-specs/service_resource_inference.json
Labels: automation, agent-java, community

#1970 jdk-httpserver instrumentation is not experimental anymore
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/JdkHttpServerInstrumentation.java
Labels: agent-java, community

#2071 Raise Jenkins pipeline timeout to 90 minutes
  Jenkinsfile
Labels: agent-java

#1940 Work-around for Jackson & instrumentation issues on Java15+
  apm-agent-core/src/test/java/co/elastic/apm/agent/JsonUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/InstrumentationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/payload/ContainerInfoTest.java
  apm-agent-plugins/apm-grails-plugin/pom.xml
  pom.xml
Labels: agent-java

#2067 gRPC instrumentation fix and refactoring
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/pom.xml
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/BaseInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/ChannelInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/ClientCallImplInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/ClientCallListenerInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/DelayedClientCallInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/GrpcHelper.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/ServerCallHandlerInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/ServerCallInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/ServerCallListenerInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/AbstractGrpcClientInstrumentationTest.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/testapp/HelloClient.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/testapp/HelloServer.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/testapp/TestClientCallImpl.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/testapp/TestServerListener.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/generated/HelloGrpc.java
  apm-agent-plugins/apm-grpc/pom.xml
Labels: agent-java

#1959 Downloading agent and verifying PGP signature
  CHANGELOG.asciidoc
  apm-agent-attach-cli/Bouncy-Castle-NOTICE
  apm-agent-attach-cli/pom.xml
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentAttacher.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentDownloadUtils.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentDownloader.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/PgpSignatureVerifier.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/PgpSignatureVerifierLoader.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/bouncycastle/BouncyCastleVerifier.java
  apm-agent-attach-cli/src/main/resources/public_key.asc
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/AgentAttacherTest.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/AgentDownloaderTest.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/PgpSignatureVerifierLoaderTest.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/bouncycastle/BouncyCastleVerifierTest.java
  apm-agent-attach-cli/src/test/resources/invalid_key.asc
  apm-agent-attach-cli/src/test/resources/modified-test.sig.asc
  apm-agent-attach-cli/src/test/resources/modified-test.txt
  apm-agent-attach-cli/src/test/resources/test.sig.asc
  apm-agent-attach-cli/src/test/resources/test.txt
  apm-agent-attach-cli/src/test/resources/valid_key.asc
  apm-agent-attach-cli/src/test/resources/verifier-loader-test/ExternalDependency.java
  apm-agent-attach-cli/src/test/resources/verifier-loader-test/TestPgpSignatureVerifier.java
  apm-agent-attach-cli/src/test/resources/verifier-loader-test/lib/pgp-verifier-dependency.jar
  apm-agent-attach-cli/src/test/resources/verifier-loader-test/lib/pgp-verifier.jar
  docs/setup-attach-cli.asciidoc
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractServletContainerIntegrationTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AgentFileIT.java
Labels: agent-java

#1948 Fix Webflux server response status capture
  CHANGELOG.asciidoc
  apm-agent-core/src/test/java/co/elastic/apm/agent/AbstractInstrumentationTest.java
  apm-agent-plugins/apm-reactor-plugin/src/main/java/co/elastic/apm/agent/reactor/TracedSubscriber.java
  apm-agent-plugins/apm-reactor-plugin/src/test/java/co/elastic/apm/agent/reactor/TracedSubscriberTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/DispatcherHandlerInstrumentation.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/HandlerAdapterInstrumentation.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/TransactionAwareSubscriber.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/WebfluxHelper.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/AbstractServerInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingAnnotated.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingHandler.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingWebClient.java
Labels: agent-java

#2065 implement to enable JvmDiscoverer tests on Windows
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentAttacher.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/GetAgentProperties.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/JvmDiscoverer.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/UserRegistry.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/JvmDiscovererTest.java
Labels: agent-java

#2075 fix redisson driver java15+ incompatibility
  apm-agent-plugins/apm-redis-plugin/apm-redisson-plugin/pom.xml
  apm-agent-plugins/apm-redis-plugin/apm-redisson-plugin/src/test/java/co/elastic/apm/agent/redis/redisson/RedissonInstrumentationTest.java
Labels: agent-java

#2076 classloader check on global tracer init
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/GlobalTracer.java
Labels: agent-java

#2079 Avoid reusing grpc port for reliability
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/GrpcTest.java
Labels: agent-java, community, triage

#2086 Reduce GC time overhead caused by WeakReferences
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/StatementInstrumentation.java
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/helper/JdbcHelper.java
  apm-agent-plugins/apm-jdbc-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/AbstractJdbcInstrumentationTest.java
Labels: performance, agent-java
