Repository elastic/apm-agent-java, pull requests merged in 2021-02, with the labels that each got.

#1633 Fallback to TLS and quietly catch initialization error
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ssl/SslUtils.java
Labels: agent-java, bug

#1647 Avoid creating MultipleParentCL with bootstrap CL
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/IndyPluginClassLoaderFactory.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/classloading/IndyPluginClassLoader.java
Labels: agent-java, bug

#1649 update bytebuddy to 1.10.20
  CHANGELOG.asciidoc
  pom.xml
Labels: agent-java

#1650 Server url config
  .ci/load/Jenkinsfile
  CHANGELOG.asciidoc
  apm-agent-attach/src/main/java/co/elastic/apm/attach/RemoteAttacher.java
  apm-agent-benchmarks/src/main/java/co/elastic/apm/agent/benchmark/AbstractMockApmServerBenchmark.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerClient.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReporterConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientTest.java
  apm-agent-core/src/test/resources/test.elasticapm.disable-send.properties
  docs/configuration.asciidoc
  docs/setup-attach-cli.asciidoc
  docs/setup-javaagent.asciidoc
  docs/setup-ssl.asciidoc
  docs/troubleshooting.asciidoc
  elastic-apm-agent/src/test/resources/configuration.asciidoc.ftl
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractServletContainerIntegrationTest.java
  scripts/jenkins/docs_release_check/conftest.py
Labels: agent-java

#1648 Avoid sending null fields in the cloud metadata
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/CloudMetadataProvider.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/payload/CloudProviderInfo.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
Labels: agent-java, bug

#1644 Adding transaction_ignore_user_agents config
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/web/WebConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#1568 Add failing inferred spans test
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeTest.java
Labels: agent-java

#1656 Update Hibernate Search 6 instrumentation to 6.0.0.Final
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-hibernate-search-plugin/apm-hibernate-search-plugin-6_x/pom.xml
Labels: agent-java

#1651 Revert "[CI] Use JCenter"
  .ci/settings.xml
  Jenkinsfile
Labels: agent-java

#1622 Mark use_path_as_transaction_name as dynamic
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/web/WebConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#1621 Mark max_queue_size as non-dynamic
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReporterConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#1658 Flush metrics on shutdown
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/context/ExecutorServiceShutdownLifecycleListener.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/context/LifecycleListener.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/MetricRegistryReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/ExecutorUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerShutdownTest.java
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMetricsReporter.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerMetricsReporterTest.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/SamplingProfiler.java
Labels: agent-java

#1655 Fix sample less than precision
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/converter/RoundedDoubleConverter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/TraceState.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/converter/RoundedDoubleConverterTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TraceStateTest.java
  docs/configuration.asciidoc
Labels: agent-java

#1664 try improve OOTB experience with intelij
  apm-agent-plugins/apm-micrometer-plugin/pom.xml
  pom.xml
Labels: agent-java

#1669 Update slf4j and add to dependabot allow list
  .github/dependabot.yml
  pom.xml
Labels: agent-java

#1672 Add support for OkHttp 4.4+
  .github/dependabot.yml
  CHANGELOG.asciidoc
  apm-agent-core/src/test/java/co/elastic/apm/agent/TestClassWithDependencyRunner.java
  apm-agent-plugins/apm-okhttp-plugin/pom.xml
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttp3ClientAsyncInstrumentation.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttp3ClientInstrumentation.java
  apm-agent-plugins/apm-okhttp-plugin/src/test/java/co/elastic/apm/agent/okhttp/OkHttp3ClientAsyncInstrumentationTest.java
  apm-agent-plugins/apm-okhttp-plugin/src/test/java/co/elastic/apm/agent/okhttp/OkHttp3ClientInstrumentationTest.java
  apm-agent-plugins/apm-okhttp-test/pom.xml
  apm-agent-plugins/apm-okhttp-test/src/test/java/co/elastic/apm/agent/okhttp/OkHttp3ClientVersionIT.java
  apm-agent-plugins/pom.xml
  docs/supported-technologies.asciidoc
  pom.xml
Labels: agent-java

#1675 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/directory-placeholder
  apm-agent-core/src/test/resources/apm-server-schema/current/error.json
  apm-agent-core/src/test/resources/apm-server-schema/current/metadata.json
  apm-agent-core/src/test/resources/apm-server-schema/current/metricset.json
  apm-agent-core/src/test/resources/apm-server-schema/current/span.json
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: agent-java, automation
