Repository elastic/apm-agent-java, pull requests merged in 2022-04, with the labels that each got.

#2567 Fix git commit ID
  elastic-apm-agent/pom.xml
Labels: agent-java

#2566 Fix agent class package definition
  CHANGELOG.asciidoc
  elastic-apm-agent/src/main/java/co/elastic/apm/agent/premain/ShadedClassLoader.java
Labels: agent-java, ci:agent-integration

#2568 Fix log4j init with SecurityManager
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/Log4jLoggerFactoryBridge.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/logging/LoggingConfigurationTest.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/logging/LoggerFactory.java
Labels: agent-java

#2525 Implement default type fallback
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Span.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/SpanTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TransactionTest.java
Labels: agent-java

#2571 Clarify that log_ecs_reformatting only applies to pattern layouts by default
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#2547 Allow square bracket in JMX config value
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jmx-plugin/src/main/java/co/elastic/apm/agent/jmx/MapsTokenScanner.java
  apm-agent-plugins/apm-jmx-plugin/src/test/java/co/elastic/apm/agent/jmx/MapsTokenScannerTest.java
Labels: agent-java

#2552 fix premature recycling
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Span.java
Labels: agent-java

#2573 Add troubleshooting entry about jlink
  docs/troubleshooting.asciidoc
Labels: agent-java

#2572 [Flakey test] Trying to stablize AsyncTraceMethodInstrumentationTest
  apm-agent-plugins/apm-java-concurrent-plugin/src/test/java/co/elastic/apm/agent/concurrent/AsyncTraceMethodInstrumentationTest.java
Labels: agent-java

#2575 add java/jdk.management to jlink in troubleshooting doc
  docs/troubleshooting.asciidoc
Labels: agent-java

#2576 compression-eligible span must not be buffered on an already ended parent
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Span.java
Labels: agent-java

#2530 Avoid multiple HttpUrlConnection span ending on nested calls
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-plugins/apm-urlconnection-plugin/src/main/java/co/elastic/apm/agent/urlconnection/HttpUrlConnectionInstrumentation.java
Labels: agent-java

#2577 fix: Use a loopback pinentry for signing
  pom.xml
Labels: bug, agent-java, Team:Automation

#2582 prepare for 1.30.1 release
  CHANGELOG.asciidoc
Labels: agent-java

#2584 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/error.json
  apm-agent-core/src/test/resources/apm-server-schema/current/span.json
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: automation, agent-java

#2586 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/error.json
  apm-agent-core/src/test/resources/apm-server-schema/current/span.json
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: automation, agent-java

#2589 fix comma missing from json dropped stats, adding test case
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/FastExitSpanTest.java
Labels: agent-java, await-release

#2593 Fix/remove tests for non-sampled transactions
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/AbstractContext.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerClient.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/AbstractInstrumentationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockTracer.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/logging/LoggerFactory.java
  apm-agent-plugin-sdk/src/test/java/co/elastic/apm/agent/sdk/logging/LoggerFactoryTest.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/AbstractGrpcClientInstrumentationTest.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/AbstractGrpcServerInstrumentationTest.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/testapp/AbstractGrpcAppTest.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/testapp/HelloClient.java
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/test/java/co/elastic/apm/agent/grpc/testapp/HelloServer.java
  apm-agent-plugins/apm-jaxrs-plugin-jakartaee-test/src/test/java/co/elastic/apm/agent/jaxrs/JakartaeeJaxRsTransactionNameInstrumentationTest.java
  apm-agent-plugins/apm-jaxrs-plugin/src/test/java/co/elastic/apm/agent/jaxrs/JaxRsTransactionNameInstrumentationTest.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/test/java/co/elastic/apm/agent/jms/JmsInstrumentationIT.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/test/java/co/elastic/apm/agent/kafka/KafkaIT.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/ServletContainerTest.java
  apm-opentracing/src/test/java/co/elastic/apm/opentracing/OpenTracingBridgeTest.java
Labels: agent-java

#2596 Fix wrong logger causing NoClassDefFoundError when using OTel bridge
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/bytebuddy/InstallationListenerImpl.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/context/OTelContextStorage.java
Labels: agent-java

#2581 Security Manager log file fallback
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/Log4j2ConfigurationFactory.java
Labels: agent-java

#2564 Vertx avoid wrapping
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/AbstractVertxWebHelper.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/CommonVertxServerClientTest.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/CommonVertxWebTest.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/HttpServerRequestImplEndInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/HttpServerRequestWrapperInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/ResponseEndHandlerWrapper.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/WebHelper.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/WebInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http1/Http1StartTransactionInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http2/Http2Instrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http2/Http2ServerResponseImplEndInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/web/http2/Http2StartTransactionInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
Labels: agent-java, await-release
