Repository elastic/apm-agent-java, pull requests merged in 2022-03, with the labels that each got.

#2485 Create the Redis spans as exit spans
  apm-agent-plugins/apm-redis-plugin/apm-redis-common/src/main/java/co/elastic/apm/agent/redis/RedisSpanUtils.java
Labels: agent-java, community, triage

#2484 Create the JDBC spans as exit spans
  CHANGELOG.asciidoc
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/helper/JdbcHelper.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/AbstractJdbcInstrumentationTest.java
Labels: agent-java, community, triage

#2487 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: automation, agent-java

#2477 Added (initial) support for compressing spans
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/SpanConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/converter/TimeDuration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Composite.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Span.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/tracemethods/TraceMethodInstrumentation.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/StringBuilderUtils.java
  apm-agent-core/src/main/resources/META-INF/services/org.stagemonitor.configuration.ConfigurationOptionProvider
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/AbstractCompressionStrategyTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/ExactMatchCompressionStrategyTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/SameKindCompressionStrategyTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/SpanCompressionIT.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
Labels: agent-java, community

#2486 Instrumenting Logback only if both core AND classic classes available
  apm-agent-plugins/apm-log-shader-plugin/apm-logback-plugin/apm-logback-plugin-impl/src/main/java/co/elastic/apm/agent/logback/LogbackLogShadingInstrumentation.java
Labels: agent-java

#2445 fix windows hostname test
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentDownloadUtils.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/SystemInfo.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/metadata/SystemInfoTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testinstr/SystemAllEnvVariablesInstrumentation.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testinstr/SystemEnvVariableInstrumentation.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testinstr/SystemSingleEnvVariablesInstrumentation.java
  elastic-apm-agent/src/test/java/co/elastic/apm/agent/premain/ShadedClassLoaderTest.java
Labels: agent-java, ci:windows

#2497 add granular/fine duration support (micros are only granular)
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/converter/TimeDuration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/converter/TimeDurationValueConverter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/converter/TimeDurationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/converter/TimeDurationValueConverterTest.java
Labels: agent-java

#2503 Discourage setting a TimeDuration without a duration suffix
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/converter/TimeDurationValueConverter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/converter/TimeDurationValueConverterTest.java
  apm-agent/src/test/resources/configuration.asciidoc.ftl
  docs/configuration.asciidoc
Labels: agent-java, community, triage

#2491 Added support for dropping fast exit spans
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/SpanConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/ServiceResourceTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/FastExitSpanTest.java
  docs/configuration.asciidoc
Labels: agent-java, community, triage

#2506 Removed internal tag from span compression related configuration options
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/SpanConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java, community, triage

#2507 Change defaults of `span_compression_enabled` and `span_compression_same_kind_max_duration`
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/SpanConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/AbstractInstrumentationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/AbstractCompressionStrategyTest.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/AbstractJdbcInstrumentationTest.java
  docs/configuration.asciidoc
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractServletContainerIntegrationTest.java
Labels: agent-java, community, triage

#2509 Fix classloader for cross-plugin dependencies
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-apache-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/ApacheHttpAsyncClientInstrumentation.java
  apm-agent-plugins/apm-apache-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/ApacheHttpClientInstrumentation.java
  apm-agent-plugins/apm-apache-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/LegacyApacheHttpClientInstrumentation.java
  apm-agent-plugins/apm-apache-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/helper/HttpAsyncRequestProducerWrapper.java
  apm-agent-plugins/apm-asynchttpclient-plugin/src/main/java/co/elastic/apm/agent/asynchttpclient/AbstractAsyncHttpClientInstrumentation.java
  apm-agent-plugins/apm-cassandra/apm-cassandra-core-plugin/pom.xml
  apm-agent-plugins/apm-httpclient-core/src/main/java/co/elastic/apm/agent/httpclient/HttpClientHelper.java
  apm-agent-plugins/apm-httpclient-core/src/test/java/co/elastic/apm/agent/httpclient/HttpClientHelperTest.java
  apm-agent-plugins/apm-jdk-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/HttpClientAdviceHelper.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttp3ClientAsyncInstrumentation.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttp3ClientInstrumentation.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttpClientAsyncInstrumentation.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttpClientInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/adapter/JakartaServletApiAdapter.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/servicename/InitServiceNameInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/servicename/ServletContainerInitializerServiceNameInstrumentation.java
  apm-agent-plugins/apm-spring-resttemplate/apm-spring-resttemplate-plugin/src/main/java/co/elastic/apm/agent/resttemplate/SpringRestTemplateAdvice.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/main/java/co/elastic/apm/agent/springwebmvc/SpringMvcPluginClassLoaderRootPackageCustomizer.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/main/java/co/elastic/apm/agent/springwebmvc/SpringServiceNameInstrumentation.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.bci.PluginClassLoaderRootPackageCustomizer
  apm-agent-plugins/apm-urlconnection-plugin/src/main/java/co/elastic/apm/agent/urlconnection/HttpUrlConnectionInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/AbstractVertxWebClientHelper.java
  apm-agent/src/test/java/co/elastic/apm/agent/PackagingTest.java
Labels: agent-java

#2505 Added support for collecting statistics about dropped exit spans
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/DroppedSpanStats.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/FastExitSpanTest.java
Labels: agent-java, community, await-release

#2424 Implemented AWS lambda spec changes
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/InstrumentationStats.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/ServiceInfo.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/FaaSMetaDataExtension.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/MetaData.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/ServiceFactory.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Faas.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/Reporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReportingEvent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/NoRandomAccessMap.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/ServiceInfoTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/metadata/MetaDataTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerReporterIntegrationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandlerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-plugins/apm-awslambda-plugin/src/main/java/co/elastic/apm/agent/awslambda/RequestHandlerInstrumentation.java
  apm-agent-plugins/apm-awslambda-plugin/src/main/java/co/elastic/apm/agent/awslambda/helper/APIGatewayProxyV1TransactionHelper.java
  apm-agent-plugins/apm-awslambda-plugin/src/main/java/co/elastic/apm/agent/awslambda/helper/APIGatewayProxyV2TransactionHelper.java
  apm-agent-plugins/apm-awslambda-plugin/src/main/java/co/elastic/apm/agent/awslambda/helper/AbstractAPIGatewayTransactionHelper.java
  apm-agent-plugins/apm-awslambda-plugin/src/main/java/co/elastic/apm/agent/awslambda/helper/AbstractLambdaTransactionHelper.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/AbstractPlainLambdaTest.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/AbstractStreamHandlerLambdaTest.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/ApiGatewayV1LambdaTest.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/ApiGatewayV2LambdaTest.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/S3EventLambdaTest.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/SNSEventLambdaTest.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/SQSEventLambdaTest.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/lambdas/TestContext.java
  docs/setup-aws-lambda.asciidoc
  elastic-apm-agent/src/main/assembly/elastic-apm-handler
Labels: agent-java, await-release, size:medium

#2519 Fix asciidoc links in main branch
  CHANGELOG.asciidoc
Labels: chore

#2418 OSGi classloading workaround + refactor servlet contants
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/classloading/DiscriminatingMultiParentClassLoader.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/classloading/ExternalPluginClassLoader.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/classloading/IndyPluginClassLoader.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/logging/LoggingConfigurationTest.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/AbstractServletInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/AsyncInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/Constants.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/FilterChainInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/FilterInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JakartaAsyncInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JakartaFilterChainInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JakartaFilterInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JakartaRequestStreamRecordingInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JakartaServletInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JakartaServletVersionInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JavaxAsyncInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JavaxFilterChainInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JavaxFilterInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JavaxRequestStreamRecordingInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JavaxServletInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JavaxServletVersionInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/RequestStreamRecordingInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletServiceNameHelper.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletVersionInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/adapter/JavaxServletApiAdapter.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/servicename/InitServiceNameInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/servicename/ServletContainerInitializerServiceNameInstrumentation.java
  elastic-apm-agent/src/main/java/co/elastic/apm/agent/premain/ShadedClassLoader.java
Labels: agent-java, ci:agent-integration

#2523 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/span.json
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: automation, agent-java

#2521 Addded missing setUser method to the public api documentation
  docs/public-api.asciidoc
Labels: docs, agent-java, community

#2515 Respect `transaction_ignore_urls` and `transaction_ignore_user_agents` when creating transactions in the spring webflux instrumentation
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/WebfluxHelper.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/AbstractServerInstrumentationTest.java
Labels: agent-java, community, triage

#2501 WebSocket requests should be captured with transaction type request
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jakarta-websocket-plugin/src/main/java/co/elastic/apm/agent/websocket/BaseServerEndpointInstrumentation.java
  apm-agent-plugins/apm-jakarta-websocket-plugin/src/test/java/co/elastic/apm/agent/websocket/BaseServerEndpointInstrumentationTest.java
Labels: bug, agent-java, community

#2510 Add warning for misconfigured security manager
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  elastic-apm-agent/src/main/java/co/elastic/apm/agent/premain/AgentMain.java
  integration-tests/main-app-test/src/main/java/co/elastic/apm/test/Main.java
Labels: agent-java

#2453 ci: support arn automation within release pipeline
  .ci/Makefile
  .ci/create-arn-table.sh
  .ci/release/Jenkinsfile
  .gitignore
Labels: agent-java, await-release

#2532 release: fetch aws lambda zip file from a google storage bucket
  .ci/release/Jenkinsfile
Labels: agent-java

#2534 Readd enable_log_correlation to docs
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#2533 release: enable the disabled stages and run docker images publishing earlier
  .ci/release/Jenkinsfile
Labels: automation, agent-java

#2537 Log less frightening message when a plugin's class version is unsupported in the current VM
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/DependencyInjectingServiceLoader.java
Labels: agent-java

#2540 docs: fix date
  CHANGELOG.asciidoc
Labels: agent-java

#2544 [1.x] docs: fix release date (#2540)
  CHANGELOG.asciidoc
Labels: agent-java

#2551 Fixed AWS lambda support for missing AWS events classes
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-awslambda-plugin/src/main/java/co/elastic/apm/agent/awslambda/RequestHandlerInstrumentation.java
  apm-agent-plugins/apm-awslambda-plugin/src/main/java/co/elastic/apm/agent/awslambda/helper/AWSEventsHelper.java
Labels: agent-java

#2546 Fixing JakartaInitServiceNameInstrumentation
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JakartaServletVersionInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JavaxServletVersionInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/servicename/ServletContainerInitializerServiceNameInstrumentation.java
Labels: bug, agent-java

#2553 Fix/refactor unsampled tests
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracerBuilder.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/DropUnsampledTransactionsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/tracemethods/TraceMethodInstrumentationTest.java
Labels: agent-java

#2560 docs: Remove log correlation
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  docs/configuration.asciidoc
  docs/log-correlation.asciidoc
Labels: agent-java

#2562 Correcting Vert.x supported versions
  docs/supported-technologies.asciidoc
Labels: agent-java

#2561 Add link to getting started with ECS logging from log_ecs_reformatting
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java
