Repository elastic/apm-agent-java, pull requests merged in 2022-12, with the labels that each got.

#2896 Fix NPE in spring-mvc
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-spring-webmvc-plugin/src/main/java/co/elastic/apm/agent/springwebmvc/ViewRenderInstrumentation.java
Labels: agent-java

#2888 Added agent background overhead metrics
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/MetricsConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/builtin/AgentOverheadMetrics.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/ElasticThreadStateListener.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/ExecutorUtils.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/JmxUtils.java
  apm-agent-core/src/main/resources/META-INF/services/co.elastic.apm.agent.context.LifecycleListener
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/builtin/AgentOverheadMetricsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/ExecutorUtilsTest.java
  docs/configuration.asciidoc
  docs/metrics.asciidoc
Labels: agent-java

#2895 Add support for histograms to micrometer
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializer.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializerTest.java
  docs/metrics.asciidoc
  docs/supported-technologies.asciidoc
Labels: agent-java

#2897 increase timeout for MicrometerInstrumentationStepTest.testStepVsCumulativeMultiple
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerInstrumentationStepTest.java
Labels: agent-java

#2894 test: synchronizing json spec
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/ServiceResourceTest.java
  apm-agent-core/src/test/resources/json-specs/service_resource_inference.json
Labels: automation, agent-java

#2900 Fix mockito race conditions by memoizing transaction_max_spans.
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/ExecutorUtilsTest.java
Labels: agent-java

#2908 [docs] Update docs with support for SecurityManager
  docs/setup.asciidoc
  docs/supported-technologies.asciidoc
Labels: agent-java

#2911 Prepare for 1.35.0 release
  CHANGELOG.asciidoc
Labels: agent-java

#2914 Change to DEBUG (from INFO) 'Not re-registering MeterRegistry ...'
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMetricsReporter.java
Labels: agent-java

#2917 Fixed changelog formatting issue
  CHANGELOG.asciidoc
Labels: agent-java

#2902 Fix typo: intelij -> IntelliJ
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/ForkJoinTaskInstrumentation.java
  pom.xml
Labels: agent-java, community

#2919 [docs] Update asciidoc syntax to fix list rendering
  CONTRIBUTING.md
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#2915 Support daily snapshots
  .ci/snapshoty.yml
  Jenkinsfile
Labels: agent-java

#2920 Enabled spring RestTemplate tests for spring 6
  apm-agent-plugins/apm-spring-resttemplate/apm-spring-resttemplate-test/src/test/java/co/elastic/apm/agent/resttemplate/SpringRestTemplateVersionsIT.java
Labels: agent-java, ci:agent-integration

#2934 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/metadata.json
Labels: automation, agent-java

#2927 avoid ipv6 ambiguity for server_url
  CHANGELOG.asciidoc
  apm-agent-api/src/main/java/co/elastic/apm/api/Transaction.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentAttacher.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReporterConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientTest.java
  apm-agent/src/test/resources/configuration.asciidoc.ftl
  docs/api-elastic.asciidoc
  docs/configuration.asciidoc
  docs/setup-attach-cli.asciidoc
  docs/setup-javaagent.asciidoc
  docs/troubleshooting.asciidoc
Labels: agent-java

#2938 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/span.json
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: automation, agent-java
