Repository elastic/apm-agent-java, pull requests merged in 2022-01, with the labels that each got.

#2385 Use emulated attach as fallback
  CHANGELOG.asciidoc
  apm-agent-attach/src/main/java/co/elastic/apm/attach/ElasticApmAttacher.java
  apm-agent-attach/src/main/java/co/elastic/apm/attach/ElasticAttachmentProvider.java
Labels: agent-java

#2386 Clarify & fix doc for runtime attach JNA dep
  docs/setup-attach-api.asciidoc
Labels: agent-java

#2384 Fix dynamic log_level configuration
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/Log4j2ConfigurationFactory.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/logging/LoggingConfigurationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/logging/instr/LoggerTestInstrumentation.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/generated/HelloGrpc.java
Labels: bug, agent-java

#2327 JDK 17 Official support
  Jenkinsfile
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/metadata/ContainerInfoTest.java
  apm-agent-plugins/apm-redis-plugin/apm-jedis-plugin/src/test/java/co/elastic/apm/agent/jedis/Jedis1InstrumentationIT.java
  docs/supported-technologies.asciidoc
Labels: agent-java

#2377 Capture exceptions that are logged using the fatal log level.
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-error-logging-plugin/src/main/java/co/elastic/apm/agent/errorlogging/Log4j2LoggerErrorCapturingInstrumentation.java
  apm-agent-plugins/apm-error-logging-plugin/src/test/java/co/elastic/apm/agent/errorlogging/Log4j2LoggerErrorCapturingInstrumentationTest.java
Labels: agent-java, community, triage

#2391 Fix changelog
  CHANGELOG.asciidoc
Labels: agent-java, community, triage

#2326 Use *auth* instead of authorization for sanitizing fields
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java, community, triage

#2363 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: automation, agent-java

#2393 Split integration tests
  Jenkinsfile
  integration-tests/application-server-integration-tests/pom.xml
  pom.xml
  scripts/jenkins/smoketests-01.sh
  scripts/jenkins/smoketests-02.sh
Labels: agent-java

#2395 Try to fix flaky ApmServerReporterIntegrationTest#testTimeout
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerReporterIntegrationTest.java
Labels: agent-java, community, triage

#2392 Make `mvn test` pass on Apple silicon (M1)
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientProxySupportIT.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/DisabledOnAppleSilicon.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/DisabledOnAppleSiliconCondition.java
  apm-agent-core/src/test/resources/log4j2-test.xml
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/pom.xml
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/generated/HelloReply.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/generated/HelloRequest.java
  apm-agent-plugins/apm-grpc/pom.xml
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/AbstractJdbcInstrumentationTest.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/resources/testcontainers.properties
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/asyncprofiler/AsyncProfiler.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeSpanifyTest.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeTest.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/SamplingProfilerQueueTest.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/SamplingProfilerTest.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/asyncprofiler/AsyncProfilerTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/AsyncRabbitListenerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/DirectMessageListenerContainerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/FanoutIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/LambdaSimpleMessageListenerContainerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/RabbitListenerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/SimpleMessageListenerContainerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/SpringAmqpBatchIT.java
  pom.xml
Labels: agent-java

#2329 Drop unsampled transactions when connected to APM Server 8.0+
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerClient.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/DropUnsampledTransactionsTest.java
Labels: agent-java, community, triage, 8.2-candidate

#2399 Fix profile activation for non-apple silicon
  apm-agent-plugins/apm-grpc/pom.xml
Labels: agent-java

#2389 [jjbb] filter only for the default branch, PRs and tags
  .ci/jobs/apm-agent-java-mbp.yml
Labels: automation, agent-java

#2404 added GH action to trigger CI tests on ready PRs
  .github/workflows/triggerCI.yml
Labels: agent-java

#2400 Implement optional build steps
  .ci/schedule-weekly.groovy
  Jenkinsfile
Labels: automation, agent-java

#2408 docs: Link to APM Guide
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  docs/configuration.asciidoc
  docs/intro.asciidoc
  docs/opentracing.asciidoc
  docs/setup-ssl.asciidoc
  docs/setup.asciidoc
  docs/upgrading.asciidoc
Labels: agent-java, Team:Docs

#2415 Fix reporter flaky test
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerReporterIntegrationTest.java
Labels: agent-java

#2401 Neutral naming: main
  .ci/jobs/apm-agent-java-load-mbp.yml
  .ci/jobs/apm-agent-java-mbp.yml
  .ci/jobs/apm-agent-java-schedule-weekly.yml
  .ci/load/Jenkinsfile
  .ci/release/update_cloudfoundry.sh
  .ci/schedule-weekly.groovy
  .github/pull_request_template.md
  CONTRIBUTING.md
  Jenkinsfile
  README.md
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Span.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/TraceContext.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingWebClient.java
  docs/faq.asciidoc
  docs/method-monitoring.asciidoc
  docs/setup-javaagent.asciidoc
  docs/supported-technologies.asciidoc
  docs/troubleshooting.asciidoc
  docs/tuning-and-overhead.asciidoc
Labels: automation, agent-java

#2414 jjbb: enable tags for the opbeans automation
  .ci/jobs/apm-agent-java-mbp.yml
Labels: agent-java

#2417 Fix hyperlink URL in PR template
  .github/pull_request_template.md
Labels: agent-java, community

#2416 ci: three meta-stages (checkout, build, release)
  Jenkinsfile
Labels: agent-java, ci:jdk-compatibility, ci:end-to-end, ci:agent-integration

#1921 Use Implementation-Title as default service name if it is available
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/ServiceNameUtil.java
  apm-agent/src/test/resources/configuration.asciidoc.ftl
  docs/configuration.asciidoc
Labels: agent-java, community

#2419 jjbb: revert main branch
  .ci/jobs/apm-agent-java-mbp.yml
Labels: automation, agent-java, Team:Automation

#1922 Use Implementation-Version as default service version if it is available
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/ServiceInfo.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/Log4j2ConfigurationFactory.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/ServiceInfoTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
Labels: agent-java, community

#2423 Improved changelog
  CHANGELOG.asciidoc
Labels: agent-java, community, triage

#1726 Added support for overwriting the service version per classloader
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/GlobalTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/NoopTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/Tracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/TraceContext.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/Labels.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/MetricRegistryReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/MetricRegistrySerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/AbstractInstrumentationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/SpanTypeBreakdownTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TraceContextTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/LabelsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/MetricRegistryReporterTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/MetricSetSerializationTest.java
  apm-agent-core/src/test/resources/test.elasticapm.with-service-version.properties
  apm-agent-plugins/apm-api-plugin/src/test/java/co/elastic/apm/api/ElasticApmApiInstrumentationTest.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/CallTree.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/SamplingProfiler.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeSpanifyTest.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeTest.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletTransactionHelper.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/main/java/co/elastic/apm/agent/springwebmvc/SpringServiceNameInstrumentation.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/test/java/co/elastic/apm/agent/springwebmvc/template/AbstractViewRenderingInstrumentationTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/ExternalPluginTestApp.java
Labels: agent-java, community

#2190 Added an integration test for retrieving the service name/version from the main jars manifest
  integration-tests/main-app-test/pom.xml
  integration-tests/main-app-test/src/main/java/co/elastic/apm/test/Main.java
  integration-tests/main-app-test/src/test/java/co/elastic/apm/test/ServiceIT.java
  integration-tests/pom.xml
Labels: agent-java, community, triage

#2420 Avoid eager initialization of JMX on Weblogic
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jmx-plugin/src/main/java/co/elastic/apm/agent/jmx/JmxMetricTracker.java
Labels: agent-java

#2318 add jakartaee9 support notes
  docs/supported-technologies.asciidoc
Labels: agent-java

#2422 ci: enable optional stages in the branch
  Jenkinsfile
Labels: agent-java

#2355 Support for the Java LDAP client
  CHANGELOG.asciidoc
  apm-agent-core/src/test/resources/json-specs/span_types.json
  apm-agent-plugins/apm-java-ldap-plugin/pom.xml
  apm-agent-plugins/apm-java-ldap-plugin/src/main/java/co/elastic/apm/agent/java_ldap/LdapClientAdvice.java
  apm-agent-plugins/apm-java-ldap-plugin/src/main/java/co/elastic/apm/agent/java_ldap/LdapClientInstrumentation.java
  apm-agent-plugins/apm-java-ldap-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-java-ldap-plugin/src/test/java/co/elastic/apm/agent/java_ldap/LdapClientAdviceTest.java
  apm-agent-plugins/apm-java-ldap-plugin/src/test/resources/test.ldif
  apm-agent-plugins/pom.xml
  apm-agent/pom.xml
  docs/configuration.asciidoc
  docs/supported-technologies.asciidoc
Labels: new-feature, agent-java, community, triage

#2294 Improve failure message for ConfigurationExporterTest#testGeneratedConfigurationDocsAreUpToDate
  apm-agent/src/test/java/co/elastic/apm/agent/configuration/ConfigurationExporterTest.java
Labels: agent-java, community, triage

#1949 Support for instrumenting Struts 2 static resource requests
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-struts-plugin/pom.xml
  apm-agent-plugins/apm-struts-plugin/src/main/java/co/elastic/apm/agent/struts/ActionProxyAdvice.java
  apm-agent-plugins/apm-struts-plugin/src/main/java/co/elastic/apm/agent/struts/ActionProxyInstrumentation.java
  apm-agent-plugins/apm-struts-plugin/src/main/java/co/elastic/apm/agent/struts/ExecuteOperationsAdvice.java
  apm-agent-plugins/apm-struts-plugin/src/main/java/co/elastic/apm/agent/struts/ExecuteOperationsInstrumentation.java
  apm-agent-plugins/apm-struts-plugin/src/main/java/co/elastic/apm/agent/struts/StrutsFrameworkUtils.java
  apm-agent-plugins/apm-struts-plugin/src/main/java/co/elastic/apm/agent/struts/StrutsInstrumentation.java
  apm-agent-plugins/apm-struts-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-struts-plugin/src/test/java/co/elastic/apm/agent/struts/ActionProxyAdviceTest.java
  apm-agent-plugins/apm-struts-plugin/src/test/resources/struts.xml
Labels: new-feature, agent-java, community

#2296 Support for setting the service name on Log4j2's EcsLayout
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-plugins/apm-ecs-logging-plugin/pom.xml
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/java/co/elastic/apm/agent/ecs_logging/Log4j2ServiceNameInstrumentation.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/Log4j2ServiceNameInstrumentationTest.java
  apm-agent-plugins/pom.xml
  apm-agent/pom.xml
  docs/supported-technologies.asciidoc
Labels: agent-java, community, triage

#1703 [CI] new stages for running the compile and test maven goals on Windows
  Jenkinsfile
  apm-agent-plugins/apm-scala-concurrent-plugin/pom.xml
Labels: automation, agent-java, ci:windows

#1705 [CI] Full build and test on Windows - weekly
  .ci/schedule-weekly.groovy
  Jenkinsfile
Labels: automation, agent-java
