Repository elastic/apm-agent-java, pull requests merged in 2022-07, with the labels that each got.

#2148 Make the metric set limit configurable (#2147)
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/MetricsConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/MetricRegistry.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/MetricRegistryTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/builtin/CGroupMetricsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/builtin/JvmMemoryMetricsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/builtin/SystemMetricsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/builtin/ThreadMetricsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/MetricSetSerializationTest.java
Labels: agent-java, community, triage, size:small

#2693 Enforcing correct CI workers for benchmarks
  Jenkinsfile
Labels: agent-java, ci:benchmarks

#2699 Pin Vert.x version
  .github/dependabot.yml
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/helper/OkHttpTestClient.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/pom.xml
Labels: agent-java

#2676 Add transaction_name_groups config
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/web/WebConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/matcher/WildcardMatcher.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  docs/configuration.asciidoc
Labels: agent-java

#2703 ci: use the microbenchmarks-pool
  .ci/load/Jenkinsfile
  Jenkinsfile
  scripts/jenkins/run-benchmarks.sh
Labels: automation, agent-java, Team:Automation, ci:benchmarks

#2702 Webclient fix NPE
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/main/java/co/elastic/apm/agent/springwebclient/WebClientSubscriber.java
Labels: agent-java

#2705 prepare CHANGELOG for v1.33.0
  CHANGELOG.asciidoc
Labels: agent-java

#2706 fix typo, missing $ in docker push image latest variable
  scripts/jenkins/push_docker.sh
Labels: agent-java

#2704 docs: consistent naming of APM AWS Lambda extension
  docs/setup-aws-lambda.asciidoc
Labels: agent-java, Team:Docs

#2708 Debug/fix reactor instrumentation side-effects
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-reactor-plugin/src/main/java/co/elastic/apm/agent/reactor/TracedSubscriber.java
  apm-agent-plugins/apm-reactor-plugin/src/test/java/co/elastic/apm/agent/reactor/TracedSubscriberTest.java
Labels: agent-java

#2710 remove _type from benchmark results
  apm-agent-benchmarks/src/main/java/co/elastic/apm/agent/benchmark/PostProcessBenchmarkResults.java
Labels: agent-java

#2719 add transitive dependency which for no reason has stopped being pulled in
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-plugin/src/test/java/co/elastic/apm/agent/lettuce/Lettuce5VersionsIT.java
Labels: agent-java

#2717 document the metric_set_limit option
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/MetricsConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/MetricRegistry.java
  docs/configuration.asciidoc
Labels: agent-java

#2722 Increase transaction count timeout
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-plugins/apm-quartz-job-plugin/apm-quartz-1-plugin/src/test/java/co/elastic/apm/agent/quartzjob/Quartz1JobTransactionNameInstrumentationTest.java
Labels: agent-java

#2723 Avoid context propagation from agent threads and Executors
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/ExecutorUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/ExecutorUtilsTest.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/ExecutorInstrumentation.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/JavaConcurrent.java
Labels: agent-java

#2709 also support SIDs when getting instance from Oracle jdbc connections
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/helper/ConnectionMetaData.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/helper/ConnectionMetaDataTest.java
Labels: agent-java, community, triage

#2685 Implement otel spanlinks api
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/sdk/OTelSpanBuilder.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/sdk/OTelSpanContext.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/test/java/co/elastic/apm/agent/opentelemetry/sdk/OTelSpanLinkTest.java
Labels: agent-java

#2727 debug/improve attach
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentAttacher.java
Labels: agent-java
