Repository elastic/apm-agent-java, pull requests merged in 2022-09, with the labels that each got.

#2766 Ignore few other agents
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/bytebuddy/ClassLoaderNameMatcher.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-common/src/test/java/co/elastic/apm/agent/awssdk/common/AbstractSQSClientIT.java
Labels: agent-java

#2765 avoid warn enable_log_correlation in remote config
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/ApmServerConfigurationSource.java
Labels: agent-java

#2768 Fix windows tests
  elastic-apm-agent/src/test/java/co/elastic/apm/agent/premain/ShadedClassLoaderTest.java
Labels: agent-java, ci:windows

#2770 Fixing version of MongoDB 4.x sync support
  docs/supported-technologies.asciidoc
Labels: agent-java

#2760 implementation for Trace Continuation Strategy
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/TraceState.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/TransactionUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/SpanTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TraceContinuationStrategyTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TransactionTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  docs/configuration.asciidoc
Labels: agent-java

#2767 Capture user name with Azure SSO
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletApiAdvice.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletTransactionHelper.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/ServletTransactionHelperTest.java
Labels: agent-java

#2773 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/log.json
Labels: automation, agent-java

#2763 Refactor agent artifacts access for tests
  apm-agent-common/pom.xml
  apm-agent-common/src/test/java/co/elastic/apm/agent/test/AgentFileAccessor.java
  apm-agent-common/src/test/java/co/elastic/apm/agent/test/AgentFileAccessorTest.java
  apm-agent-plugins/pom.xml
  integration-tests/application-server-integration-tests/pom.xml
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractServletContainerIntegrationTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AgentFileAccessor.java
  integration-tests/main-app-test/pom.xml
  integration-tests/main-app-test/src/test/java/co/elastic/apm/test/ServiceIT.java
  integration-tests/runtime-attach/runtime-attach-test/pom.xml
  integration-tests/runtime-attach/runtime-attach-test/src/test/java/co/elastic/apm/testapp/RuntimeAttachTestIT.java
Labels: agent-java, ci:agent-integration, ci:windows

#2775 Upgrading async profiler to 1.8.8
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-aarch64.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-arm.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-x64.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-linux-x86.so
  apm-agent-plugins/apm-profiling-plugin/src/main/resources/asyncprofiler/libasyncProfiler-macos-x64.so
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/asyncprofiler/AsyncProfilerUpgrader.java
Labels: agent-java

#2772 Fixing AWS Fargate container ID parsing
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/SystemInfo.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/metadata/ContainerInfoTest.java
Labels: agent-java

#2747 Make traceparent header creation thread-safe
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/TraceContext.java
Labels: agent-java

#2746 cgroup max memory discovery analysis
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/builtin/CGroupMetrics.java
Labels: agent-java

#2777 release: configure git user
  .ci/release/Jenkinsfile
Labels: agent-java

#2735 Fix OTel bridge behavior with multiple classloaders + improved activation
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/ElasticContext.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/ElasticContextWrapper.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/context/OTelContextStorage.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/sdk/OTelBridgeContext.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/sdk/OTelSpan.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/test/java/co/elastic/apm/agent/opentelemetry/sdk/ElasticOpenTelemetryTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-test/src/test/java/co/elastic/apm/opentelemetry/OpenTelemetryVersionIT.java
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-app/pom.xml
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-app/src/main/java/testapp/Main.java
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-app/src/test/java/ExternalPluginOTelIT.java
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-plugin1/pom.xml
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-plugin1/src/main/java/co/elastic/apm/sample/plugin1/CreateTransactionInstrumentation.java
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-plugin1/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-plugin2/pom.xml
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-plugin2/src/main/java/co/elastic/apm/sample/plugin2/CreateSpanInstrumentation.java
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-plugin2/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  integration-tests/external-plugin-otel-test/pom.xml
  integration-tests/pom.xml
Labels: bug, agent-java, ci:agent-integration

#2782 Promote Reactor & Weblux plugins to GA
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-reactor-plugin/src/main/java/co/elastic/apm/agent/reactor/ReactorInstrumentation.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/main/java/co/elastic/apm/agent/springwebclient/WebClientExchangeFunctionInstrumentation.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/WebFluxInstrumentation.java
  docs/supported-technologies.asciidoc
Labels: agent-java

#2784 release: disabling steps to complete release 1.34.0
  .ci/release/Jenkinsfile
Labels: agent-java

#2783 Limit activation stack depth
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ActiveStack.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
Labels: agent-java

#2787 release: restore release pipeline
  .ci/release/Jenkinsfile
Labels: agent-java

#2798 Ignore '*principal*' headers
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#2800 Fix imports in AWS SDK instrumentation
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/BaseAsyncClientHandlerInstrumentation.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/BaseSyncClientHandlerInstrumentation.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/ResponseHandlerWrapper.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/helper/SQSHelper.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/helper/sqs/wrapper/MessageListWrapper.java
Labels: agent-java

#2802 .ci: remove End-to-End Integration Tests stage
  Jenkinsfile
Labels: agent-java

#2805 test: synchronizing json spec
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/metadata/ContainerInfoTest.java
  apm-agent-core/src/test/resources/json-specs/cgroup_parsing.json
Labels: automation, agent-java

#2790 release: less interactive and allow running stages individually
  .ci/release/Jenkinsfile
Labels: automation, agent-java, Team:Automation

#2814 prepare for 1.34.1 release
  CHANGELOG.asciidoc
Labels: agent-java
