Repository elastic/apm-agent-java, pull requests merged in 2022-11, with the labels that each got.

#2866 Opt in for very old bytecode instrumentation
  CHANGELOG.asciidoc
  apm-agent-core/pom.xml
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/bytebuddy/ErrorLoggingListener.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/bytebuddy/PatchBytecodeVersionTo51Transformer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/InstrumentationTest.java
  docs/configuration.asciidoc
Labels: agent-java

#2867 Prevent race-condition on the span name when unnamed spans are ended.
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/error/ErrorCapture.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/StackFrame.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/SpanTest.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/CallTree.java
Labels: agent-java

#2873 fix the build break, spring 6.0.0 is compiled with a more recent Java
  apm-agent-plugins/apm-spring-resttemplate/apm-spring-resttemplate-test/src/test/java/co/elastic/apm/agent/resttemplate/SpringRestTemplateVersionsIT.java
Labels: agent-java

#2877 Increase timeout in MicrometerConfigInstrumentationTest
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerConfigInstrumentationTest.java
Labels: agent-java

#2874 Bump ByteBuddy to version 1.12.19
  CHANGELOG.asciidoc
  pom.xml
Labels: agent-java

#2876 Update Elasticsearch API client and tests to 8.5.1
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-api-client-test/pom.xml
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-api-client-test/src/test/java/co/elastic/apm/esjavaclient/AbstractElasticsearchJavaTest.java
Labels: agent-java

#2882 Updated mockserver to latest for ARM support
  integration-tests/application-server-integration-tests/pom.xml
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractServletContainerIntegrationTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/MockServerContainer.java
Labels: agent-java

#2806 Capture MongoDB statement
  CHANGELOG.asciidoc
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/ServiceResourceTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/Assertions.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/DbAssert.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/SpanAssert.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-1-plugin/src/test/java/co/elastic/apm/agent/awssdk/v1/DynamoDbClientIT.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/test/java/co/elastic/apm/agent/awssdk/v2/DynamoDbClientIT.java
  apm-agent-plugins/apm-cassandra/apm-cassandra3-plugin/src/test/java/co/elastic/apm/agent/cassandra/Cassandra3InstrumentationIT.java
  apm-agent-plugins/apm-cassandra/apm-cassandra4-plugin/src/test/java/co/elastic/apm/agent/cassandra/Cassandra4InstrumentationIT.java
  apm-agent-plugins/apm-hibernate-search-plugin/apm-hibernate-search-plugin-common/src/test/java/co/elastic/apm/agent/hibernatesearch/HibernateSearchAssertionHelper.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/AbstractJdbcInstrumentationTest.java
  apm-agent-plugins/apm-mongodb/apm-mongodb-common/src/main/java/co/elastic/apm/agent/mongodb/MongoConfiguration.java
  apm-agent-plugins/apm-mongodb/apm-mongodb-common/src/main/java/co/elastic/apm/agent/mongodb/MongoHelper.java
  apm-agent-plugins/apm-mongodb/apm-mongodb-common/src/test/java/co/elastic/apm/agent/mongodb/AbstractMongoClientInstrumentationIT.java
  apm-agent-plugins/apm-mongodb/apm-mongodb3-plugin/src/main/java/co/elastic/apm/agent/mongodb/v3/ConnectionCommandInstrumentation.java
  apm-agent-plugins/apm-mongodb/apm-mongodb3-plugin/src/main/java/co/elastic/apm/agent/mongodb/v3/ConnectionInstrumentation.java
  apm-agent-plugins/apm-mongodb/apm-mongodb3-plugin/src/main/resources/META-INF/services/org.stagemonitor.configuration.ConfigurationOptionProvider
  apm-agent-plugins/apm-mongodb/apm-mongodb3-plugin/src/test/java/co/elastic/apm/agent/mongodb/v3/Mongo3AsyncIT.java
  apm-agent-plugins/apm-mongodb/apm-mongodb3-plugin/src/test/java/co/elastic/apm/agent/mongodb/v3/Mongo3SyncIT.java
  apm-agent-plugins/apm-mongodb/apm-mongodb4-plugin/src/main/java/co/elastic/apm/agent/mongodb/v4/ConnectionCommandInstrumentation.java
  apm-agent-plugins/apm-mongodb/apm-mongodb4-plugin/src/main/resources/META-INF/services/org.stagemonitor.configuration.ConfigurationOptionProvider
  apm-agent-plugins/apm-mongodb/apm-mongodb4-plugin/src/test/java/co/elastic/apm/agent/mongodb/v4/Mongo4LegacyIT.java
  docs/configuration.asciidoc
Labels: agent-java, 8.6-candidate

#2886 [docs] Adding config options section for MongoDB
  docs/configuration.asciidoc
Labels: agent-java

#2864 Added reporter health metrics
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/MetricsConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracerBuilder.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/MetricCollector.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/MetricRegistry.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/MetricSet.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/MetricsProvider.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/builtin/AgentReporterMetrics.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/AbstractIntakeApiHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReporterFactory.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReporterMonitor.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReportingEvent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReportingEventCounter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/MetricRegistrySerializer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/AtomicDouble.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/builtin/AgentReporterMetricsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerReporterIntegrationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ReporterFactoryTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/MetricSetSerializationTest.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/test/java/co/elastic/apm/agent/esrestclient/v6_4/ElasticsearchRestClientInstrumentationIT_RealReporter.java
  docs/configuration.asciidoc
  docs/metrics.asciidoc
Labels: agent-java

#2795 Added finagle Http client
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-finagle-httpclient-plugin/pom.xml
  apm-agent-plugins/apm-finagle-httpclient-plugin/src/main/java/co/elastic/apm/agent/finaglehttpclient/FinagleExceptionSourceFilterInstrumentation.java
  apm-agent-plugins/apm-finagle-httpclient-plugin/src/main/java/co/elastic/apm/agent/finaglehttpclient/FinaglePayloadSizeFilterInstrumentation.java
  apm-agent-plugins/apm-finagle-httpclient-plugin/src/main/java/co/elastic/apm/agent/finaglehttpclient/FinagleTlsFilterInstrumentation.java
  apm-agent-plugins/apm-finagle-httpclient-plugin/src/main/java/co/elastic/apm/agent/finaglehttpclient/helper/RequestHeaderAccessor.java
  apm-agent-plugins/apm-finagle-httpclient-plugin/src/main/java/co/elastic/apm/agent/finaglehttpclient/package-info.java
  apm-agent-plugins/apm-finagle-httpclient-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-finagle-httpclient-plugin/src/test/java/co/elastic/apm/agent/finaglehttpclient/FinagleHttpClientTest.java
  apm-agent-plugins/apm-httpclient-core/src/main/java/co/elastic/apm/agent/httpclient/HttpClientHelper.java
  apm-agent-plugins/apm-httpclient-core/src/test/java/co/elastic/apm/agent/httpclient/AbstractHttpClientInstrumentationTest.java
  apm-agent-plugins/pom.xml
  apm-agent/pom.xml
  docs/configuration.asciidoc
  docs/supported-technologies.asciidoc
Labels: agent-java

#2890 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/span.json
Labels: automation, agent-java

#2893 Restoring Windows builds
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/PrivilegedActionUtilsTest.java
  apm-agent-plugins/apm-logging-plugin/apm-tomcat-logging-plugin/src/test/java/co/elastic/apm/agent/tomcatlogging/TomcatLoggingInstrumentationTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/SpringAmqpBatchIT.java
Labels: agent-java, ci:windows

#2889 Make api_key and secret_token dynamic
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReporterConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientTest.java
  docs/configuration.asciidoc
Labels: agent-java
