Repository elastic/apm-agent-java, pull requests merged in 2022-02, with the labels that each got.

#2429 Always use JDK default URL handler
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/CloudMetadataProvider.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerClient.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/HttpUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/HttpUtilsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/CustomEnvVariables.java
Labels: agent-java, size:small

#2439 Speedup instrumentation by not validating (only needed in tests)
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
Labels: agent-java

#2159 Extend tests for webflux
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/AbstractServerInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingAnnotated.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingFunctional.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingHandler.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingWebClient.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/WebFluxConfig.java
Labels: agent-java, community, triage, size:small

#2438 Disable -Xshare:on in AWS handler script
  CHANGELOG.asciidoc
  Jenkinsfile
  docs/setup-aws-lambda.asciidoc
  elastic-apm-agent/src/main/assembly/elastic-apm-handler
Labels: agent-java

#2441 test: synchronizing json spec
  apm-agent-core/src/test/resources/json-specs/span_types.json
Labels: automation, agent-java

#2442 Add support for multi-release jars
  apm-agent/pom.xml
  elastic-apm-agent/pom.xml
  elastic-apm-agent/src/test/java/co/elastic/apm/agent/premain/AgentPackagingIT.java
  pom.xml
Labels: agent-java

#2440 Service name auto discovery docs and polishing
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/ServiceInfo.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletServiceNameHelper.java
  apm-agent-plugins/apm-spring-webmvc-plugin/pom.xml
  apm-agent-plugins/apm-spring-webmvc-plugin/src/main/java/co/elastic/apm/agent/springwebmvc/SpringServiceNameInstrumentation.java
  apm-agent/src/test/resources/configuration.asciidoc.ftl
  docs/configuration.asciidoc
  integration-tests/spring-boot-2/spring-boot-2-base/src/test/java/co/elastic/apm/spring/boot/AbstractSpringBootTest.java
Labels: agent-java, await-release

#2446 test: synchronizing json spec
  apm-agent-core/src/test/resources/json-specs/w3c_distributed_tracing.json
Labels: automation, agent-java

#2447 Fix dubbo flaky tests
  apm-agent-plugins/apm-dubbo-plugin/src/test/java/co/elastic/apm/agent/dubbo/AbstractDubboInstrumentationTest.java
  apm-agent-plugins/apm-dubbo-plugin/src/test/java/co/elastic/apm/agent/dubbo/AlibabaDubboInstrumentationTest.java
  apm-agent-plugins/apm-dubbo-plugin/src/test/java/co/elastic/apm/agent/dubbo/ApacheDubboInstrumentationTest.java
Labels: agent-java

#2448 Adds support for logging the used instrumentation groups
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/InstrumentationStats.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/InstrumentationStatsLifecycleListener.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/Log4j2ConfigurationFactory.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/Log4jLoggerFactoryBridge.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  apm-agent-core/src/main/resources/META-INF/services/co.elastic.apm.agent.context.LifecycleListener
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/InstrumentationStatsTest.java
Labels: agent-java, community, triage

#2455 Add startup tuning documentation
  docs/tuning-and-overhead.asciidoc
Labels: agent-java

#2459 Handling flaky test - CompletableFutureTest#testCancelBeforeStart
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/CompletableFutureTest.java
Labels: agent-java

#2458 Fix LinkageError in apm-ecs-logging-plugin
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/classloading/IndyPluginClassLoader.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/java/co/elastic/apm/agent/ecs_logging/Log4j2ServiceNameInstrumentation.java
Labels: agent-java, community, triage

#2461 release: checkout default main branch
  .ci/release/Jenkinsfile
Labels: agent-java

#2449 Added Instrumentation for `ServletContainerInitializer#onStartup`
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/servicename/InitServiceNameInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/servicename/ServletContainerInitializerServiceNameInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/InitServiceNameInstrumentationTest.java
Labels: agent-java, community, triage

#2467 Updated AWS lambda docs to use ARN for layer installation
  docs/setup-aws-lambda.asciidoc
Labels: agent-java

#2468 ci: add stable update debugging traces
  Jenkinsfile
Labels: agent-java

#2451 Added support for setting service name and version for a transaction via the public api
  CHANGELOG.asciidoc
  apm-agent-api/src/main/java/co/elastic/apm/api/ElasticApm.java
  apm-agent-api/src/main/java/co/elastic/apm/api/NoopTransaction.java
  apm-agent-api/src/main/java/co/elastic/apm/api/Transaction.java
  apm-agent-api/src/main/java/co/elastic/apm/api/TransactionImpl.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/GlobalTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/NoopTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/Tracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/TraceContext.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/SpanTypeBreakdownTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TraceContextTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/MetricRegistryReporterTest.java
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/ElasticApmApiInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/TransactionInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-api-plugin/src/test/java/co/elastic/apm/agent/pluginapi/TransactionInstrumentationTest.java
  apm-agent-plugins/apm-api-plugin/src/test/java/co/elastic/apm/api/ElasticApmApiInstrumentationTest.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/java/co/elastic/apm/agent/ecs_logging/Log4j2ServiceNameInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletServiceNameHelper.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/main/java/co/elastic/apm/agent/springwebmvc/SpringServiceNameInstrumentation.java
  docs/public-api.asciidoc
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/ExternalPluginTestApp.java
Labels: agent-java, community, triage

#2473 ci: use checkout -f for stable
  Jenkinsfile
Labels: agent-java

#2450 Make integration tests run on Testcontainers Cloud
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/UrlTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientProxySupportIT.java
  apm-agent-plugins/apm-dubbo-plugin/src/test/java/co/elastic/apm/agent/dubbo/AbstractDubboInstrumentationTest.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/AbstractJdbcInstrumentationTest.java
  apm-agent-plugins/apm-mongoclient-plugin/src/test/java/co/elastic/apm/agent/mongoclient/AbstractMongoClientInstrumentationTest.java
  integration-tests/application-server-integration-tests/pom.xml
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractJettyIT.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/AbstractServletContainerIntegrationTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/GenericContainerWithTcpProxy.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/JBossIT.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/PayaraIT.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/WebLogicIT.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/WebSphereIT.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/WildFlyIT.java
  integration-tests/main-app-test/src/test/java/co/elastic/apm/test/ServiceIT.java
  pom.xml
Labels: agent-java

#2475 Add #2448 to the tuning guide
  docs/tuning-and-overhead.asciidoc
Labels: agent-java, community, triage

#2472 Add support for en-/disabling each public annotation on each own
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/CaptureSpanInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/CaptureTransactionInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/TracedInstrumentation.java
  docs/configuration.asciidoc
Labels: agent-java, community, triage

#2474 Do not try to instrument proxy classes
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jakarta-websocket-plugin/src/main/java/co/elastic/apm/agent/websocket/BaseServerEndpointInstrumentation.java
  apm-agent-plugins/apm-jaxws-plugin/src/main/java/co/elastic/apm/agent/jaxws/JaxWsTransactionNameInstrumentation.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/main/java/co/elastic/apm/agent/jms/JmsMessageListenerInstrumentation.java
  apm-agent-plugins/apm-scheduled-annotation-plugin/src/main/java/co/elastic/apm/agent/scheduled/ScheduledTransactionNameInstrumentation.java
Labels: agent-java, community, triage

#2476 Remove unused imports
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/AgentDownloaderTest.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/source/ConfigSources.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/source/PropertyFileConfigurationSource.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracerBuilder.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/Labels.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/IOUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/SanitizingWebProcessorTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/web/ResultUtilTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TraceContextW3CTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/LabelsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/CustomEnvVariables.java
  apm-agent-plugins/apm-error-logging-plugin/src/test/java/co/elastic/apm/agent/errorlogging/Log4j2LoggerErrorCapturingInstrumentationTest.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/HelloClientImpl.java
  apm-agent-plugins/apm-grpc/apm-grpc-test-latest/src/test/java/co/elastic/apm/agent/grpc/latest/testapp/HelloServerImpl.java
  apm-agent-plugins/apm-hibernate-search-plugin/apm-hibernate-search-plugin-common/src/test/java/co/elastic/apm/agent/hibernatesearch/HibernateSearchAssertionHelper.java
  apm-agent-plugins/apm-httpclient-core/src/test/java/co/elastic/apm/agent/http/client/HttpClientHelperTest.java
  apm-agent-plugins/apm-jaxrs-plugin/src/main/java/co/elastic/apm/agent/jaxrs/JaxRsTransactionNameInstrumentation.java
  apm-agent-plugins/apm-jdk-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/HttpClientAdviceHelper.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/test/java/co/elastic/apm/agent/httpserver/HttpHandlerTest.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-spring-plugin/src/test/java/co/elastic/apm/agent/jms/spring/SpringJmsTest.java
  apm-agent-plugins/apm-log-shader-plugin/apm-log-shader-plugin-common/src/test/java/co/elastic/apm/agent/log/shader/UtilsTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/config/BaseConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/config/RabbitListenerConfiguration.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/AsyncInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JakartaRequestStreamRecordingInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/JavaxRequestStreamRecordingInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/RequestStreamRecordingInstrumentation.java
  apm-agent-plugins/apm-sparkjava-plugin/src/main/java/co/elastic/apm/agent/sparkjava/RoutesInstrumentation.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/test/java/co/elastic/apm/agent/springwebmvc/exception/testapp/exception_resolver/RestResponseStatusExceptionResolver.java
  apm-agent-plugins/apm-spring-webmvc-plugin/src/test/java/co/elastic/apm/agent/springwebmvc/template/freemarker/FreeMarkerViewController.java
Labels: agent-java, community, triage

#2460 Setting agent CL as context CL for agent threads
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/ExecutorUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/ExecutorUtilsTest.java
Labels: bug, agent-java

#2471 Only time type/method matching if the debug logging is enabled
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/InstrumentationStats.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/InstrumentationStatsLifecycleListener.java
Labels: agent-java, community, triage
