Repository elastic/apm-agent-java, pull requests merged in 2022-06, with the labels that each got.

#2656 Publish latest tag for Docker image
  scripts/jenkins/push_docker.sh
Labels: agent-java

#2657 Fix missing otel transaction attributes
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
Labels: agent-java

#2642 parse db name from JDBC string
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/helper/ConnectionMetaData.java
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/helper/JdbcHelper.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/AbstractJdbcInstrumentationTest.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/DataSourceIT.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/JdbcDbIT.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/JdbcInstrumentationTest.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/helper/ConnectionMetaDataTest.java
Labels: agent-java, ci:agent-integration

#2648 test: synchronizing json spec
  apm-agent-core/src/test/resources/json-specs/span_types.json
Labels: automation, agent-java

#2660 remove transaction.status from otel transactions
  CHANGELOG.asciidoc
  apm-agent-core/src/test/resources/specs/otel_bridge.feature
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/sdk/OTelSpan.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/test/java/specs/OTelBridgeStepsDefinitions.java
Labels: agent-java

#2659 Adding support for `latest` version to attcher cli
  CHANGELOG.asciidoc
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentAttacher.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentDownloader.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/AgentDownloaderTest.java
  apm-agent-attach-cli/src/test/resources/MavenCentral_agent_artifact.html
  apm-agent-common/src/main/java/co/elastic/apm/agent/util/Version.java
  apm-agent-common/src/test/java/co/elastic/apm/agent/util/VersionTest.java
  docs/setup-attach-cli.asciidoc
Labels: agent-java

#2653 Promote some features to GA
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/circuitbreaker/CircuitBreakerConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/web/WebConfiguration.java
  apm-agent-plugins/apm-dubbo-plugin/src/main/java/co/elastic/apm/agent/dubbo/AbstractDubboInstrumentation.java
  apm-agent-plugins/apm-jdk-httpserver-plugin/src/main/java/co/elastic/apm/agent/httpserver/JdkHttpServerInstrumentation.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/AbstractOpenTelemetryInstrumentation.java
  docs/api-opentelemetry.asciidoc
  docs/configuration.asciidoc
  docs/setup-attach-api.asciidoc
  docs/setup-attach-cli.asciidoc
  docs/supported-technologies.asciidoc
  docs/tuning-and-overhead.asciidoc
Labels: agent-java

#2661 Removing visible comment from CLI docs
  docs/setup-attach-cli.asciidoc
Labels: agent-java

#2672 add plugin documentation to the main pages
  docs/apis.asciidoc
  docs/community-plugins.asciidoc
  docs/faq.asciidoc
  docs/index.asciidoc
  docs/intro.asciidoc
  docs/plugin-api.asciidoc
  docs/supported-technologies.asciidoc
Labels: agent-java

#2673 [doc] Clarify setup options
  docs/setup-attach-api.asciidoc
  docs/setup-attach-cli.asciidoc
  docs/setup-javaagent.asciidoc
  docs/setup.asciidoc
Labels: agent-java

#2675 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/metricset.json
Labels: automation, agent-java

#2671 Exclude com.github.benmanes.caffeine.cache.BoundedLocalCache.PerformCleanupTask from context propagation
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/JavaConcurrent.java
Labels: agent-java, community, triage

#2677 Mark Java 7 support as deprecated
  docs/supported-technologies.asciidoc
  elastic-apm-agent/src/main/java/co/elastic/apm/agent/premain/JavaVersionBootstrapCheck.java
Labels: agent-java

#2229 Spring WebClient support
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-httpclient-core/src/test/java/co/elastic/apm/agent/httpclient/AbstractHttpClientInstrumentationTest.java
  apm-agent-plugins/apm-log-correlation-plugin/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/main/java/co/elastic/apm/agent/springwebclient/WebClientExchangeFunctionInstrumentation.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/main/java/co/elastic/apm/agent/springwebclient/WebClientHelper.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/main/java/co/elastic/apm/agent/springwebclient/WebClientRequestHeaderSetter.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/main/java/co/elastic/apm/agent/springwebclient/WebClientSubscriber.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/test/java/co/elastic/apm/agent/springwebclient/WebClientInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/WebfluxHelper.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/AbstractServerInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingWebClient.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/WebFluxApplication.java
  apm-agent-plugins/apm-spring-webflux/pom.xml
  apm-agent/pom.xml
  docs/configuration.asciidoc
  docs/supported-technologies.asciidoc
Labels: new-feature, agent-java, community, size:medium

#2681 Added reference to Secrets Manager section in the lambda docs
  docs/setup-aws-lambda.asciidoc
Labels: agent-java

#2683 add EOL table
  docs/upgrading.asciidoc
Labels: agent-java

#2689 jjbb: remove reference repo
  .ci/jobs/apm-agent-java-mbp.yml
Labels: automation, agent-java, Team:Automation

#2688 Allow failing due to `git-commit-id-maven-plugin`
  Jenkinsfile
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  elastic-apm-agent/pom.xml
Labels: agent-java, ci:windows
