Repository elastic/apm-agent-java, pull requests merged in 2022-10, with the labels that each got.

#2817 Restructure log-correlation doc
  docs/log-correlation.asciidoc
Labels: docs, agent-java

#2822 Updated dependabot config making updates-entries unique as required by dependabot
  .github/dependabot.yml
Labels: agent-java

#2821 Remove DB context from S3 instrumentation
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-1-plugin/src/test/java/co/elastic/apm/agent/awssdk/v1/S3ClientIT.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/test/java/co/elastic/apm/agent/awssdk/v2/S3ClientIT.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-common/src/main/java/co/elastic/apm/agent/awssdk/common/AbstractS3InstrumentationHelper.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-common/src/test/java/co/elastic/apm/agent/awssdk/common/AbstractAwsClientIT.java
Labels: agent-java

#2828 Fix dependabot behaviour for es-restclient and vertx.
  .github/dependabot.yml
Labels: agent-java

#2815 Added support for spring-kafka batch consumers
  CHANGELOG.asciidoc
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/AbstractSpanAssert.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/Assertions.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/BaseAssert.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/SpanAssert.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-spring-plugin/pom.xml
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-spring-plugin/src/main/java/co/elastic/apm/agent/kafka/SpringKafkaBatchListenerInstrumentation.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-spring-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-spring-plugin/src/test/java/co/elastic/apm/agent/kafka/KafkaSpringIT.java
  apm-agent-plugins/apm-kafka-plugin/pom.xml
  apm-agent/pom.xml
Labels: agent-java

#2834 Document and test support for Appache HttpClient 4.0
  apm-agent-plugins/apm-apache-httpclient-plugin/pom.xml
  apm-agent-plugins/apm-apache-httpclient-plugin/src/main/java/co/elastic/apm/agent/httpclient/LegacyApacheHttpClientInstrumentation.java
  apm-agent-plugins/apm-apache-httpclient-plugin/src/test/java/co/elastic/apm/agent/httpclient/LegacyApacheHttpClientInstrumentationTest.java
  apm-agent-plugins/apm-apache-httpclient-plugin/src/test/java/co/elastic/apm/agent/httpclient/LegacyApacheHttpClientVersionIT.java
  apm-agent-plugins/apm-httpclient-core/src/main/java/co/elastic/apm/agent/httpclient/HttpClientHelper.java
  docs/supported-technologies.asciidoc
Labels: agent-java

#2838 Fixed Otel updateName behaviour
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/sdk/OTelSpan.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/test/java/co/elastic/apm/agent/opentelemetry/sdk/ElasticOpenTelemetryTest.java
Labels: agent-java

#2837 Added debug logs for proxy settings when the agent initiates connections
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/UrlConnectionUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientProxySupportIT.java
Labels: agent-java

#2841 Add test case for alternative code path in legacy Apache HttpClient instrumentation
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-apache-httpclient-plugin/src/test/java/co/elastic/apm/agent/httpclient/LegacyApacheHttpClientBasicHttpRequestInstrumentationTest.java
  apm-agent-plugins/apm-apache-httpclient-plugin/src/test/java/co/elastic/apm/agent/httpclient/LegacyApacheHttpClientHttpUriRequestInstrumentationTest.java
  apm-agent-plugins/apm-apache-httpclient-plugin/src/test/java/co/elastic/apm/agent/httpclient/LegacyApacheHttpClientVersionIT.java
Labels: agent-java

#2843 Ignore exclude of co.elastic.apm for instrumentation
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/CoreConfigurationTest.java
Labels: agent-java

#2845 Fix flaky tests due to reporter-Mockito race condition
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockTracer.java
Labels: technical-debt, agent-java

#2847 EOL table has been moved to central EOL Policy page
  CONTRIBUTING.md
  docs/upgrading.asciidoc
Labels: agent-java

#2848 Remove log shipper plugin
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/Log4j2ConfigurationFactory.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/logging/Log4j2ConfigurationFactoryTest.java
  apm-agent-core/src/test/resources/test.elasticapm.properties
  apm-agent-plugins/apm-log-shipper-plugin/pom.xml
  apm-agent-plugins/apm-log-shipper-plugin/src/main/java/co/elastic/apm/agent/log/shipper/ApmServerLogShipper.java
  apm-agent-plugins/apm-log-shipper-plugin/src/main/java/co/elastic/apm/agent/log/shipper/FileChangeListener.java
  apm-agent-plugins/apm-log-shipper-plugin/src/main/java/co/elastic/apm/agent/log/shipper/FileChangeListenerAdapter.java
  apm-agent-plugins/apm-log-shipper-plugin/src/main/java/co/elastic/apm/agent/log/shipper/FileTailer.java
  apm-agent-plugins/apm-log-shipper-plugin/src/main/java/co/elastic/apm/agent/log/shipper/LogShipperFactory.java
  apm-agent-plugins/apm-log-shipper-plugin/src/main/java/co/elastic/apm/agent/log/shipper/TailableFile.java
  apm-agent-plugins/apm-log-shipper-plugin/src/main/java/co/elastic/apm/agent/log/shipper/package-info.java
  apm-agent-plugins/apm-log-shipper-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.context.LifecycleListener
  apm-agent-plugins/apm-log-shipper-plugin/src/test/java/co/elastic/apm/agent/log/shipper/ApmServerLogShipperTest.java
  apm-agent-plugins/apm-log-shipper-plugin/src/test/java/co/elastic/apm/agent/log/shipper/TailableFileTest.java
  apm-agent-plugins/apm-log-shipper-plugin/src/test/resources/log.log
  apm-agent-plugins/apm-logging-plugin/apm-tomcat-logging-plugin/src/test/java/co/elastic/apm/agent/tomcatlogging/TomcatLoggingInstrumentationTest.java
  apm-agent-plugins/pom.xml
  apm-agent/pom.xml
Labels: agent-java

#2850 Correct links to Lambda extension docs
  docs/lambda/configure-lambda.asciidoc
  docs/setup-aws-lambda.asciidoc
Labels: agent-java

#2856 Stop testing Jboss EAP 70
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/JBossIT.java
Labels: agent-java, ci:agent-integration

#2857 Fixing config description
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#2859 Avoid NPE in afterEndSpan
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Span.java
Labels: agent-java

#2858 Update ASM version to 9.4
  pom.xml
Labels: agent-java

#2862 synchronize schema spec
  apm-agent-core/src/test/resources/apm-server-schema/current/error.json
  apm-agent-core/src/test/resources/apm-server-schema/current/span.json
  apm-agent-core/src/test/resources/apm-server-schema/current/transaction.json
Labels: automation, agent-java

#2796 Capture Elasticsearch cluster name
  CHANGELOG.asciidoc
  apm-agent-attach/src/main/java/co/elastic/apm/attach/ElasticApmAttacher.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/main/java/co/elastic/apm/agent/esrestclient/ElasticsearchRestClientInstrumentationHelper.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/test/java/co/elastic/apm/agent/esrestclient/AbstractEsClientInstrumentationTest.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/test/java/co/elastic/apm/agent/esrestclient/ElasticsearchRestClientInstrumentationHelperTest.java
Labels: agent-java

#2863 Shortcut attacher discovery and fork
  CHANGELOG.asciidoc
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentAttacher.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/DiscoveryRules.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/AgentAttacherTest.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/DiscoveryRulesTest.java
  apm-agent-attach/src/main/java/co/elastic/apm/attach/JvmAttachUtils.java
  docs/setup-attach-cli.asciidoc
Labels: agent-java
