Repository elastic/apm-agent-java, pull requests merged in 2023-09, with the labels that each got.

#3303 Disable instrumentation for ES client versions with native instrumentation
  .github/dependabot.yml
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/main/java/co/elastic/apm/agent/esrestclient/ElasticsearchRestClientInstrumentation.java
Labels: agent-java

#3305 docs: what the CI does
  .buildkite/README.md
  .github/workflows/README.md
Labels: docs, agent-java

#3315 Remove IntelliJ debugging agent detection
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/ForkJoinTaskInstrumentation.java
Labels: agent-java

#3320 Clarify docs on disable_metrics behaviour for micrometer
  docs/metrics.asciidoc
Labels: agent-java

#3316 Change 'cloud.project.id' for GCP metadata to be the 'project-id'
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/CloudMetadataProvider.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/metadata/CloudMetadataProviderTest.java
Labels: agent-java

#3272 Moves ServiceInfo to tracer module and reduce dependency exposure to core module of plugins.
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/AutoDetectedServiceInfo.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/Tracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/Log4j2ConfigurationFactory.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/MetricRegistryReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/MetricRegistrySerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/AutoDetectedServiceInfoTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/MetricRegistryReporterTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/MetricSetSerializationTest.java
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/ElasticApmApiInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/TransactionInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/test/java/co/elastic/apm/agent/pluginapi/TransactionInstrumentationTest.java
  apm-agent-plugins/apm-api-plugin/src/test/java/co/elastic/apm/api/ElasticApmApiInstrumentationTest.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/java/co/elastic/apm/agent/ecs_logging/EcsLoggingUtils.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletServiceNameHelper.java
  apm-agent-plugins/apm-spring-webmvc/apm-spring-webmvc-spring5/src/main/java/co/elastic/apm/agent/springwebmvc/AbstractSpringServiceNameInstrumentation.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/service/ServiceAwareTracer.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/service/ServiceInfo.java
  apm-agent-tracer/src/test/java/co/elastic/apm/agent/tracer/service/ServiceInfoTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/tests/ExternalPluginTestApp.java
Labels: agent-java, community, triage

#3313 Fix DB2 jdbc connection instrumentation
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/ConnectionInstrumentation.java
Labels: agent-java

#3322 Fix typo
  apm-agent-plugins/apm-api-plugin/README.md
Labels: agent-java, community, triage

#3326 OpenTelemetry metrics exporter instrumentation breaks with instrument=false
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/main/java/co/elastic/apm/agent/otelmetricsdk/SdkMeterProviderBuilderInstrumentation.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/test/java/co/elastic/apm/agent/otelmetricsdk/AbstractOtelMetricsTest.java
Labels: agent-java

#3327 Fixes ByteBuddy AbstractMethodError which could occur when running tests from IDE
  apm-agent-attach-cli/pom.xml
  apm-agent-plugins/apm-hibernate-search-plugin/apm-hibernate-search-plugin-5_x/pom.xml
  apm-agent-plugins/apm-hibernate-search-plugin/apm-hibernate-search-plugin-6_x/pom.xml
  apm-agent-tracer/pom.xml
  elastic-apm-agent-premain/pom.xml
  pom.xml
Labels: agent-java

#3334 added entry of new external plugin
  docs/community-plugins.asciidoc
Labels: agent-java, community, triage

#3335 GH Actions: Fix maven deploy step being skipped if preparation is skipped
  .github/workflows/release.yml
Labels: agent-java

#3337 action: use latest version for the cleanup
  .github/workflows/main.yml
Labels: agent-java, ci:agent-integration

#3338 add minimal mergify config
  .mergify.yml
Labels: agent-java
