Repository elastic/apm-agent-java, pull requests merged in 2023-04, with the labels that each got.

#3101 Fixed ActivationTypeIT flakyness
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/ActivationTypeIT.java
Labels: agent-java

#3077 Security manager test & fix
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/PrivilegedActionUtils.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/UrlConnectionUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/PrivilegedActionUtilsTest.java
Labels: agent-java

#3096 Fixing slim attacher CLI with requested agent version for download
  CHANGELOG.asciidoc
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentAttacher.java
  apm-agent-attach/src/main/java/co/elastic/apm/attach/ElasticApmAttacher.java
Labels: bug, agent-java

#3104 update changelog for 1.37.0
  CHANGELOG.asciidoc
Labels: agent-java

#3105 Generate sources for tracer project, force agent javadoc
  apm-agent-tracer/pom.xml
  elastic-apm-agent-java8/src/main/java/co/elastic/apm/premain/java8/JavadocPlaceHolder.java
  elastic-apm-agent-java8/src/main/java/co/elastic/apm/premain/java8/package-info.java
  elastic-apm-agent/src/main/java/co/elastic/apm/premain/java7/JavadocPlaceHolder.java
  elastic-apm-agent/src/main/java/co/elastic/apm/premain/java7/package-info.java
Labels: agent-java

#3100 Fixed webflux test app tests, reenabled recycling assertion
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/test/java/co/elastic/apm/agent/springwebflux/ServerFunctionalInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingAnnotated.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingFunctional.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingHandler.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/test/java/co/elastic/apm/agent/springwebflux/testapp/AnnotatedEndpointTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/test/java/co/elastic/apm/agent/springwebflux/testapp/ApplicationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/test/java/co/elastic/apm/agent/springwebflux/testapp/FunctionalEndpointTest.java
Labels: agent-java

#1765 Added a integration test for Quarkus
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/ExecutorInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/AbstractVertxWebHelper.java
  integration-tests/pom.xml
  integration-tests/quarkus/pom.xml
  integration-tests/quarkus/quarkus-jaxrs-base/pom.xml
  integration-tests/quarkus/quarkus-jaxrs-base/src/main/java/co/elastic/apm/quarkus/jaxrs/TestApp.java
  integration-tests/quarkus/quarkus-jaxrs-base/src/main/resources/META-INF/beans.xml
  integration-tests/quarkus/quarkus-jaxrs-base/src/test/java/co/elastic/apm/quarkus/jaxrs/AbstractQuarkusJaxRSTest.java
  integration-tests/quarkus/quarkus-jaxrs-undertow/pom.xml
  integration-tests/quarkus/quarkus-jaxrs-undertow/src/test/java/co/elastic/apm/quarkus/jaxrs/UndertowIT.java
  integration-tests/quarkus/quarkus-jaxrs-vertx/pom.xml
  integration-tests/quarkus/quarkus-jaxrs-vertx/src/test/java/co/elastic/apm/quarkus/jaxrs/VertxIT.java
Labels: agent-java, community, size:medium

#3108 Bypass proxy for cloud metadata
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/CloudMetadataProvider.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerClient.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/UrlConnectionUtils.java
Labels: agent-java

#3117 fix missing [float] in changelog
  CHANGELOG.asciidoc
Labels: docs, agent-java

#3115 correlate service.environment for ecs-logging & ecs reformat
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/java/co/elastic/apm/agent/ecs_logging/EcsLoggingUtils.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/java/co/elastic/apm/agent/ecs_logging/jbosslogging/JbossEcsServiceInstrumentation.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/java/co/elastic/apm/agent/ecs_logging/jul/JulEcsServiceInstrumentation.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/java/co/elastic/apm/agent/ecs_logging/log4j1/Log4jEcsServiceInstrumentation.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/java/co/elastic/apm/agent/ecs_logging/log4j2/Log4j2ServiceInstrumentation.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/java/co/elastic/apm/agent/ecs_logging/logback/LogBackServiceInstrumentation.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/EcsServiceCorrelationIT.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/EcsServiceEnvironmentTest.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/jbosslogging/JbossServiceCorrelationIT.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/jbosslogging/JbossServiceEnvironmentInstrumentationTest.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/jul/JulServiceCorrelationIT.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/jul/JulServiceEnvironmentInstrumentationTest.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/jul/LogManagerTestInstrumentation.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/log4j1/Log4jServiceCorrelationIT.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/log4j1/Log4jServiceEnvironmentInstrumentationTest.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/log4j2/Log4j2ServiceCorrelationIT.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/log4j2/Log4j2ServiceEnvironmentInstrumentationTest.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/logback/LogbackServiceCorrelationIT.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/logback/LogbackServiceEnvironmentInstrumentationTest.java
  apm-agent-plugins/apm-logging-plugin/apm-jul-plugin/src/main/java/co/elastic/apm/agent/jul/reformatting/AbstractJulEcsReformattingHelper.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j1-plugin/src/main/java/co/elastic/apm/agent/log4j1/reformatting/Log4J1EcsReformattingHelper.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j2-plugin/src/main/java/co/elastic/apm/agent/log4j2/reformatting/Log4J2EcsReformattingHelper.java
  apm-agent-plugins/apm-logging-plugin/apm-logback-plugin/apm-logback-plugin-impl/src/main/java/co/elastic/apm/agent/logback/reformatting/LogbackEcsReformattingHelper.java
  apm-agent-plugins/apm-logging-plugin/apm-logging-plugin-common/src/main/java/co/elastic/apm/agent/loginstr/reformatting/AbstractEcsReformattingHelper.java
  apm-agent-plugins/apm-logging-plugin/apm-logging-plugin-common/src/test/java/co/elastic/apm/agent/loginstr/LoggingInstrumentationTest.java
  docs/logs.asciidoc
  docs/supported-technologies.asciidoc
Labels: agent-java

#3116 Refactor: Made DslJsonSerializer a singleton
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/ApmServerConfigurationSource.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracerBuilder.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/AbstractIntakeApiHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReporterFactory.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/PayloadSerializer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/SerializationConstants.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TransactionTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ReporterFactoryTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-core/src/test/java/org/example/stacktrace/StacktraceSerializationTest.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/AbstractLambdaTest.java
Labels: agent-java, ci:agent-integration

#3124 fix documentation about attaching to containers
  docs/setup-attach-cli.asciidoc
Labels: agent-java
