Repository elastic/apm-agent-java, pull requests merged in 2023-08, with the labels that each got.

#3264 Fixed micrometer histograms to be non-cumulative
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-micrometer-plugin/pom.xml
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializer.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializerTest.java
Labels: agent-java

#3266 Fix invalid SQSHelper usage in AWS async client instrumentation
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/BaseAsyncClientHandlerInstrumentation.java
Labels: agent-java

#3268 github-action: cleanup unused tools
  .github/workflows/main.yml
Labels: agent-java

#3267 [release] Fix release notification step
  .ci/create-arn-table.sh
Labels: agent-java

#3274 docs: update the CI badge
  README.md
Labels: agent-java

#3276 [ci] avoid mandatory checks for docs
  .github/workflows/main-docs.yml
  .github/workflows/main.yml
Labels: agent-java

#3279 Fix JVM memory metrics regression
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/builtin/JvmMemoryMetrics.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/builtin/JvmMemoryMetricsTest.java
Labels: bug, agent-java

#3233 [doc] add missing link for JMX metrics
  docs/metrics.asciidoc
Labels: agent-java

#3275 Revert attempt to get dependabot to upgrade integration tests images via dockerfiles
  .github/dependabot.yml
  apm-agent-common/src/test/java/co/elastic/apm/agent/test/DockerfileReader.java
  apm-agent-common/src/test/java/co/elastic/apm/agent/test/DockerfileReaderTest.java
  apm-agent-common/src/test/resources/test-dockfile-invalid.txt
  apm-agent-common/src/test/resources/test-dockfile.txt
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/JakartaeeWildFlyIT.java
  integration-tests/application-server-integration-tests/src/test/resources/Dockerfile-wildfly-latest
Labels: agent-java

#3285 keep EOL in changelog
  .ci/ReleaseChangelog.java
  CHANGELOG.asciidoc
Labels: agent-java

#3278 action: use current tag
  .github/workflows/release.yml
Labels: automation, agent-java

#3240 Removed ThreadLocal usage for tracestate serialization
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/TraceState.java
Labels: agent-java

#3244 Exclude virtual threads from inferred spans feature
  CHANGELOG.asciidoc
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/internal/ThreadUtil.java
  apm-agent-plugin-sdk/src/test/java/co/elastic/apm/agent/sdk/internal/ThreadUtilTest.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/ProfilingActivationListener.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/ProfilingConfiguration.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/SamplingProfiler.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/SamplingProfilerTest.java
  docs/configuration.asciidoc
Labels: agent-java, ci:jdk-compatibility

#3286 Remove remaining threadlocals for loom support
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/internal/db/signature/SignatureParser.java
  apm-agent-plugins/apm-okhttp-plugin/src/main/java/co/elastic/apm/agent/okhttp/OkHttpClientHelper.java
Labels: agent-java

#3288 Lift baggage as span and transaction attributes
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/baggage/Baggage.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/BaggageTest.java
  docs/api-opentelemetry.asciidoc
  docs/configuration.asciidoc
Labels: agent-java

#3293 Do not serialize composite span attributes for count less than 2
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
Labels: agent-java

#3226 Set transaction type only if unset
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletTransactionHelper.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/ServletInstrumentationTest.java
Labels: agent-java, community

#3290 add missing 'histogram' type to micrometer
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializer.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializerTest.java
Labels: agent-java

#3294 Fix invalid currentTransaction() logic
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ActiveStack.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/TraceContext.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
Labels: agent-java, ci:jdk-compatibility

#3299 Enhance/document msg listener heuristic
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jms-plugin/apm-jms-jakarta/src/test/java/co/elastic/apm/agent/jms/jakarta/JmsMessageListenerTest.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-jakarta/src/test/java/testapp/TestMessageConsumer.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-jakarta/src/test/java/testapp/TestMessageListener.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-jakarta/src/test/java/testapp/TestMsgHandler.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-javax/src/main/java/co/elastic/apm/agent/jms/javax/JmsMessageListenerInstrumentation.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-javax/src/test/java/co/elastic/apm/agent/jms/javax/JmsMessageListenerTest.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-javax/src/test/java/testapp/TestMessageConsumer.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-javax/src/test/java/testapp/TestMessageListener.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-javax/src/test/java/testapp/TestMsgHandler.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/main/java/co/elastic/apm/agent/jms/BaseJmsInstrumentation.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/configuration/MessagingConfiguration.java
  docs/configuration.asciidoc
  docs/troubleshooting.asciidoc
Labels: agent-java

#3304 fix empty histograms from micrometer being sent to the server
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializer.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializerTest.java
Labels: agent-java
