Repository elastic/apm-agent-java, pull requests merged in 2023-02, with the labels that each got.

#2996 Adding the ability to disable TraceContext header injection
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/TraceContext.java
  apm-agent-plugins/apm-finagle-httpclient-plugin/src/test/java/co/elastic/apm/agent/finaglehttpclient/FinagleHttpClientTest.java
  apm-agent-plugins/apm-httpclient-core/src/test/java/co/elastic/apm/agent/httpclient/AbstractHttpClientInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/AbstractServerInstrumentationTest.java
  docs/configuration.asciidoc
Labels: agent-java

#3003 Disabling recycling assertions in `ServerFunctionalInstrumentationTest`
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/ServerFunctionalInstrumentationTest.java
Labels: flaky-test, agent-java

#2869 Ensured that a connection is closed on connection failure
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/AbstractIntakeApiHandler.java
Labels: agent-java

#3001 Fix used instrumentations shown on shutdown
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/InstrumentationStats.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/InstrumentationStatsTest.java
Labels: agent-java

#3002 Add configuration to suppress Async Profiler logging
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/ProfilingConfiguration.java
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/SamplingProfiler.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/SamplingProfilerTest.java
  docs/configuration.asciidoc
Labels: agent-java

#2686 Fix incorrect parent/child relationship in inferred span
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/CallTree.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeTest.java
Labels: agent-java

#3010 Switch to fully automated release based on nexus-staging-maven-plugin
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-spring-plugin/pom.xml
  pom.xml
Labels: agent-java

#3011 Using surefire `rerunFailingTestsCount` for flaky tests
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/FlakyTest.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeTest.java
  pom.xml
Labels: automation, agent-java

#2968 Added OpenTelemetry Metrics SDK instrumentation.
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/MetricsConfiguration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/DisabledIfNotOnClasspath.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/DisabledIfNotOnClasspathCondition.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/Assertions.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/metrics/MetricJson.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/metrics/MetricSetAssert.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/metrics/MetricSetEventJson.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/metrics/MetricSetJson.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/assertions/metrics/MetricSetsAssert.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metrics-exporter/pom.xml
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metrics-exporter/src/main/java/co/elastic/apm/agent/otelmetricexport/ElasticOtelMetricsExporter.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metrics-exporter/src/main/java/co/elastic/apm/agent/otelmetricexport/MetricSetSerializer.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metrics-exporter/src/main/java/co/elastic/apm/agent/otelmetricexport/OtelMetricSerializer.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metrics-exporter/src/main/java/co/elastic/apm/agent/otelmetricexport/package-info.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/pom.xml
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/main/java/co/elastic/apm/agent/otelmetricsdk/OtelMetricsSdkRootPackagesCustomizer.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/main/java/co/elastic/apm/agent/otelmetricsdk/SdkMeterProviderBuilderInstrumentation.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/main/java/co/elastic/apm/agent/otelmetricsdk/package-info.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.bci.PluginClassLoaderRootPackageCustomizer
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/test/java/co/elastic/apm/agent/otelmetricsdk/AbstractOtelMetricsTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/test/java/co/elastic/apm/agent/otelmetricsdk/DummyMetricReader.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/test/java/co/elastic/apm/agent/otelmetricsdk/MetricExportTimingTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/test/java/co/elastic/apm/agent/otelmetricsdk/PrivateUserSdkOtelMetricsTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/test/java/co/elastic/apm/agent/otelmetricsdk/UnsupportedSdkVersionIgnoredTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/pom.xml
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-test/pom.xml
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-test/src/test/java/co/elastic/apm/agent/opentelemetry/OpenTelemetryVersionIT.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-test/src/test/java/co/elastic/apm/opentelemetry/OpenTelemetryVersionIT.java
  apm-agent-plugins/apm-opentelemetry/pom.xml
  apm-agent/pom.xml
  docs/configuration.asciidoc
Labels: ci:agent-integration

#3013 Revert "ci: pin baremetal with jdk17 (#2990)"
  Jenkinsfile
Labels: agent-java

#3012 Add update-specs updatecli workflow
  .ci/update-specs.yml
  .github/workflows/opentelemetry.yml
  .github/workflows/update-specs.yml
Labels: agent-java, community, triage

#3020 Fix sha source in updatecli update-specs.yml
  .ci/update-specs.yml
Labels: agent-java, community, triage

#3023 Use composite action for updatecli workflow
  .github/workflows/update-specs.yml
Labels: agent-java, community, triage

#3025 Unnest exceptions before filtering
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/error/ErrorCapture.java
  apm-agent-core/src/test/java/org/example/stacktrace/ErrorCaptureTest.java
Labels: bug, agent-java

#2926 Add Activation method for telemetry on how the agent was started
  CHANGELOG.asciidoc
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentAttacher.java
  apm-agent-attach/pom.xml
  apm-agent-attach/src/main/java/co/elastic/apm/attach/ElasticApmAttacher.java
  apm-agent-attach/src/test/java/co/elastic/apm/attach/ExampleSelfAttachAppWithProvidedJar.java
  apm-agent-common/src/main/java/co/elastic/apm/agent/configuration/ActivationMethod.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/Agent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/ActivationTestExampleApp.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/ActivationTypeIT.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/logging/LoggingConfigurationTest.java
  apm-agent-core/src/test/resources/junit-platform.properties
  apm-agent-plugins/apm-logging-plugin/apm-jul-plugin/src/test/java/co/elastic/apm/agent/jul/JulInstrumentationTest.java
  apm-agent-plugins/apm-logging-plugin/apm-logging-plugin-common/src/test/java/co/elastic/apm/agent/loginstr/LoggingInstrumentationTest.java
  elastic-apm-agent/src/main/assembly/elastic-apm-handler
Labels: agent-java

#3032 make the Agent.activationMethod field immutable
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/Agent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/ServiceFactory.java
Labels: agent-java

#3024 HttpURLConnection (#2976) - fix getResponseCode handled exceptions
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-urlconnection-plugin/src/main/java/co/elastic/apm/agent/urlconnection/HttpUrlConnectionInstrumentation.java
  apm-agent-plugins/apm-urlconnection-plugin/src/test/java/co/elastic/apm/agent/urlconnection/HttpUrlConnectionInstrumentationTest.java
Labels: agent-java, community, triage
