Repository elastic/apm-agent-java, pull requests merged in 2023-03, with the labels that each got.

#3034 Update year 2023 in the NOTICE
  NOTICE
Labels: agent-java

#3039 add comments to clarify it is already aligned to the compressed span spec
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Span.java
Labels: agent-java

#3040 Added documentation for Otel metrics
  docs/api-opentelemetry.asciidoc
  docs/metrics.asciidoc
Labels: agent-java

#3044 Fix vertx3 tests
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/pom.xml
  apm-agent-plugins/apm-vertx/pom.xml
Labels: agent-java

#3037 add agent config access to the plugin sdk
  apm-agent-api/src/main/java/co/elastic/apm/api/ElasticApm.java
  apm-agent-plugins/apm-api-plugin/src/main/java/co/elastic/apm/agent/pluginapi/ElasticApmApiInstrumentation.java
  apm-agent-plugins/apm-api-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-api-plugin/src/test/java/co/elastic/apm/agent/pluginapi/ConfigInstrumentationTest.java
Labels: agent-java

#3045 Update maven search links
  README.md
  docs/api-elastic.asciidoc
  docs/api-opentracing.asciidoc
  docs/plugin-api.asciidoc
  docs/setup-attach-api.asciidoc
  docs/setup-attach-cli.asciidoc
  docs/setup/get-agent.asciidoc
  docs/upgrading.asciidoc
Labels: agent-java

#3027 Implementing `long_field_max_length` according to spec
  CHANGELOG.asciidoc
  Jenkinsfile
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracerBuilder.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/Db.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/Request.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/AbstractIntakeApiHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/SerializationConstants.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/BinaryHeaderMap.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/SerializationConstantsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/BinaryHeaderMapTest.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/TestRequestBodyCapturing.java
  apm-agent-plugins/apm-spring-webmvc-plugin/pom.xml
  apm-agent/src/test/java/co/elastic/apm/agent/configuration/ConfigurationExporterTest.java
  docs/configuration.asciidoc
Labels: agent-java

#3062 Fixed custom_metrics_histogram_boundaries config to not be dynamic.
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/MetricsConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#2870 action: use github actions
  .github/workflows/main.yml
  .github/workflows/maven-goal/action.yml
  .github/workflows/opentelemetry.yml
  .github/workflows/snapshoty.yml
  .github/workflows/stash/action.yml
  .github/workflows/test-reporter.yml
  .github/workflows/unstash/action.yml
  .mvn/maven.config
  Jenkinsfile
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/UserRegistryTest.java
Labels: agent-java, ci:jdk-compatibility, ci:agent-integration, ci:windows

#3068 set the minimum central configuration retry time to 5 seconds
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/ApmServerConfigurationSource.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/ApmServerConfigurationSourceTest.java
Labels: agent-java

#3069 updatecli: fix title since it caused errors
  .ci/updatecli.d/update-gherkin-specs.yml
  .ci/updatecli.d/update-json-specs.yml
  .ci/updatecli.d/update-specs.yml
Labels: agent-java

#3075 ci: correct UI trigger and remove useless workflow_call trigger
  .github/workflows/main.yml
Labels: agent-java

#3071 ci: migrate release to stable branch
  .github/workflows/sync-branches.yml
  Jenkinsfile
Labels: agent-java

#3073 action: run daily
  .github/workflows/daily.yml
  .github/workflows/main.yml
Labels: agent-java

#3086 Update broken agent download link
  docs/setup/get-agent.asciidoc
Labels: agent-java

#3087 Update broken agent download link
  README.md
  docs/api-elastic.asciidoc
  docs/api-opentracing.asciidoc
  docs/plugin-api.asciidoc
  docs/setup-attach-api.asciidoc
  docs/setup-attach-cli.asciidoc
  docs/setup/get-agent.asciidoc
  docs/upgrading.asciidoc
Labels: agent-java

#3038 Always compile with java 17, allow different JVMs for testing
  .github/workflows/main.yml
  .github/workflows/maven-goal/action.yml
  CONTRIBUTING.md
  README.md
  apm-agent-builds/pom.xml
  apm-agent-java-17/apm-agent-spring-6/pom.xml
  apm-agent-java-17/apm-agent-spring-6/src/test/java/co/elastic/apm/agent/springwebflux/SpringWeb6UtilsTest.java
  apm-agent-java-17/pom.xml
  apm-agent-plugins/apm-finagle-httpclient-plugin/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/SpringWeb6Utils.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/SpringWeb5UtilsTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/SpringWeb6UtilsTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/BodyInsertersInstrumentation.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/DispatcherHandlerInstrumentation.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/HandlerAdapterInstrumentation.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/HeaderGetter.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/SpringWeb5Utils.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/SpringWebVersionUtils.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/TransactionAwareSubscriber.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/WebFluxInstrumentation.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/WebfluxHelper.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/WebfluxServletHelper.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/package-info.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/test/java/co/elastic/apm/agent/springwebflux/AbstractServerInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/test/java/co/elastic/apm/agent/springwebflux/HeaderGetterTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/test/java/co/elastic/apm/agent/springwebflux/ServerAnnotatedInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/test/java/co/elastic/apm/agent/springwebflux/ServerFunctionalInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/test/java/co/elastic/apm/agent/springwebflux/ServletContainerTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/test/java/co/elastic/apm/agent/springwebflux/WebSocketServerInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/test/resources/application.properties
  apm-agent-plugins/apm-spring-webflux/pom.xml
  pom.xml
Labels: agent-java, ci:jdk-compatibility, ci:windows
