Repository elastic/apm-agent-java, pull requests merged in 2023-07, with the labels that each got.

#3207 [ci] enhance CI build artifacts
  .github/workflows/main.yml
Labels: agent-java

#3215 Don't shutdown the logging configuration when running from test
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
Labels: agent-java

#3214 ci: migrate microbenchmarking to GitHub Action
  .ci/jobs/apm-agent-java-mbp.yml
  .ci/jobs/apm-agent-java-schedule-weekly.yml
  .ci/schedule-weekly.groovy
  .ci/scripts/bench.sh
  .github/workflows/microbenchmark.yml
  .github/workflows/opentelemetry.yml
  Jenkinsfile
Labels: agent-java

#3222 Fix servlet path normalization
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletTransactionHelper.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/ServletTransactionHelperTest.java
Labels: bug, agent-java

#3225 Ignore gc alloc metrics when unsupported
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/builtin/JvmGcMetrics.java
Labels: agent-java

#3223 avoid double ending grpc transaction
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-grpc/apm-grpc-plugin/src/main/java/co/elastic/apm/agent/grpc/GrpcHelper.java
Labels: agent-java

#3188 Capture FQDN for host name
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/SystemInfo.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/metadata/SystemInfoTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
Labels: agent-java

#3199 parse container ID with cgroups v2
  .ci/updatecli.d/update-json-specs.yml
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/SystemInfo.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/metadata/ContainerInfoTest.java
  apm-agent-core/src/test/resources/json-specs/container_metadata_discovery.json
Labels: agent-java

#3232 [Automation] Update JSON specs
  apm-agent-core/src/test/resources/json-specs/container_metadata_discovery.json
Labels: automation, agent-java

#3227 Fix empty context activation behaviour
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ActiveStack.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/EmptyElasticContext.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/ElasticContext.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/ElasticContextWrapper.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/tracing/OTelBridgeContext.java
Labels: agent-java

#3245 add clarification about how dynamic works for application_packages
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/stacktrace/StacktraceConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#3251 Decouple lambda layer release from buildkite build
  .ci/publish-aws.sh
  .github/workflows/release.yml
  apm-agent-common/src/test/java/co/elastic/apm/agent/test/AgentFileAccessor.java
  apm-agent-lambda-layer/pom.xml
  apm-agent-lambda-layer/src/main/assembly/aws-lambda-layer.xml
  apm-agent-lambda-layer/src/main/assembly/elastic-apm-handler
  elastic-apm-agent/pom.xml
  pom.xml
Labels: agent-java, ci:agent-integration

#3247 Make maven_central_deploy job continue even if BK job fails
  .github/workflows/release.yml
Labels: agent-java, community, triage

#3249 OpenTelemetry Bridge Baggage support
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/Tracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/baggage/BaggageContext.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/ElasticContext.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/baggage/OtelBaggage.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/context/OTelContextStorage.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/tracing/OTelBridgeContext.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/tracing/OTelSpanBuilder.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/test/java/co/elastic/apm/agent/opentelemetry/tracing/ElasticOpenTelemetryTest.java
  docs/api-opentelemetry.asciidoc
Labels: agent-java

#3228 add trace level logs for span compressed spans
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Span.java
Labels: agent-java

#3231 Make most plugins depend on only the SDK and tracer dependencies.
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/circuitbreaker/CircuitBreakerConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/stacktrace/StacktraceConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReporterConfiguration.java
  apm-agent-plugins/apm-api-plugin/pom.xml
  apm-agent-plugins/apm-awslambda-plugin/pom.xml
  apm-agent-plugins/apm-cassandra/apm-cassandra3-plugin/src/main/java/co/elastic/apm/agent/cassandra3/Cassandra3Instrumentation.java
  apm-agent-plugins/apm-ecs-logging-plugin/pom.xml
  apm-agent-plugins/apm-jakarta-websocket-plugin/src/main/java/co/elastic/apm/agent/websocket/BaseServerEndpointInstrumentation.java
  apm-agent-plugins/apm-jaxrs-plugin/src/main/java/co/elastic/apm/agent/jaxrs/JaxRsTransactionNameInstrumentation.java
  apm-agent-plugins/apm-jaxws-plugin/src/main/java/co/elastic/apm/agent/jaxws/JaxWsTransactionNameInstrumentation.java
  apm-agent-plugins/apm-jmx-plugin/pom.xml
  apm-agent-plugins/apm-logging-plugin/pom.xml
  apm-agent-plugins/apm-micrometer-plugin/pom.xml
  apm-agent-plugins/apm-opentelemetry/pom.xml
  apm-agent-plugins/apm-opentracing-plugin/pom.xml
  apm-agent-plugins/apm-profiling-plugin/pom.xml
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/ProfilingConfiguration.java
  apm-agent-plugins/apm-quartz/apm-quartz-common/src/main/java/co/elastic/apm/agent/quartzjob/AbstractJobTransactionNameInstrumentation.java
  apm-agent-plugins/apm-scheduled-annotation-plugin/src/main/java/co/elastic/apm/agent/scheduled/ScheduledTransactionNameInstrumentation.java
  apm-agent-plugins/apm-scheduled-annotation-plugin/src/main/java/co/elastic/apm/agent/scheduled/TimerTaskInstrumentation.java
  apm-agent-plugins/apm-servlet-plugin/pom.xml
  apm-agent-plugins/apm-spring-webflux/pom.xml
  apm-agent-plugins/apm-spring-webmvc/apm-spring-webmvc-spring5/pom.xml
  apm-agent-plugins/pom.xml
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/configuration/RangeValidator.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/configuration/RegexValidator.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/configuration/StacktraceConfiguration.java
  apm-agent-tracer/src/test/java/co/elastic/apm/agent/tracer/configuration/RangeValidatorTest.java
  apm-agent-tracer/src/test/java/co/elastic/apm/agent/tracer/configuration/RegexValidatorTest.java
Labels: agent-java, community, triage

#3248 Implemented in-process baggage propagation
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/JavaConcurrent.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/main/java/co/elastic/apm/agent/concurrent/RunnableCallableForkJoinTaskInstrumentation.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/test/java/co/elastic/apm/agent/concurrent/ExecutorInstrumentationTest.java
  apm-agent-plugins/apm-java-concurrent-plugin/src/test/java/co/elastic/apm/agent/concurrent/ForkJoinPoolTest.java
  apm-agent-plugins/apm-reactor-plugin/src/main/java/co/elastic/apm/agent/reactor/TracedSubscriber.java
  apm-agent-plugins/apm-reactor-plugin/src/test/java/co/elastic/apm/agent/reactor/TracedSubscriberTest.java
  apm-agent-plugins/apm-scala-concurrent-plugin/src/main/java/co/elastic/apm/agent/scalaconcurrent/FutureInstrumentation.java
  apm-agent-plugins/apm-scala-concurrent-plugin/src/test/scala/co/elastic/apm/agent/scalaconcurrent/FutureInstrumentationSpec.scala
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/TransactionAwareSubscriber.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/AbstractVertxWebClientHelper.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/GenericHandlerWrapper.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/main/java/co/elastic/apm/agent/vertx/SetTimerWrapper.java
  apm-agent-plugins/apm-vertx/apm-vertx-common/src/test/java/co/elastic/apm/agent/vertx/webclient/AbstractVertxWebClientTest.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/EventLoopInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx3-plugin/src/main/java/co/elastic/apm/agent/vertx/v3/webclient/WebClientInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/main/java/co/elastic/apm/agent/vertx/v4/EventLoopInstrumentation.java
  apm-agent-plugins/apm-vertx/apm-vertx4-plugin/src/main/java/co/elastic/apm/agent/vertx/v4/webclient/HttpContextInstrumentation.java
Labels: agent-java

#3157 Added ES client 8.x instrumentation
  CHANGELOG.asciidoc
  apm-agent-builds/pom.xml
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-api-client-test/src/test/java/co/elastic/apm/esjavaclient/ElasticsearchJavaIT.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-5_6/src/test/java/co/elastic/apm/agent/esrestclient/v5_6/ElasticsearchRestClientInstrumentationIT.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/main/java/co/elastic/apm/agent/esrestclient/v6_4/ElasticsearchClientAsyncInstrumentation.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/main/java/co/elastic/apm/agent/esrestclient/v6_4/ElasticsearchClientSyncInstrumentation.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/test/java/co/elastic/apm/agent/esrestclient/v6_4/AbstractEs6_4ClientInstrumentationTest.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/test/java/co/elastic/apm/agent/esrestclient/v6_4/ElasticsearchRestClientInstrumentationIT.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-7_x/src/test/java/co/elastic/apm/agent/esrestclient/v7_x/ElasticsearchRestClientInstrumentationIT.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-8_x/pom.xml
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-8_x/src/main/java/co/elastic/apm/agent/esrestclient/v8_x/RestClientTransportInstrumentation.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-8_x/src/main/java/co/elastic/apm/agent/esrestclient/v8_x/package-info.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-8_x/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-8_x/src/test/java/co/elastic/apm/agent/esrestclient/v8_x/Elasticsearch8JavaIT.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-8_x/src/test/resources/commons-logging.properties
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-8_x/src/test/resources/log4j.properties
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/main/java/co/elastic/apm/agent/esrestclient/ElasticsearchEndpointDefinition.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/main/java/co/elastic/apm/agent/esrestclient/ElasticsearchEndpointMap.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/main/java/co/elastic/apm/agent/esrestclient/ElasticsearchRestClientInstrumentationHelper.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/test/java/co/elastic/apm/agent/esrestclient/AbstractEsClientInstrumentationTest.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/test/java/co/elastic/apm/agent/esrestclient/ElasticsearchEndpointMapTest.java
  apm-agent-plugins/apm-es-restclient-plugin/pom.xml
Labels: agent-java

#3254 Fix invalid SQS propagation introduced with #3206
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/BaseSyncClientHandlerInstrumentation.java
Labels: agent-java, ci:agent-integration

#3256 Attempt to fix reference counting issues in ES client instrumentation
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/main/java/co/elastic/apm/agent/esrestclient/ResponseListenerWrapper.java
Labels: agent-java

#3258 Fixed handler reference in dockerfile
  scripts/docker-release/build_docker.sh
Labels: agent-java
