Repository elastic/apm-agent-java, pull requests merged in 2023-06, with the labels that each got.

#3161 Update spring dependencies managed via spring boot via dependabot
  .github/dependabot.yml
Labels: agent-java

#3154 Fix external plugin OpenTelemetry instrumentation
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/IndyBootstrap.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/IndyPluginClassLoaderFactory.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/classloading/DiscriminatingMultiParentClassLoader.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/classloading/IndyPluginClassLoader.java
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-app/pom.xml
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-app/src/main/java/testapp/Main.java
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-app/src/test/java/ExternalPluginOTelIT.java
  integration-tests/external-plugin-otel-test/external-plugin-otel-test-plugin1/src/main/java/co/elastic/apm/sample/plugin1/CreateTransactionInstrumentation.java
Labels: agent-java

#3167 Fixed file descriptor metrics test for windows.
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/builtin/JvmFdMetricsTest.java
Labels: agent-java, ci:windows

#3159 Protect against stackoverflow when printing advice exceptions
  CHANGELOG.asciidoc
  apm-agent-bootstrap/src/main/java/bootstrap/dispatcher/IndyBootstrapDispatcher.java
  apm-agent-bootstrap/src/main/resources/bootstrap/java/lang/IndyBootstrapDispatcher.esclazz
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/IndyBootstrap.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
Labels: agent-java, ci:agent-integration

#3149 [doc] Align agents logs documentation
  docs/logs.asciidoc
Labels: docs, agent-java

#3137 GH Actions + Buildkite release
  .buildkite/release.yml
  .ci/ReleaseChangelog.java
  .ci/release.sh
  .ci/release/Jenkinsfile
  .ci/run-benchmarks.sh
  .github/workflows/release.yml
  CONTRIBUTING.md
  Jenkinsfile
  scripts/docker-release/build_docker.sh
  scripts/docker-release/check_maven.sh
  scripts/docker-release/fetch_nexus_id.sh
  scripts/docker-release/push_docker.sh
Labels: agent-java, community, triage

#3172 Prevent NoSuchMethodErrors on pre Servlet-api 3.0 versions in spring instrumentation.
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-servlet-plugin/pom.xml
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/adapter/JavaxServletApiAdapter.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/helper/AncientServletAPITest.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/helper/ServletApiAdapterTest.java
Labels: agent-java

#3174 Prepare changelog for automated release, added explanation as comment.
  CHANGELOG.asciidoc
Labels: agent-java

#3173 Fix maven-central link in docker build script.
  scripts/docker-release/build_docker.sh
Labels: agent-java

#3178 Use apmmachine token for git commands
  .github/workflows/release.yml
Labels: agent-java, community, triage

#3180 Temporary buildkite action usage fix
  .github/workflows/release.yml
Labels: agent-java, community, triage

#3182 Use common settings.xml for both snapshot and release
  .ci/settings.xml
  .ci/snapshot-settings.xml
  .ci/snapshot.sh
Labels: agent-java, community, triage

#3140 allow bypassing exception details
  .ci/ReleaseChangelog.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-plugins/apm-servlet-plugin/src/test/java/co/elastic/apm/agent/servlet/helper/AncientServletAPITest.java
Labels: agent-java

#3187 Upgrade micrometer, workaround for histogram bug in tests.
  apm-agent-plugins/apm-micrometer-plugin/pom.xml
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerMeterRegistrySerializerTest.java
Labels: agent-java

#3171 Docs clarification that additional log fields are unsupported for log sending.
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#3185 Fix lambda layer publish script
  .ci/create-arn-table.sh
  .ci/publish-aws.sh
  .github/workflows/release.yml
Labels: agent-java, community, triage

#3193 Remove deprecated release Jenkinsfile
  .ci/release/Jenkinsfile
Labels: agent-java, community, triage

#3197 Remove unused withActiveSpan method
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/ElasticContext.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/ElasticContextWrapper.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/tracing/OTelBridgeContext.java
Labels: agent-java

#3205 prevent overriding aws elastic handler when set
  CHANGELOG.asciidoc
  elastic-apm-agent/src/main/assembly/elastic-apm-handler
Labels: agent-java
