Repository elastic/apm-agent-java, pull requests merged in 2023-12, with the labels that each got.

#3453 Disable SpringAmqpBatchIT due to flakyness
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/SpringAmqpBatchIT.java
Labels: agent-java, ready-to-merge

#3458 backport doc changes from 1.x
  docs/api-opentelemetry.asciidoc
Labels: agent-java

#3449 updated message that helps run properly ConfigurationExporterTest on windows
  CONTRIBUTING.md
  apm-agent-builds/apm-agent/src/test/java/co/elastic/apm/agent/configuration/ConfigurationExporterTest.java
Labels: agent-java, community

#3447 Upgrade to OpenTelemetry 1.32.0, add support for bucket boundaries metrics API
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/MetricsConfiguration.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-embedded-metrics-sdk/src/main/java/co/elastic/apm/agent/embeddedotel/proxy/ProxyDoubleHistogramBuilder.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-embedded-metrics-sdk/src/main/java/co/elastic/apm/agent/embeddedotel/proxy/ProxyLongHistogramBuilder.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metrics-bridge-parent/apm-opentelemetry-metrics-bridge-latest/src/main/java/co/elastic/apm/agent/opentelemetry/metrics/bridge/BridgeFactoryLatest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metrics-bridge-parent/apm-opentelemetry-metrics-bridge-latest/src/main/java/co/elastic/apm/agent/opentelemetry/metrics/bridge/latest/BridgeDoubleHistogramBuilder.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metrics-bridge-parent/apm-opentelemetry-metrics-bridge-latest/src/main/java/co/elastic/apm/agent/opentelemetry/metrics/bridge/latest/BridgeLongHistogramBuilder.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/main/java/co/elastic/apm/agent/otelmetricsdk/ElasticOtelMetricsExporter.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/test/java/co/elastic/apm/agent/otelmetricsdk/AbstractOtelMetricsTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-metricsdk-plugin/src/test/java/co/elastic/apm/agent/otelmetricsdk/PrivateUserSdkOtelMetricsTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-test/src/test/java/co/elastic/apm/agent/opentelemetry/OpenTelemetryVersionIT.java
  apm-agent-plugins/apm-opentelemetry/pom.xml
  docs/api-opentelemetry.asciidoc
  docs/configuration.asciidoc
Labels: agent-java

#3468 wiremock update
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-1-plugin/src/test/java/co/elastic/apm/agent/awssdk/v1/AbstractAws1ClientIT.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/test/java/co/elastic/apm/agent/awssdk/v2/AbstractAws2ClientIT.java
  pom.xml
Labels: agent-java

#3469 ci(ITs): support JBoss ITs with GitHub secrets
  .ci/scripts/jboss-docker-images.txt
  .ci/scripts/jboss-pull.sh
  .ci/scripts/jboss-upload.sh
  .github/workflows/main.yml
  apm-agent-common/src/test/java/co/elastic/apm/agent/test/AgentTestContainer.java
  docs/supported-technologies.asciidoc
  integration-tests/application-server-integration-tests/pom.xml
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/JBossIT.java
  pom.xml
Labels: agent-java

#3473 ci: support no secrets for dependabot
  .ci/scripts/jboss-pull.sh
  .github/workflows/main.yml
Labels: agent-java
