Repository elastic/apm-agent-java, pull requests merged in 2023-10, with the labels that each got.

#3344 fix java 11 and java 21 test failures
  .github/workflows/main.yml
  pom.xml
Labels: agent-java, ci:jdk-compatibility

#3347 [mergify] fix merge method
  .mergify.yml
Labels: automation

#3329 captured span.sync attribute for ES restclient spans plugins
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-5_6/src/main/java/co/elastic/apm/agent/esrestclient/v5_6/ElasticsearchClientAsyncInstrumentation.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-5_6/src/main/java/co/elastic/apm/agent/esrestclient/v5_6/ElasticsearchClientSyncInstrumentation.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/main/java/co/elastic/apm/agent/esrestclient/v6_4/ElasticsearchClientAsyncInstrumentation.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/main/java/co/elastic/apm/agent/esrestclient/v6_4/ElasticsearchClientSyncInstrumentation.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-7_x/src/test/java/co/elastic/apm/agent/esrestclient/v7_x/ElasticsearchRestClientInstrumentationIT.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-8_x/src/test/java/co/elastic/apm/agent/esrestclient/v8_x/Elasticsearch8JavaIT.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/main/java/co/elastic/apm/agent/esrestclient/ElasticsearchRestClientInstrumentationHelper.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/test/java/co/elastic/apm/agent/esrestclient/AbstractEsClientInstrumentationTest.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/test/java/co/elastic/apm/agent/esrestclient/ElasticsearchRestClientInstrumentationHelperTest.java
Labels: agent-java, community, ready-to-merge

#3348 [mergify] fix mergify config again
  .mergify.yml
Labels: agent-java

#3353 Fix multiple spans being created for HTTPUrlConnection HEAD requests
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-urlconnection-plugin/src/main/java/co/elastic/apm/agent/urlconnection/HttpUrlConnectionInstrumentation.java
  apm-agent-plugins/apm-urlconnection-plugin/src/test/java/co/elastic/apm/agent/urlconnection/HttpUrlConnectionInstrumentationTest.java
Labels: agent-java, ci:jdk-compatibility, ready-to-merge

#3357 Fix off-by-one error in tests which effectively disabled recycling validation
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockTracer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/objectpool/TestObjectPoolFactory.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/PartialTransactionTest.java
  apm-agent-plugins/apm-api-plugin/src/test/java/co/elastic/apm/api/AnnotationInheritanceTest.java
  apm-agent-plugins/apm-httpclient-core/src/test/java/co/elastic/apm/agent/httpclient/AbstractHttpClientInstrumentationTest.java
  apm-agent-plugins/apm-logging-plugin/apm-logging-plugin-common/src/test/java/co/elastic/apm/agent/loginstr/correlation/CorrelationIdMapAdapterTest.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeSpanifyTest.java
  apm-agent-plugins/apm-profiling-plugin/src/test/java/co/elastic/apm/agent/profiler/CallTreeTest.java
Labels: agent-java, ready-to-merge

#3359 Added otel to dependabot config, upgraded dependencies
  .github/dependabot.yml
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/pom.xml
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/test/java/co/elastic/apm/agent/opentelemetry/SemAttributes.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/test/java/co/elastic/apm/agent/opentelemetry/tracing/ElasticOpenTelemetryTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/test/java/specs/OTelBridgeStepsDefinitions.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-test/src/test/java/co/elastic/apm/agent/opentelemetry/OpenTelemetryVersionIT.java
  apm-agent-plugins/apm-opentelemetry/pom.xml
  integration-tests/external-plugin-otel-test/pom.xml
Labels: agent-java, ci:agent-integration, ready-to-merge

#3368 action: remove leftover from Jenkins
  .github/workflows/triggerCI.yml
Labels: automation, agent-java

#3373 Fix aws sdk instrumentation
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/pom.xml
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/BaseAsyncClientHandlerInstrumentation.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/BaseSyncClientHandlerInstrumentation.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/ClientHandlerConfigInstrumentation.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  docs/supported-technologies.asciidoc
  pom.xml
Labels: agent-java, ci:agent-integration, ready-to-merge

#3364 added capturing s3 otel attributes from lamba S3Event
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-awslambda-plugin/src/main/java/co/elastic/apm/agent/awslambda/helper/S3TransactionHelper.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/S3EventLambdaTest.java
Labels: agent-java, community, triage, ready-to-merge

#3384 Process otel benchmark
  apm-agent-benchmarks/src/main/java/co/elastic/apm/agent/benchmark/ProcessOtelBenchmarkResults.java
Labels: agent-java

#3385 remove noise
  apm-agent-benchmarks/src/main/java/co/elastic/apm/agent/benchmark/ProcessOtelBenchmarkResults.java
Labels: agent-java

#3386 ci(action): archive benchmarks.jar
  .github/workflows/main.yml
Labels: agent-java

#3387 ci(action): remove unrequired action
  .github/workflows/sync-branches.yml
Labels: agent-java

#3371 buildkite: opentelemetry+elastic agent overhead benchmark on a weekly basis
  .buildkite/README.md
  .buildkite/hooks/pre-command
  .buildkite/hooks/prepare-benchmark.sh
  .buildkite/hooks/prepare-common.sh
  .buildkite/hooks/prepare-release.sh
  .buildkite/load-testing.yml
  .buildkite/opentelemetry-benchmark.yml
  .buildkite/scripts/opentelemetry-benchmark.sh
  apm-agent-benchmarks/src/main/java/co/elastic/apm/agent/benchmark/ProcessOtelBenchmarkResults.java
  catalog-info.yaml
Labels: agent-java

#3391 buildkite: pre-command for the correct pipeline
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
Labels: agent-java

#3392 buildkite: forcing-clean-checkouts and remove event-based builds
  .buildkite/hooks/pre-exit
  .buildkite/opentelemetry-benchmark.yml
  catalog-info.yaml
Labels: agent-java

#3393 add 22-ea to testing
  .github/workflows/main.yml
  docs/supported-technologies.asciidoc
Labels: agent-java, ci:jdk-compatibility
