Repository elastic/apm-agent-java, pull requests merged in 2023-01, with the labels that each got.

#2941 Windows tests
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/AbstractIntakeApiHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandler.java
  apm-agent-plugins/apm-logging-plugin/apm-tomcat-logging-plugin/src/test/java/co/elastic/apm/agent/tomcatlogging/TomcatLoggingInstrumentationTest.java
Labels: agent-java, ci:windows

#2865 Reference counting for buffered spans
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Span.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/SpanAtomicReference.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/SpanCompressionIT.java
Labels: agent-java

#2924 Add bootstrap check for JVM tools
  CHANGELOG.asciidoc
  elastic-apm-agent/src/main/java/co/elastic/apm/agent/premain/BootstrapChecks.java
  elastic-apm-agent/src/main/java/co/elastic/apm/agent/premain/JvmToolBootstrapCheck.java
  elastic-apm-agent/src/test/java/co/elastic/apm/agent/premain/JvmToolBootstrapCheckTest.java
  elastic-apm-agent/src/test/java/co/elastic/apm/agent/premain/ShadedClassLoaderTest.java
Labels: agent-java

#2948 tests are close/over the limit, so upped the timeout
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerConfigInstrumentationTest.java
Labels: agent-java

#2904 Attempt to fix Grpc Test flakyness by changing free port check
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/TestPort.java
Labels: agent-java, ci:agent-integration

#2955 Increase CI build timeout
  .ci/jobs/apm-agent-java-mbp.yml
  Jenkinsfile
Labels: agent-java

#2956 [doc] setup with docker image
  docs/setup-javaagent.asciidoc
  docs/setup/get-agent-widget.asciidoc
  docs/setup/get-agent.asciidoc
Labels: docs, agent-java

#2694 Ship logs via intake API
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/ApmServerLogAppender.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/ApmServerLogFilter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/Log4j2ConfigurationFactory.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/LoggingConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/builtin/AgentReporterMetrics.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/AbstractIntakeApiHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerClient.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandler.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/Reporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReportingEvent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/MetricRegistryReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/PayloadSerializer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/IOUtils.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/logging/ApmServerLogAppenderTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/logging/Log4j2ConfigurationFactoryTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/logging/instr/LoggerTestInstrumentation.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/builtin/AgentReporterMetricsTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandlerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/logging/Logger.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/logging/LoggerFactory.java
  apm-agent-plugins/apm-logging-plugin/apm-jul-plugin/src/main/java/co/elastic/apm/agent/jul/reformatting/AbstractJulEcsReformattingHelper.java
  apm-agent-plugins/apm-logging-plugin/apm-jul-plugin/src/main/java/co/elastic/apm/agent/jul/reformatting/JulConsoleHandlerPublishAdvice.java
  apm-agent-plugins/apm-logging-plugin/apm-jul-plugin/src/main/java/co/elastic/apm/agent/jul/reformatting/JulEcsReformattingHelper.java
  apm-agent-plugins/apm-logging-plugin/apm-jul-plugin/src/main/java/co/elastic/apm/agent/jul/reformatting/JulFileHandlerPublishAdvice.java
  apm-agent-plugins/apm-logging-plugin/apm-jul-plugin/src/main/java/co/elastic/apm/agent/jul/sending/JulLogSenderHandler.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j1-plugin/src/main/java/co/elastic/apm/agent/log4j1/reformatting/Log4J1EcsReformattingHelper.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j1-plugin/src/main/java/co/elastic/apm/agent/log4j1/reformatting/Log4j1AppenderAppendAdvice.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j1-plugin/src/main/java/co/elastic/apm/agent/log4j1/sending/LogSenderAppender.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j2-plugin/src/main/java/co/elastic/apm/agent/log4j2/reformatting/Log4J2EcsReformattingHelper.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j2-plugin/src/main/java/co/elastic/apm/agent/log4j2/reformatting/Log4j2AppenderAppendAdvice.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j2-plugin/src/main/java/co/elastic/apm/agent/log4j2/sending/Log4j2LogSenderAppender.java
  apm-agent-plugins/apm-logging-plugin/apm-logback-plugin/apm-logback-plugin-impl/src/main/java/co/elastic/apm/agent/logback/reformatting/LogbackAppenderAppendAdvice.java
  apm-agent-plugins/apm-logging-plugin/apm-logback-plugin/apm-logback-plugin-impl/src/main/java/co/elastic/apm/agent/logback/reformatting/LogbackEcsReformattingHelper.java
  apm-agent-plugins/apm-logging-plugin/apm-logback-plugin/apm-logback-plugin-impl/src/main/java/co/elastic/apm/agent/logback/sending/LogbackLogSenderAppender.java
  apm-agent-plugins/apm-logging-plugin/apm-logging-plugin-common/src/main/java/co/elastic/apm/agent/loginstr/reformatting/AbstractEcsReformattingHelper.java
  apm-agent-plugins/apm-logging-plugin/apm-logging-plugin-common/src/test/java/co/elastic/apm/agent/loginstr/LoggingInstrumentationTest.java
  apm-agent-plugins/apm-logging-plugin/apm-tomcat-logging-plugin/src/main/java/co/elastic/apm/agent/tomcatlogging/reformatting/FileHandlerPublishAdvice.java
  apm-agent-plugins/apm-logging-plugin/apm-tomcat-logging-plugin/src/main/java/co/elastic/apm/agent/tomcatlogging/reformatting/TomcatReformattingHelper.java
  apm-agent-plugins/apm-micrometer-plugin/src/main/java/co/elastic/apm/agent/micrometer/MicrometerMetricsReporter.java
  docs/configuration.asciidoc
Labels: agent-java

#2959 Set service target for non-sampled ES client spans
  CHANGELOG.asciidoc
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/SpanTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TransactionTest.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/main/java/co/elastic/apm/agent/esrestclient/ElasticsearchRestClientInstrumentationHelper.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-common/src/test/java/co/elastic/apm/agent/esrestclient/ElasticsearchRestClientInstrumentationHelperTest.java
Labels: bug, agent-java

#2962 Junit5 test with dependencies runner
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/AbstractTestClassWithDependencyRunner.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/JUnit4TestClassWithDependencyRunner.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/testutils/TestClassWithDependencyRunner.java
  apm-agent-core/src/test/java/co/elastic/test/ChildFirstURLClassLoader.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient3-plugin/src/test/java/co/elastic/apm/agent/httpclient/v3/HttpClient3VersionIT.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/test/java/co/elastic/apm/agent/httpclient/v4/LegacyApacheHttpClientVersionIT.java
  apm-agent-plugins/apm-ecs-logging-plugin/src/test/java/co/elastic/apm/agent/ecs_logging/Log4j2_17_1ServiceNameInstrumentationTest.java
  apm-agent-plugins/apm-kafka-plugin/apm-kafka-headers-plugin/src/test/java/co/elastic/apm/agent/kafka/KafkaClientVersionsIT.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j2-plugin/src/test/java/co/elastic/apm/agent/log4j2/Log4j2InstrumentationTestVersions.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j2-plugin/src/test/java/co/elastic/apm/agent/log4j2/Log4j2_17_1InstrumentationTest.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j2-plugin/src/test/java/co/elastic/apm/agent/log4j2/Log4j2_6SInstrumentationTest.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j2-plugin/src/test/java/co/elastic/apm/agent/log4j2/error/Log4j2ErrorCapturingTestVersions.java
  apm-agent-plugins/apm-logging-plugin/apm-log4j2-plugin/src/test/java/co/elastic/apm/agent/log4j2/error/Log4j2_17_1ErrorCapturingTest.java
  apm-agent-plugins/apm-micrometer-plugin/src/test/java/co/elastic/apm/agent/micrometer/MicrometerInstrumentationVersionsIT.java
  apm-agent-plugins/apm-mongodb/apm-mongodb3-plugin/src/test/java/co/elastic/apm/agent/mongodb/v3/Mongo3VersionIT.java
  apm-agent-plugins/apm-mongodb/apm-mongodb4-plugin/src/test/java/co/elastic/apm/agent/mongodb/v4/Mongo4VersionIT.java
  apm-agent-plugins/apm-okhttp-test/src/test/java/co/elastic/apm/agent/okhttp/OkHttp3ClientVersionIT.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-test/src/test/java/co/elastic/apm/opentelemetry/OpenTelemetryVersionIT.java
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-3-tests/src/test/java/co/elastic/apm/agent/lettuce/Lettuce3VersionsIT.java
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-plugin/src/test/java/co/elastic/apm/agent/lettuce/Lettuce4VersionsIT.java
  apm-agent-plugins/apm-redis-plugin/apm-lettuce-plugin/src/test/java/co/elastic/apm/agent/lettuce/Lettuce5VersionsIT.java
  apm-agent-plugins/apm-spring-resttemplate/apm-spring-resttemplate-test/src/test/java/co/elastic/apm/agent/resttemplate/SpringRestTemplateVersionsIT.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/test/java/co/elastic/apm/agent/springwebflux/testapp/AnnotatedEndpointTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/test/java/co/elastic/apm/agent/springwebflux/testapp/FunctionalEndpointTest.java
  pom.xml
Labels: agent-java

#2916 [doc] restructure logs doc
  docs/index.asciidoc
  docs/log-correlation.asciidoc
  docs/logs.asciidoc
  docs/redirects.asciidoc
  docs/supported-technologies.asciidoc
Labels: docs, agent-java

#2918 Fixed AgentOverheadMetricsTest flakyness
  apm-agent-core/src/main/java/co/elastic/apm/agent/metrics/builtin/AgentOverheadMetrics.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/builtin/AgentOverheadMetricsTest.java
Labels: agent-java

#2965 test: synchronizing gherkin spec
  apm-agent-core/src/test/resources/specs/azure_functions_metadata.feature
Labels: automation, agent-java

#2974 Fix agent log sending
  apm-agent-core/src/main/java/co/elastic/apm/agent/logging/ApmServerLogAppender.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/logging/ApmServerLogAppenderTest.java
Labels: agent-java

#2929 [doc] document log sending
  docs/logs.asciidoc
Labels: docs, agent-java

#2975 SpanBuilder.addLink is supported, so delete wrong comment
  docs/api-opentelemetry.asciidoc
Labels: agent-java

#2978 Doc add first stack trace detail
  docs/method-monitoring.asciidoc
Labels: agent-java

#2957 clarify about dropped requests for sampling in documentation
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  docs/configuration.asciidoc
  docs/tuning-and-overhead.asciidoc
Labels: agent-java

#2950 Add test for unsampled Transaction
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
Labels: agent-java

#2979 Fix SQS instrumentation within messaging transactions
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-1-plugin/src/main/java/co/elastic/apm/agent/awssdk/v1/helper/SQSHelper.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/helper/SQSHelper.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/test/java/co/elastic/apm/agent/awssdk/v2/SQSClientIT.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-common/src/main/java/co/elastic/apm/agent/awssdk/common/AbstractSQSInstrumentationHelper.java
Labels: bug, agent-java

#2936 Fix instrumentation for WebFlux with Spring 6.x
  .ci/load/Jenkinsfile
  .ci/packer_cache.sh
  .ci/release/Jenkinsfile
  CHANGELOG.asciidoc
  Jenkinsfile
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentDownloader.java
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/AgentDownloaderTest.java
  apm-agent-common/src/main/java/co/elastic/apm/agent/common/util/Version.java
  apm-agent-common/src/test/java/co/elastic/apm/agent/util/VersionTest.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/bytebuddy/CustomElementMatchers.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerClient.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerHealthChecker.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/springwebflux/SpringWebVersionUtils.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/springwebflux/package-info.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockTracer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerHealthCheckerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandlerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/PrivilegedActionUtilsTest.java
  apm-agent-java-17/apm-agent-spring-6/pom.xml
  apm-agent-java-17/apm-agent-spring-6/src/main/java/co/elastic/apm/agent/springwebflux/SpringWeb6Utils.java
  apm-agent-java-17/apm-agent-spring-6/src/test/java/co/elastic/apm/agent/springwebflux/SpringWeb6UtilsTest.java
  apm-agent-java-17/pom.xml
  apm-agent-plugins/apm-dubbo-plugin/pom.xml
  apm-agent-plugins/apm-javalin-plugin/pom.xml
  apm-agent-plugins/apm-mongodb/apm-mongodb4-plugin/src/test/java/co/elastic/apm/agent/mongodb/v4/Mongo4VersionIT.java
  apm-agent-plugins/apm-okhttp-plugin/src/test/java/co/elastic/apm/agent/okhttp/OkHttp3ClientAsyncInstrumentationTest.java
  apm-agent-plugins/apm-okhttp-plugin/src/test/java/co/elastic/apm/agent/okhttp/OkHttp3ClientInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/SpringWeb5Utils.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/main/java/co/elastic/apm/agent/springwebflux/WebfluxHelper.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/SpringWeb5UtilsTest.java
  apm-agent/pom.xml
  integration-tests/external-plugin-test/external-plugin/pom.xml
  pom.xml
Labels: bug, agent-java, ci:jdk-compatibility

#2930 Improve JMS listener heuristic
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/MessagingConfiguration.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/main/java/co/elastic/apm/agent/jms/JmsMessageListenerInstrumentation.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/test/java/co/elastic/apm/agent/jms/JmsInstrumentationIT.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/test/java/co/elastic/apm/agent/jms/JmsMessageListenerTest.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/test/java/co/elastic/apm/agent/jms/test/TestMessageConsumer.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/test/java/co/elastic/apm/agent/jms/test/TestMessageListener.java
  apm-agent-plugins/apm-jms-plugin/apm-jms-plugin-base/src/test/java/co/elastic/apm/agent/jms/test/TestMsgHandler.java
  docs/configuration.asciidoc
Labels: agent-java, await-release

#2987 action: opentelemetry
  .github/workflows/opentelemetry.yml
Labels: automation, agent-java, Team:Automation

#2984 Disable CPU overhead test due to flakyness
  apm-agent-core/src/test/java/co/elastic/apm/agent/metrics/builtin/AgentOverheadMetricsTest.java
Labels: agent-java

#2977 Readded ldap plugin, added instrumentation module opening support
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/IndyBootstrap.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/PluginClassLoaderRootPackageCustomizer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/modules/ModuleOpener.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/modules/ModuleOpenerImpl.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/modules/ModuleOpenerTest.java
  apm-agent-plugins/apm-java-ldap-plugin/pom.xml
  apm-agent-plugins/apm-java-ldap-plugin/src/main/java/co/elastic/apm/agent/java_ldap/LdapClientAdvice.java
  apm-agent-plugins/apm-java-ldap-plugin/src/main/java/co/elastic/apm/agent/java_ldap/LdapClientInstrumentation.java
  apm-agent-plugins/apm-java-ldap-plugin/src/main/java/co/elastic/apm/agent/java_ldap/LdapPluginModuleOpens.java
  apm-agent-plugins/apm-java-ldap-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.bci.PluginClassLoaderRootPackageCustomizer
  apm-agent-plugins/apm-java-ldap-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-java-ldap-plugin/src/test/java/co/elastic/apm/agent/java_ldap/LdapClientAdviceTest.java
  apm-agent-plugins/apm-java-ldap-plugin/src/test/resources/test.ldif
  apm-agent-plugins/pom.xml
  apm-agent/pom.xml
  docs/configuration.asciidoc
  docs/supported-technologies.asciidoc
Labels: agent-java

#2986 action: snapshoty
  .ci/snapshoty.yml
  .github/workflows/snapshoty.yml
  Jenkinsfile
Labels: automation, agent-java, Team:Automation

#2958 don't capture exceptions to workaround AWS coretto crashes
  CHANGELOG.asciidoc
  apm-agent-common/src/main/java/co/elastic/apm/agent/common/JvmRuntimeInfo.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/BaseSyncClientHandlerInstrumentation.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/test/java/co/elastic/apm/agent/awssdk/v2/BaseSyncClientHandlerInstrumentationTest.java
  elastic-apm-agent/src/test/java/co/elastic/apm/agent/premain/JavaVersionBootstrapCheckTest.java
Labels: agent-java

#2988 Prepare changelog for 1.36.0 release
  CHANGELOG.asciidoc
Labels: agent-java

#2990 ci: pin baremetal with jdk17
  Jenkinsfile
Labels: agent-java, ci:benchmarks

#2998 Skip deploying of java 17 subprojects
  apm-agent-java-17/pom.xml
Labels: agent-java
