Repository elastic/apm-agent-java, pull requests merged in 2023-11, with the labels that each got.

#3399 dependabot: enable github and composite actions
  .github/dependabot.yml
Labels: automation, dependencies, agent-java

#3358 Implement context_propagation_only setting
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/TracerConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractRefCountedContext.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpan.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ApmServerReporter.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/ReporterFactory.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerReporterIntegrationTest.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/test/java/co/elastic/apm/agent/esrestclient/v6_4/ElasticsearchRestClientInstrumentationIT_RealReporter.java
  docs/configuration.asciidoc
Labels: agent-java, ci:agent-integration, ready-to-merge

#3410 jdk update reminder
  .github/workflows/main.yml
  apm-agent-core/src/test/java/co/elastic/apm/agent/util/JdkVersionTest.java
Labels: agent-java, ci:jdk-compatibility, ready-to-merge

#3416 updatecli: link to the original Pull Request
  .ci/updatecli.d/update-gherkin-specs.yml
  .ci/updatecli.d/update-json-specs.yml
  .ci/updatecli.d/update-specs.yml
Labels: automation

#3420 buildkite: add permissions to observablt-robots-automation
  catalog-info.yaml
Labels: agent-java

#3376 add support for attribute[*] with capture_jmx_metrics
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jmx-plugin/src/main/java/co/elastic/apm/agent/jmx/JmxConfiguration.java
  apm-agent-plugins/apm-jmx-plugin/src/main/java/co/elastic/apm/agent/jmx/JmxMetric.java
  apm-agent-plugins/apm-jmx-plugin/src/main/java/co/elastic/apm/agent/jmx/JmxMetricTracker.java
  apm-agent-plugins/apm-jmx-plugin/src/test/java/co/elastic/apm/agent/jmx/JmxMetricTrackerTest.java
  apm-agent-plugins/apm-jmx-plugin/src/test/java/co/elastic/apm/agent/jmx/JmxMetricValueConverterTest.java
  docs/configuration.asciidoc
Labels: agent-java

#3388 fixed flaky test SPringAmqpBatchIT - solved problem with bean creation order
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/SpringAmqpBatchIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/components/batch/BatchListenerComponent.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/config/BaseConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring/src/test/java/co/elastic/apm/agent/rabbitmq/config/BatchConfiguration.java
Labels: agent-java, community

#3436 extend InstrumentationTest timeout to reduce flakeyness
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/InstrumentationTest.java
Labels: agent-java

#3437 cleanup the rushed #3436 PR
  apm-agent-core/src/test/java/co/elastic/apm/agent/bci/InstrumentationTest.java
Labels: agent-java

#3438 let Corretto 21+ have non-redacted exceptions
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/main/java/co/elastic/apm/agent/awssdk/v2/BaseSyncClientHandlerInstrumentation.java
  apm-agent-plugins/apm-aws-sdk/apm-aws-sdk-2-plugin/src/test/java/co/elastic/apm/agent/awssdk/v2/BaseSyncClientHandlerInstrumentationTest.java
Labels: agent-java

#3442 Added a test to verify the instrumentation support for the Spring HTTP client RestClient.
  apm-agent-plugins/apm-spring-resttemplate/apm-spring-restclient-test/pom.xml
  apm-agent-plugins/apm-spring-resttemplate/apm-spring-restclient-test/src/test/java/co/elastic/apm/agent/restclient/SpringRestClientInstrumentationTest.java
  apm-agent-plugins/apm-spring-resttemplate/pom.xml
  docs/supported-technologies.asciidoc
Labels: agent-java, community, triage

#3418 fix metadata parsing for gardener
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/metadata/SystemInfo.java
  apm-agent-core/src/test/resources/json-specs/container_metadata_discovery.json
Labels: agent-java

#3440 #3439 - Handle removal of ClientResponse#rawStatusCode and bump to Spring Boot to 3.2
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/main/java/co/elastic/apm/agent/springwebclient/WebClientSubscriber.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/main/java/co/elastic/apm/agent/springwebclient/WebclientPluginRootPackageCustomizer.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.internal.PluginClassLoaderRootPackageCustomizer
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-common-spring5/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-common-spring5/src/main/java/co/elastic/apm/agent/webfluxcommon/SpringWeb5Utils.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-common-spring5/src/main/java/co/elastic/apm/agent/webfluxcommon/SpringWebVersionUtils.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-common-spring5/src/test/java/co/elastic/apm/agent/webfluxcommon/SpringWeb5UtilsTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-common/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-common/src/main/java/co/elastic/apm/agent/webfluxcommon/SpringWeb6Utils.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-common/src/test/java/co/elastic/apm/agent/webfluxcommon/SpringWeb6UtilsTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/pom.xml
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/WebfluxHelper.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/WebfluxPluginRootPackageCustomizer.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.internal.PluginClassLoaderRootPackageCustomizer
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingAnnotated.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/GreetingWebClient.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-testapp/src/main/java/co/elastic/apm/agent/springwebflux/testapp/WebFluxConfig.java
  apm-agent-plugins/apm-spring-webflux/pom.xml
  docs/supported-technologies.asciidoc
Labels: agent-java, community, triage, ready-to-merge

#3446 Update remaining projects to spring boot 3.2
  apm-agent-plugins/apm-spring-resttemplate/apm-spring-resttemplate-plugin/pom.xml
  apm-agent-plugins/apm-spring-webmvc/apm-spring-webmvc-plugin/pom.xml
  apm-agent-plugins/apm-spring-webmvc/pom.xml
  integration-tests/spring-boot-2/spring-boot-2-base/src/test/java/co/elastic/apm/spring/boot/AbstractSpringBootTest.java
  integration-tests/spring-boot-3/pom.xml
  integration-tests/spring-boot-3/spring-boot-3-jetty/pom.xml
Labels: agent-java, ready-to-merge
