Repository elastic/apm-agent-java, pull requests merged in 2024-07, with the labels that each got.

#3707 updatecli: use shared policy
  .ci/updatecli/updatecli.d/update-gherkin-specs.yml
  .ci/updatecli/updatecli.d/update-json-specs.yml
  .ci/updatecli/updatecli.d/update-specs.yml
  .ci/updatecli/values.d/apm-data-spec.yml
  .ci/updatecli/values.d/apm-gherkin.yml
  .ci/updatecli/values.d/apm-json-specs.yml
  .ci/updatecli/values.d/scm.yml
  .ci/updatecli/values.yml
  .github/workflows/updatecli.yml
  update-compose.yaml
Labels: agent-java

#3708 Run opentelemetry benchmarks for individual features
  .buildkite/scripts/opentelemetry-benchmark.sh
Labels: agent-java

#3712 runtime attach: prevent NPE with null value
  CHANGELOG.asciidoc
  apm-agent-attach/src/main/java/co/elastic/apm/attach/ElasticApmAttacher.java
  integration-tests/runtime-attach/runtime-attach-app/src/main/java/co/elastic/apm/testapp/AppMain.java
Labels: agent-java

#3714 updatecli: bump policies too
  .ci/updatecli/values.d/scm.yml
  .ci/updatecli/values.d/update-compose.yml
  update-compose.yaml
Labels: agent-java

#3716 [DOCS] Clarify error capturing
  docs/logs.asciidoc
Labels: agent-java

#3715 deps(updatecli): bump all policies
  update-compose.yaml
Labels: dependencies, agent-java

#3722 z/OS avoids using NOFOLLOW_LINKS
  CHANGELOG.asciidoc
  apm-agent-common/src/main/java/co/elastic/apm/agent/common/JvmRuntimeInfo.java
  apm-agent-common/src/main/java/co/elastic/apm/agent/common/util/ResourceExtractionUtil.java
Labels: agent-java

#3692 Capture request body for Apache HttpClient 4.x
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/BodyCaptureImpl.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/HttpImpl.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/BodyCaptureTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient-common/src/main/java/co/elastic/apm/agent/httpclient/common/AbstractApacheHttpClientAdvice.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient-common/src/main/java/co/elastic/apm/agent/httpclient/common/AbstractApacheHttpClientAsyncAdvice.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/main/java/co/elastic/apm/agent/httpclient/v4/ApacheHttpClientInstrumentation.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/main/java/co/elastic/apm/agent/httpclient/v4/ApacheHttpEntityGetContentInstrumentation.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/main/java/co/elastic/apm/agent/httpclient/v4/ApacheHttpEntityWriteToInstrumentation.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/main/java/co/elastic/apm/agent/httpclient/v4/LegacyApacheHttpClientInstrumentation.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/main/java/co/elastic/apm/agent/httpclient/v4/helper/HttpAsyncRequestProducerWrapper.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/main/java/co/elastic/apm/agent/httpclient/v4/helper/RequestBodyCaptureRegistry.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/test/java/co/elastic/apm/agent/httpclient/v4/ApacheHttpAsyncClientInstrumentationTest.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/test/java/co/elastic/apm/agent/httpclient/v4/ApacheHttpClientInstrumentationTest.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/test/java/co/elastic/apm/agent/httpclient/v4/LegacyApacheHttpClientBasicHttpRequestInstrumentationTest.java
  apm-agent-plugins/apm-apache-httpclient/apm-apache-httpclient4-plugin/src/test/java/co/elastic/apm/agent/httpclient/v4/LegacyApacheHttpClientHttpUriRequestInstrumentationTest.java
  apm-agent-plugins/apm-httpclient-core/src/main/java/co/elastic/apm/agent/httpclient/HttpClientHelper.java
  apm-agent-plugins/apm-httpclient-core/src/main/java/co/elastic/apm/agent/httpclient/RequestBodyRecordingInputStream.java
  apm-agent-plugins/apm-httpclient-core/src/main/java/co/elastic/apm/agent/httpclient/RequestBodyRecordingOutputStream.java
  apm-agent-plugins/apm-httpclient-core/src/test/java/co/elastic/apm/agent/httpclient/AbstractHttpClientInstrumentationTest.java
  apm-agent-plugins/apm-httpclient-core/src/test/java/co/elastic/apm/agent/httpclient/HttpClientHelperTest.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/configuration/WebConfiguration.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/metadata/BodyCapture.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/metadata/Http.java
Labels: agent-java, ci:agent-integration

#3713 jmx-metrics-fix
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jmx-plugin/src/main/java/co/elastic/apm/agent/jmx/JmxMetricTracker.java
Labels: agent-java

#3735 Use 1.5.5 lambda layer for tests because 1.5.6 seems to be broken
  integration-tests/aws-lambda-test/src/test/java/co/elastic/apm/awslambda/AwsLambdaIT.java
Labels: agent-java

#3739 Reset major branch
  .buildkite/hooks/prepare-common.sh
  .github/workflows/README.md
  .github/workflows/pre-post-release.yml
  .github/workflows/pre-release.yml
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/BodyCaptureImpl.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/BodyCaptureTest.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/ApiGatewayV2LambdaTest.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/NoopTracer.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/Tracer.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/metadata/BodyCapture.java
Labels: agent-java

#3743 add automatic module name to apm-agent-attach
  CHANGELOG.asciidoc
  apm-agent-attach/pom.xml
Labels: agent-java, community, triage
