Repository elastic/apm-agent-java, pull requests merged in 2024-02, with the labels that each got.

#3513 Fix agent downloader with new signing key for 1.46.0
  CHANGELOG.asciidoc
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/AgentDownloader.java
  apm-agent-attach-cli/src/main/java/co/elastic/apm/attach/bouncycastle/BouncyCastleVerifier.java
  apm-agent-attach-cli/src/main/resources/pub_key_8AB554FD8F207067.asc
  apm-agent-attach-cli/src/main/resources/pub_key_D27D666CD88E42B4.asc
  apm-agent-attach-cli/src/test/java/co/elastic/apm/attach/AgentDownloaderTest.java
Labels: agent-java

#3519 Update team member check
  .github/workflows/labeler.yml
Labels: agent-java

#3520 github-action: listen for all the workflow runs
  .github/workflows/opentelemetry.yml
Labels: agent-java, community, triage

#3511 add option for automatic JMX retry
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-jmx-plugin/src/main/java/co/elastic/apm/agent/jmx/JmxConfiguration.java
  apm-agent-plugins/apm-jmx-plugin/src/main/java/co/elastic/apm/agent/jmx/JmxMetricTracker.java
  apm-agent-plugins/apm-jmx-plugin/src/test/java/co/elastic/apm/agent/jmx/JmxMetricTrackerTest.java
Labels: agent-java

#3527 cleanup servlet request attribute
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletApiAdvice.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/adapter/JakartaServletApiAdapter.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/adapter/JavaxServletApiAdapter.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/adapter/ServletRequestAdapter.java
  apm-agent-plugins/apm-spring-webmvc/apm-spring-webmvc-spring5/src/test/java/co/elastic/apm/agent/springwebmvc/exception/AbstractExceptionHandlerInstrumentationWithExceptionResolverTest.java
Labels: agent-java, community

#3529 Attempt to fix PR labeling
  .github/workflows/labeler.yml
Labels: agent-java, community, triage

#3528 Added internal option to fully redact exceptions
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/error/RedactedException.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-core/src/test/java/org/example/stacktrace/ErrorCaptureTest.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/ServletApiAdvice.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/helper/JakartaApmAsyncListener.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/helper/JakartaAsyncContextAdviceHelper.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/helper/JavaxApmAsyncListener.java
  apm-agent-plugins/apm-servlet-plugin/src/main/java/co/elastic/apm/agent/servlet/helper/JavaxAsyncContextAdviceHelper.java
  apm-agent-plugins/apm-spring-webmvc/apm-spring-webmvc-spring5/src/main/java/co/elastic/apm/agent/springwebmvc/AbstractSpringExceptionHandlerInstrumentation.java
  apm-agent-plugins/apm-spring-webmvc/apm-spring-webmvc-spring5/src/test/java/co/elastic/apm/agent/springwebmvc/exception/AbstractExceptionHandlerInstrumentationWithExceptionResolverTest.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/GlobalTracer.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/NoopTracer.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/Tracer.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/Transaction.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/configuration/CoreConfiguration.java
Labels: agent-java, community, ci:agent-integration

#3535 Added support for Otel TracerBuilder
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/AbstractOpenTelemetryInstrumentation.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/tracing/OTelTracerProvider.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/tracing/OtelTracerBuilder.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/test/java/co/elastic/apm/agent/opentelemetry/tracing/ElasticOpenTelemetryTest.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-test/src/test/java/co/elastic/apm/agent/opentelemetry/OpenTelemetryVersionIT.java
  docs/api-opentelemetry.asciidoc
Labels: agent-java

#3492 Use LRU cache for statement parser
  CHANGELOG.asciidoc
  apm-agent-core/pom.xml
  apm-agent-core/src/main/java/co/elastic/apm/agent/collections/LRUCacheFactoryImpl.java
  apm-agent-core/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.internal.collections.LRUCacheFactory
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/internal/collections/LRUCache.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/internal/collections/LRUCacheFactory.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/internal/db/signature/SignatureParser.java
  apm-agent-plugin-sdk/src/test/java/co/elastic/apm/agent/sdk/internal/collections/NonEvictingCacheFactory.java
  apm-agent-plugin-sdk/src/test/resources/META-INF/services/co.elastic.apm.agent.sdk.internal.collections.LRUCacheFactory
Labels: agent-java, ci:agent-integration

#3537 Add missing license headers in recently added files
  apm-agent-core/src/main/java/co/elastic/apm/agent/collections/LRUCacheFactoryImpl.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/internal/collections/LRUCache.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/internal/collections/LRUCacheFactory.java
  apm-agent-plugin-sdk/src/test/java/co/elastic/apm/agent/sdk/internal/collections/NonEvictingCacheFactory.java
  apm-agent-plugins/apm-opentelemetry/apm-opentelemetry-plugin/src/main/java/co/elastic/apm/agent/opentelemetry/tracing/OtelTracerBuilder.java
Labels: agent-java

#3538 Fix labeler workflow
  .github/workflows/labeler.yml
Labels: agent-java
