Repository elastic/apm-agent-java, pull requests merged in 2024-05, with the labels that each got.

#3602 Universal Profiling integration: open socket for communication
  apm-agent-core/src/main/java/co/elastic/apm/agent/universalprofiling/UniversalProfilingIntegration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/universalprofiling/UniversalProfilingIntegrationTest.java
Labels: agent-java

#3590 Fix NPE in dropped spans stats
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/DroppedSpanStats.java
Labels: agent-java

#3607 Universal profiling integration: Added serialization of stacktrace IDs as profiler_stack_trace_ids otel attributes
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Id.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/Transaction.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/Base64SerializationUtils.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/Base64SerializationUtilTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
Labels: agent-java

#3611 release: use explicit container arch
  scripts/docker-release/build_docker.sh
Labels: agent-java

#3589 Add thread dump debug option
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/ThreadDump.java
  apm-agent-core/src/main/resources/META-INF/services/co.elastic.apm.agent.tracer.LifecycleListener
Labels: agent-java

#3615 Universal profiling integration: Add stacktrace-IDs to transactions
  CHANGELOG.asciidoc
  apm-agent-core/pom.xml
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/UniversalProfilingConfiguration.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/Base64SerializationUtils.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/universalprofiling/Clock.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/universalprofiling/MoveableEvent.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/universalprofiling/PeekingPoller.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/universalprofiling/SpanProfilingSamplesCorrelator.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/universalprofiling/UniversalProfilingIntegration.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/Base64SerializationUtilTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/universalprofiling/PeekingPollerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/universalprofiling/UniversalProfilingIntegrationTest.java
  docs/configuration.asciidoc
Labels: agent-java

#3619 add c3p0 to DatabaseMetaDataExclusionList
  apm-agent-plugins/apm-jdbc-plugin/src/main/java/co/elastic/apm/agent/jdbc/helper/JdbcConfiguration.java
Labels: agent-java

#3630 github-action: delete opentelemetry workflow
  .github/workflows/opentelemetry.yml
Labels: agent-java

#3622 buildkite: avoid failing in tear-down failed
  .ci/release.sh
  .ci/snapshot.sh
Labels: agent-java

#3631 github-action: use actions/attest-build-provenance
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
Labels: dependencies, agent-java, github_actions

#3623 ci: build and push Docker image based on Chainguard base image
  .github/workflows/snapshot.yml
  CONTRIBUTING.md
  Dockerfile.wolfi
  scripts/docker-release/build_docker.sh
  scripts/docker-release/push_docker.sh
Labels: agent-java

#3634 bouncy castle upgrade
  apm-agent-attach-cli/pom.xml
Labels: agent-java

#3635 add symlink in dockerfile for /javaagent.jar for otel operator to find
  Dockerfile
  Dockerfile.wolfi
Labels: agent-java

#3621 buildkite: support version 21 for opentelemetry
  .buildkite/hooks/pre-command
  .buildkite/hooks/prepare-common.sh
Labels: agent-java

#3638 ci: add some job timeouts
  .github/workflows/main.yml
Labels: agent-java, github_actions

#3643 Fix too small activation stack for low transaction_max_spans values
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
Labels: agent-java

#3632 Exclude new Cisco AppD packages
  CHANGELOG.asciidoc
  apm-agent-core/src/main/java/co/elastic/apm/agent/bci/ElasticApmAgent.java
Labels: agent-java

#3644 more stack frames for thread dump
  apm-agent-core/src/main/java/co/elastic/apm/agent/util/ThreadDump.java
Labels: agent-java

#3652 [release] fix docker image build for release
  scripts/docker-release/build_docker.sh
Labels: agent-java

#3651 ci: use updatecli with GitHub secrets
  .ci/updatecli/updatecli.d/update-gherkin-specs.yml
  .ci/updatecli/updatecli.d/update-json-specs.yml
  .ci/updatecli/updatecli.d/update-specs.yml
  .github/workflows/updatecli.yml
Labels: agent-java

#3653 buildkite: use bot user
  .buildkite/hooks/prepare-benchmark.sh
Labels: agent-java

#3656 buildkite: use shared secret for obltmachine
  .buildkite/hooks/prepare-benchmark.sh
  .buildkite/hooks/prepare-common.sh
  .buildkite/hooks/prepare-release.sh
Labels: agent-java

#3659 add a jdk7 check so that we break before releasing!
  integration-tests/main-app-test/src/test/java/co/elastic/apm/test/AgentSetupIT.java
Labels: agent-java

#3658 github-actions: docker login with GitHub secrets
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
Labels: agent-java
