Repository elastic/apm-agent-java, pull requests merged in 2025-04, with the labels that each got.

#4014 add internal config option to capture thread info on span/transaction start
  apm-agent-core/src/main/java/co/elastic/apm/agent/configuration/CoreConfigurationImpl.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/transaction/AbstractSpanImpl.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/ElasticApmTracerTest.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/configuration/CoreConfiguration.java
Labels: agent-java

#4028 fix release notes
  .ci/ReleaseChangelog.java
  CHANGELOG.next-release.md
Labels: agent-java

#4038 [docs] Migrate breaking changes from AsciiDoc
  docs/release-notes/breaking-changes.md
  docs/release-notes/toc.yml
Labels: docs, agent-java, Team:Docs

#4037 fix labeler + automaticaly add to GH project
  .github/workflows/labeler.yml
Labels: agent-java

#4044 [docs] Update APM, Synthetics, Uptime links
  docs/reference/aws-lambda.md
  docs/reference/config-core.md
  docs/reference/configuration.md
  docs/reference/index.md
  docs/reference/logs.md
  docs/reference/metrics.md
  docs/reference/opentelemetry-bridge.md
  docs/reference/opentracing-bridge.md
  docs/reference/set-up-apm-java-agent.md
  docs/reference/ssl-configuration.md
  docs/reference/upgrading.md
Labels: docs, agent-java, Team:Docs, community, triage

#4045 [DOCS] Specifies no known issues
  docs/release-notes/known-issues.md
Labels: Team:Docs

#4051 [docs] Fix image paths for docs-assembler
  docs/reference/config-circuit-breaker.md
  docs/reference/config-core.md
  docs/reference/config-datastore.md
  docs/reference/config-http.md
  docs/reference/config-huge-traces.md
  docs/reference/config-jmx.md
  docs/reference/config-logging.md
  docs/reference/config-messaging.md
  docs/reference/config-metrics.md
  docs/reference/config-profiling.md
  docs/reference/config-reporter.md
  docs/reference/config-stacktrace.md
  docs/reference/configuration.md
  docs/reference/how-to-find-slow-methods.md
Labels: docs, agent-java, Team:Docs, community, triage

#4058 Remove 1000 characters limit for http client request body capturing
  CHANGELOG.next-release.md
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/ElasticApmTracerBuilder.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/BodyCaptureImpl.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/impl/context/HttpImpl.java
  apm-agent-core/src/main/java/co/elastic/apm/agent/report/serialize/DslJsonSerializer.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/MockReporter.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/configuration/ApmServerConfigurationSourceTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/context/BodyCaptureImplTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/impl/transaction/TransactionTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerClientTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ApmServerReporterIntegrationTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/IntakeV2ReportingEventHandlerTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/PartialTransactionTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/ReporterFactoryTest.java
  apm-agent-core/src/test/java/co/elastic/apm/agent/report/serialize/DslJsonSerializerTest.java
  apm-agent-core/src/test/java/org/example/stacktrace/StacktraceSerializationTest.java
  apm-agent-plugin-sdk/src/main/java/co/elastic/apm/agent/sdk/internal/util/IOUtils.java
  apm-agent-plugins/apm-awslambda-plugin/src/test/java/co/elastic/apm/agent/awslambda/AbstractLambdaTest.java
  apm-agent-plugins/apm-es-restclient-plugin/apm-es-restclient-plugin-6_4/src/test/java/co/elastic/apm/agent/esrestclient/v6_4/ElasticsearchRestClientInstrumentationIT_RealReporter.java
  apm-agent-plugins/apm-httpclient-core/src/test/java/co/elastic/apm/agent/httpclient/AbstractHttpClientInstrumentationTest.java
  apm-agent-tracer/src/main/java/co/elastic/apm/agent/tracer/configuration/WebConfiguration.java
  docs/reference/config-http.md
  docs/reference/config-reference-properties-file.md
  docs/reference/configuration.md
Labels: agent-java

#4060 Update breaking changes release notes section automatically
  .ci/ReleaseChangelog.java
Labels: agent-java
