Repository elastic/apm-agent-java, pull requests merged in 2025-01, with the labels that each got.

#3936 Add framework info for Spring Webflux
  CHANGELOG.asciidoc
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/Spring6ServerAnnotatedInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/Spring6ServerFunctionalInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-plugin/src/test/java/co/elastic/apm/agent/springwebflux/Spring6ServletContainerTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/TransactionAwareSubscriber.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/main/java/co/elastic/apm/agent/springwebflux/WebfluxHelper.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/test/java/co/elastic/apm/agent/springwebflux/AbstractServerInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webflux-spring5/src/test/java/co/elastic/apm/agent/springwebflux/ServletContainerTest.java
Labels: agent-java, community, triage

#3945 github-actions: ubuntu-20.04 will be fully retired by April 1, 2025
  .github/workflows/main.yml
Labels: agent-java

#3948 Fix inferred spans logging config option docs
  apm-agent-plugins/apm-profiling-plugin/src/main/java/co/elastic/apm/agent/profiler/ProfilingConfiguration.java
  docs/configuration.asciidoc
Labels: agent-java

#3940 remove obsolete tomcat docker image from integration tests
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/TomcatIT.java
Labels: agent-java

#3952 Investigate incorrect CI failure reporting
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/AbstractJdbcInstrumentationTest.java
  apm-agent-plugins/apm-jdbc-plugin/src/test/java/co/elastic/apm/agent/jdbc/JdbcDbIT.java
  apm-agent-plugins/apm-spring-resttemplate/apm-spring-resttemplate-plugin/src/test/java/co/elastic/apm/agent/resttemplate/SpringRestTemplateInstrumentationTest.java
  apm-agent-plugins/apm-spring-webflux/apm-spring-webclient-plugin/src/test/java/co/elastic/apm/agent/springwebclient/WebClientInstrumentationTest.java
  integration-tests/application-server-integration-tests/src/test/java/co/elastic/apm/servlet/JakartaeeTomcatWithSecurityManagerIT.java
  pom.xml
Labels: agent-java, ci:agent-integration

#3961 Add spring boot 3 tests for rabbitMQ / AMQP spring instrumentation
  apm-agent-builds/pom.xml
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/pom.xml
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/AmqpConstants.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/MessageBatchHelper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/MessageBatchIteratorWrapper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/MessageBatchListWrapper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/MessageListenerHelper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/SetMessageListenerInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/SpringAmqpBatchMessageListenerInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/SpringAmqpMessageListenerInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/SpringAmqpTransactionHelper.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/SpringAmqpTransactionNameUtil.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/SpringBaseInstrumentation.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/header/SpringRabbitMQTextHeaderGetter.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/header/package-info.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/java/co/elastic/apm/agent/rabbitmq/package-info.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/main/resources/META-INF/services/co.elastic.apm.agent.sdk.ElasticApmInstrumentation
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/AbstractAsyncRabbitMqTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/AbstractRabbitMqTest.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/AsyncRabbitListenerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/DirectMessageListenerContainerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/FanoutIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/LambdaSimpleMessageListenerContainerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/RabbitListenerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/RabbitMqTestBase.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/SimpleMessageListenerContainerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/SpringAmqpBatchIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/TestConstants.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/components/batch/BatchListenerComponent.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/BaseConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/BatchConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/CommonRabbitListenerConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/DefaultBindingSpringConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/DirectMessageListenerContainerConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/FanoutConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/LambdaMessageListenerConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/LambdaSimpleMessageListenerContainerConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/MessageListenerConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/RabbitListenerConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/ReplyRabbitListenerConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-spring5/src/test/java/co/elastic/apm/agent/rabbitmq/config/SimpleMessageListenerContainerConfiguration.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-test-spring6/pom.xml
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-test-spring6/src/test/java/co/elastic/apm/agent/rabbitmq/Spring6AsyncRabbitListenerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-test-spring6/src/test/java/co/elastic/apm/agent/rabbitmq/Spring6DirectMessageListenerContainerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-test-spring6/src/test/java/co/elastic/apm/agent/rabbitmq/Spring6FanoutIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-test-spring6/src/test/java/co/elastic/apm/agent/rabbitmq/Spring6LambdaSimpleMessageListenerContainerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-test-spring6/src/test/java/co/elastic/apm/agent/rabbitmq/Spring6RabbitListenerIT.java
  apm-agent-plugins/apm-rabbitmq/apm-rabbitmq-test-spring6/src/test/java/co/elastic/apm/agent/rabbitmq/Spring6SimpleMessageListenerContainerIT.java
  apm-agent-plugins/apm-rabbitmq/pom.xml
Labels: agent-java, ci:agent-integration
